schemas/CompanyService/V5.0/Schema/CompanyService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 2 (http://www.altova.com) by Punnoose (DUN & BRADSTREET) -->
<!--W3C XML Schema generated by XMLSpy v2012 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cy="http://services.dnb.com/CompanyServiceV2.0" targetNamespace="http://services.dnb.com/CompanyServiceV2.0" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="5.0">
	<xs:annotation>
		<xs:documentation>
Last Update Date: 2013-04-05
Build Number: Company_2013_04_05
      </xs:documentation>
	</xs:annotation>
	<xs:complexType name="BaseAddressType">
		<xs:complexContent>
			<xs:extension base="cy:SimpleAddress">
				<xs:sequence>
					<xs:element name="PostalCode" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="16"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="PostalCodeExtensionCode" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="16"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="TerritoryOfficialName" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="TerritoryAbbreviatedName" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="UndeliverableIndicator" type="xs:boolean" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BasePublicFilingSummary">
		<xs:sequence>
			<xs:element name="FilingTypeText" type="cy:DNBDecodedStringType" minOccurs="0"/>
			<xs:element name="TotalFilingsCount" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CheckRefreshCandidateDetail">
		<xs:annotation>
			<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of the information on a subject that has been updated in the last 90 days.
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DUNSNumber" type="cy:DUNSNumberType">
				<xs:annotation>
					<xs:documentation>
The D-U-N-S Number is DandBs identification number, which provides unique identification of this organization, in accordance with the Data Universal Numbering System (D-U-N-S).
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CheckRefreshResult" type="cy:TransactionResult" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of the information on a subject that has been updated in the last 90 days.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransferDUNSNumberRegistration" type="cy:TransferDUNSNumberRegistration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
An entry loop that repeats multiple times to allow the recording of changes to the D-U-N-S number over time. This section may include reasons for the change.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastUpdateDate" type="cy:DNBDateSimpleType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The date when the data recorded in the D&amp;amp;amp;B Database on this subject was last updated
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CheckRefreshInquiryDetail">
		<xs:sequence>
			<xs:element name="DUNSNumber" type="cy:DUNSNumberType"/>
			<xs:element name="CountryISOAlpha2Code" type="cy:CountryISOAlpha2Type"/>
			<xs:element name="RefreshCheckFromDate" type="xs:date"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CheckRefreshRequest" type="cy:CheckRefreshRequest"/>
	<xs:complexType name="CheckRefreshRequest">
		<xs:complexContent>
			<xs:extension base="cy:Request">
				<xs:sequence>
					<xs:element name="CheckRefreshRequestDetail" type="cy:CheckRefreshRequestDetail"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CheckRefreshRequestDetail">
		<xs:sequence>
			<xs:element name="InquiryDetail" type="cy:CheckRefreshInquiryDetail"/>
			<xs:element name="InquiryReferenceDetail" type="cy:InquiryReferenceDetail" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CheckRefreshResponse" type="cy:CheckRefreshResponse"/>
	<xs:complexType name="CheckRefreshResponse">
		<xs:complexContent>
			<xs:extension base="cy:Response">
				<xs:sequence>
					<xs:element name="CheckRefreshResponseDetail" type="cy:CheckRefreshResponseDetail" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CheckRefreshResponseDetail">
		<xs:sequence>
			<xs:element name="InquiryDetail" type="cy:CheckRefreshInquiryDetail"/>
			<xs:element name="RefreshAvailableIndicator" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
When turned ON (set to TRUE) this denotes that the information that DNB holds on its database for this subject has been updated since the customer last received the date on this subject. This includes when the subject has  been deleted and recertified to another DUNS Number.
When turned OFF (set to FALSE) this denotes that the information that DNB holds on its database for this subject has not been updated since the customer last received the date on this subject.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransferDUNSNumberRegistration" type="cy:TransferDUNSNumberRegistration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records the details related to the  changes in the registration number status of the D-U-N-S number.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InquiryReferenceDetail" type="cy:InquiryReferenceDetail" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CleanseAndStandardizeInquiryDetail">
		<xs:sequence>
			<xs:element name="OrganizationName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Text recording the name of the inquired organization by which it is known / identified.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address" type="cy:CleanseAndStandardizeRequestAddress">
				<xs:annotation>
					<xs:documentation>
Records the address details of an organization. An address is the designation of a place where a subject can be located or may be communicated with.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CleanseAndStandardizeRequest" type="cy:CleanseAndStandardizeRequest"/>
	<xs:complexType name="CleanseAndStandardizeRequest">
		<xs:annotation>
			<xs:documentation>
This operation allows the Customer/User to request the name and/or address for an organization be corrected and/or standardized in real time.
         </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cy:Request">
				<xs:sequence>
					<xs:element name="CleanseAndStandardizeRequestDetail" type="cy:CleanseAndStandardizeRequestDetail">
						<xs:annotation>
							<xs:documentation>
Records the name and/or address data for an organization provided by the customer to be corrected and/or standardized in real time.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CleanseAndStandardizeRequestAddress">
		<xs:complexContent>
			<xs:extension base="cy:CleanseAndStandardizeSimpleAddress">
				<xs:sequence>
					<xs:element name="CountyName" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
The name of the primary administrative division within the Territory or Country. Clarification Note:  As a guiding principle this is a geographic area which would be classified as a Province (except Canada) or a County. In the U.S. this would be a county within a State. In the UK this would be a county in one of the Home Nations. In Republic Of Ireland, this would be a county and there would be no Territory.
                     </xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="TerritoryName" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
The name of the locally governed area which forms part of a centrally governed nation.
Clarification Note:  As a guiding principle this is a geographic area which could theoretically exist as a separate nation. In the U.S. this would be a State. In the UK this would be one of the Home Nations.
                     </xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="PostalCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
An identifier used by the local country Postal Authority to identify a particular geographic location. For example, in Belgium, Postal Code 9000 identifies the town of GHENT.
                     </xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="32"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CleanseAndStandardizeRequestDetail">
		<xs:sequence>
			<xs:element name="InquiryDetail" type="cy:CleanseAndStandardizeInquiryDetail">
				<xs:annotation>
					<xs:documentation>
Records the name and/or address data provided by the customer to be corrected and/or standardized in real time.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InquiryReferenceDetail" type="cy:InquiryReferenceDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify information to be linked to the request in order to support subsequent order reconciliation.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CleanseAndStandardizeResponse" type="cy:CleanseAndStandardizeResponse"/>
	<xs:complexType name="CleanseAndStandardizeResponse">
		<xs:annotation>
			<xs:documentation>
This operation enables the Standardize engine to respond with the corrected and/or standardized name and/or address in real time based on the information provided by the Customer/User.
         </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cy:Response">
				<xs:sequence>
					<xs:element name="CleanseAndStandardizeResponseDetail" type="cy:CleanseAndStandardizeResponseDetail" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
Records the corrected and/or standardized name and/or address information in real time based on the information provided by the Customer/User.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CleanseAndStandardizeResponseDetail">
		<xs:sequence>
			<xs:element name="InquiryDetail" type="cy:CleanseAndStandardizeInquiryDetail">
				<xs:annotation>
					<xs:documentation>
Records the name and/or address data provided by the customer to be corrected and/or standardized in real time.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandardizedName" type="cy:StandardizedNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
An aggregate to record a name of the organization and this name is standardized for industry needs and effective matching.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandardizedAddress" type="cy:StandardizedAddress">
				<xs:annotation>
					<xs:documentation>
Records the address details which are corrected and formated to the unique requirements of the country&#8217;s postal system.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InquiryReferenceDetail" type="cy:InquiryReferenceDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify information to be linked to the request in order to support subsequent order reconciliation.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CleanseAndStandardizeResult">
		<xs:sequence>
			<xs:element name="StandardizedName" type="cy:StandardizedNameType" minOccurs="0"/>
			<xs:element name="StandardizedAddress" type="cy:StandardizedAddress" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CleanseAndStandardizeSimpleAddress">
		<xs:sequence>
			<xs:element name="StreetAddressLine" type="cy:StreetAddressLine" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of several street address lines of Inquired Business.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrimaryTownName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The name of the town or city recognized by the Postal Authority for delivering mail.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CountryISOAlpha2Code" type="cy:CountryISOAlpha2Type">
				<xs:annotation>
					<xs:documentation>
The two-letter country code, defined in the ISO 3166-1 scheme published by International Organization for Standardization (ISO), identifying the country for this address.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CleanseMatchSpecification">
		<xs:sequence>
			<xs:element name="CandidateMaximumQuantity" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A numeric value indicating the greatest number of candidate subjects that may be included in the result set.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ConfidenceLowerLevelThresholdValue" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A numeric value from 1 (low) up to 10 (high) indicating the required level of certainty at which a possible Candidate should be included in the result set.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExclusionCriteria" type="cy:ExclusionCriteria" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of filtering requirements that a service should apply to prevent subjects from being returned in a match response. For example exclude subjects from the candidate list that are out of business.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderReasonCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A DandB code value that defines the grounds for the customer requesting the product, e.g., required to support a credit decision.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="cy:DNBCodeValueType">
						<xs:totalDigits value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IncludeCleansedAndStandardizedInformationIndicator" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
When turned ON (set to TRUE), this denotes that the cleansed and standardized information should be included in the response.
When turned OFF (set to FALSE), this denotes that the cleansed and standardized information should not be included in the response.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CountryISOAlpha2Type">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CustomerReferenceText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="240"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DNBCodeValueType">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DNBDateSimpleType">
		<xs:union memberTypes="xs:date xs:gYear xs:gYearMonth"/>
	</xs:simpleType>
	<xs:complexType name="DNBDateType">
		<xs:simpleContent>
			<xs:extension base="cy:DNBDateSimpleType">
				<xs:attribute name="DatePrecisionText">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="192"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="DatePrecisionDNBCodeValue" type="cy:DNBCodeValueType"/>
				<xs:attribute name="DatePrecisionDNBCodeTableNumber" type="xs:int"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DNBDecodedStringType">
		<xs:simpleContent>
			<xs:extension base="cy:StringBaseType256">
				<xs:attribute name="DNBCodeValue" type="cy:DNBCodeValueType"/>
				<xs:attribute name="DNBCodeTableNumber" type="xs:int"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DNBStringType256">
		<xs:simpleContent>
			<xs:extension base="cy:StringBaseType256">
				<xs:attribute name="LanguageCode" type="cy:DNBCodeValueType"/>
				<xs:attribute name="WritingScriptISOAlpha4Code">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DUNSNumberSearchHistory">
		<xs:sequence>
			<xs:element name="FrequentlySearchedDUNSNumber" type="cy:FrequentlySearchedDUNSNumber" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="DUNSNumberNotUsedSearchCount" type="xs:int" minOccurs="0"/>
			<xs:element name="OtherDUNSNumberUsedSearchCount" type="xs:int" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DUNSNumberType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:pattern value="([0-9a-zA-Z]*)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DeliveryPointValidationCMRAEnum">
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
			<xs:enumeration value="Delivery Point Validated"/>
			<xs:enumeration value="Invalid Address"/>
			<xs:enumeration value="No DPV"/>
			<xs:enumeration value="No DPV Address"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DeliveryPointValidationDetail">
		<xs:sequence>
			<xs:element name="StatusValue" type="cy:DeliveryPointValidationStatusEnum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Delivery Point Validated - Submitted address is valid, including, if required for delivery, the secondary address: suite, room, floor or apartment #. This is equal to DSF Deliverability Indicator #1.
No DPV - Submitted address is invalid and possibly to definitely undeliverable. It might however, qualify for a ZIP+4. This is equal to DSF Deliverability Indicator #4 or higher or X.
DPV STE Bad - Secondary address invalid: submitted street address is valid, but the submitted secondary address - the suite, room, floor or apartment # -- required for delivery at this location, is incorrect. This address is possibly deliverable, at the letter carrier&apos;s option. This is equal to DSF Deliverability Indicator #2.
Missing STE - Secondary address missing: submitted street address is valid, but the secondary address - the suite, room, floor or apartment # -- required for delivery at this location, is missing. This address is possibly deliverable, at the letter carrier&apos;s option.
Invalid Address - Submitted address is invalid, undeliverable and could not be identified by DPV. This is a fictitious address on the DPV file designed to identify mis-use of USPS data. Contact your DB rep.
No DPV Address- DPV cannot categorize the input address.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CMRAValue" type="cy:DeliveryPointValidationCMRAEnum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Delivery Point Validated - The address is a valid Commercial Mail Receiving Agency (CMRA). A CMRA is a private business that accepts mail delivery from the Postal Service for others (addressee), holds it for pickup (in most cases a private mailbox (&quot;PMB&quot;) or re-mails it to another address with payment of new postage. (Example: &#8220;Mailboxes, Etc.&#8221;)
No DPV - The address is not a valid Commercial Mail Receiving Agency (CMRA).
Invalid Address - Submitted address is invalid, undeliverable and could not be identified by DPV. These are &#8220;decoy,&#8221; fantasy addresses.
No DPV Address - DPV cannot categorize the input address
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DeliveryPointValidationStatusEnum">
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
			<xs:enumeration value="Delivery Point Validated"/>
			<xs:enumeration value="DPV STE Bad"/>
			<xs:enumeration value="Invalid Address"/>
			<xs:enumeration value="Missing STE"/>
			<xs:enumeration value="No DPV"/>
			<xs:enumeration value="No DPV Address"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ExclusionCriteria">
		<xs:sequence>
			<xs:element name="ExclusionDataDescription" type="cy:ExclusionDataEnum">
				<xs:annotation>
					<xs:documentation>
Text that denotes an exclusion requirement that the Match process should apply to prevent subjects from being returned as candidates. For example if the value is specified as Out of Business, then the match process should not return any candidates that have an Operating Status which denotes Out Of Business.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ExclusionDataEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Exact Match"/>
			<xs:enumeration value="Exclude Non HeadQuarters"/>
			<xs:enumeration value="Exclude Non Marketable"/>
			<xs:enumeration value="Exclude Out of Business"/>
			<xs:enumeration value="Exclude Undeliverable"/>
			<xs:enumeration value="Exclude Unreachable"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FamilyTreeMemberRole">
		<xs:sequence>
			<xs:element name="FamilyTreeMemberRoleText" type="cy:DNBDecodedStringType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FilingLocation">
		<xs:sequence>
			<xs:element name="TerritoryName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CountryISOAlpha2Code" type="cy:CountryISOAlpha2Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FraudRiskScore">
		<xs:complexContent>
			<xs:extension base="cy:GetFraudScoreType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FraudScoreResult">
		<xs:sequence>
			<xs:element name="FraudRiskScore" type="cy:FraudRiskScore" minOccurs="0"/>
			<xs:element name="SearchHistoryDetail" type="cy:SearchHistoryDetail" minOccurs="0"/>
			<xs:element name="OrganizationMisrepresentationDetail" type="cy:OrganizationMisrepresentationDetail" minOccurs="0"/>
			<xs:element name="StandardizedAddressDetail" type="cy:GetFraudScoreStandardizedAddressDetail" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FrequentlySearchedDUNSNumber">
		<xs:sequence>
			<xs:element name="DUNSNumber" type="cy:DUNSNumberType"/>
			<xs:element name="SearchCount" type="cy:SearchCountBaseType"/>
			<xs:element name="ImportanceLevel" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FrequentlySearchedTelephoneNumber">
		<xs:sequence>
			<xs:element name="TelephoneNumber" type="cy:TelecommunicationNumberSimpleType"/>
			<xs:element name="SearchCount" type="cy:SearchCountBaseType"/>
			<xs:element name="ImportanceLevel" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetCleanseMatchRequest" type="cy:GetCleanseMatchRequest"/>
	<xs:complexType name="GetCleanseMatchRequest">
		<xs:complexContent>
			<xs:extension base="cy:Request">
				<xs:sequence>
					<xs:element name="GetCleanseMatchRequestDetail" type="cy:GetCleanseMatchRequestDetail"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetCleanseMatchRequestDetail">
		<xs:sequence>
			<xs:element name="InquiryDetail" type="cy:InquiryDetail"/>
			<xs:element name="MatchSpecification" type="cy:CleanseMatchSpecification" minOccurs="0"/>
			<xs:element name="InquiryReferenceDetail" type="cy:InquiryReferenceDetail" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetCleanseMatchResponse" type="cy:GetCleanseMatchResponse"/>
	<xs:complexType name="GetCleanseMatchResponse">
		<xs:complexContent>
			<xs:extension base="cy:Response">
				<xs:sequence>
					<xs:element name="GetCleanseMatchResponseDetail" type="cy:GetCleanseMatchResponseDetail" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetCleanseMatchResponseDetail">
		<xs:sequence>
			<xs:element name="InquiryDetail" type="cy:InquiryDetail"/>
			<xs:element name="MatchResponseDetail" type="cy:MatchResultDetail" minOccurs="0"/>
			<xs:element name="CleanseAndStandardizeResponseDetail" type="cy:CleanseAndStandardizeResult" minOccurs="0"/>
			<xs:element name="InquiryReferenceDetail" type="cy:InquiryReferenceDetail" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetFraudScoreCommentary">
		<xs:sequence>
			<xs:element name="ReasonCommentaryText" type="cy:DNBDecodedStringType"/>
			<xs:element name="ImportanceLevel" type="xs:int" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetFraudScoreInquiryDetail">
		<xs:sequence>
			<xs:element name="SubjectName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="240"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Address" type="cy:GetFraudScoreRequestAddress"/>
			<xs:element name="TelephoneNumber" type="cy:TelecommunicationNumberSimpleType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetFraudScoreMisrepresentationFileBaseAddressType">
		<xs:sequence>
			<xs:element name="StreetAddressLine" type="cy:StreetAddressLine" minOccurs="0"/>
			<xs:element name="PrimaryTownName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TerritoryAbbreviatedName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PostalCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CountryISOAlpha2Code" type="cy:CountryISOAlpha2Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetFraudScoreRequest" type="cy:GetFraudScoreRequest"/>
	<xs:complexType name="GetFraudScoreRequest">
		<xs:complexContent>
			<xs:extension base="cy:Request">
				<xs:sequence>
					<xs:element name="GetFraudScoreRequestDetail" type="cy:GetFraudScoreRequestDetail"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetFraudScoreRequestAddress">
		<xs:complexContent>
			<xs:extension base="cy:GetFraudScoreSimpleAddress">
				<xs:sequence>
					<xs:element name="TerritoryName" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="PostalCode" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="32"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetFraudScoreRequestDetail">
		<xs:sequence>
			<xs:element name="InquiryDetail" type="cy:GetFraudScoreInquiryDetail"/>
			<xs:element name="InquiryReferenceDetail" type="cy:InquiryReferenceDetail" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetFraudScoreResponse" type="cy:GetFraudScoreResponse"/>
	<xs:complexType name="GetFraudScoreResponse">
		<xs:complexContent>
			<xs:extension base="cy:Response">
				<xs:sequence>
					<xs:element name="GetFraudScoreResponseDetail" type="cy:GetFraudScoreResponseDetail" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetFraudScoreResponseDetail">
		<xs:sequence>
			<xs:element name="InquiryDetail" type="cy:GetFraudScoreInquiryDetail"/>
			<xs:element name="FraudRiskScore" type="cy:FraudRiskScore" minOccurs="0"/>
			<xs:element name="SearchHistoryDetail" type="cy:SearchHistoryDetail" minOccurs="0"/>
			<xs:element name="OrganizationMisrepresentationDetail" type="cy:OrganizationMisrepresentationDetail" minOccurs="0"/>
			<xs:element name="StandardizedAddressDetail" type="cy:GetFraudScoreStandardizedAddressDetail" minOccurs="0"/>
			<xs:element name="InquiryReferenceDetail" type="cy:InquiryReferenceDetail" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetFraudScoreSimpleAddress">
		<xs:sequence>
			<xs:element name="StreetAddressLine" type="cy:StreetAddressLine" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PrimaryTownName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CountryISOAlpha2Code" type="cy:CountryISOAlpha2Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetFraudScoreStandardizedAddressDetail">
		<xs:sequence>
			<xs:element name="PostalCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetFraudScoreType">
		<xs:annotation>
			<xs:documentation>
Contains all the sub-sections and elements belonging to the Scores Adv Data bucket.
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ScoreModelVersionNumber" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RawScore">
				<xs:simpleType>
					<xs:restriction base="xs:long">
						<xs:totalDigits value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ClassScore">
				<xs:annotation>
					<xs:documentation>
A one digit number from 0 to 5 based on the information in DNB file.  It indicates the probability of failure over the next 12 months.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ClassScoreDescription">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="240"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ScoreCommentary" type="cy:GetFraudScoreCommentary" maxOccurs="unbounded"/>
			<xs:element name="RiskIncidenceScoreableUniverseSubjectPercentage">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="5"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RiskIncidencePercentage">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="10"/>
						<xs:fractionDigits value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MultipleLowRiskOrganizationQuantity" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AddressReliabilityText" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AddressRiskLevelText" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TelecommunicationRiskLevelText" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TelecommunicationExchangeCarrierText" type="cy:StringBaseType256" minOccurs="0"/>
			<xs:element name="TelecommunicationAndAddressRiskLevelText" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="HistoricalSearchFraudRiskText" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetMatchAndFraudScoreRequest" type="cy:GetMatchAndFraudScoreRequest"/>
	<xs:complexType name="GetMatchAndFraudScoreRequest">
		<xs:complexContent>
			<xs:extension base="cy:Request">
				<xs:sequence>
					<xs:element name="GetMatchAndFraudScoreRequestDetail" type="cy:GetMatchAndFraudScoreRequestDetail"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetMatchAndFraudScoreRequestDetail">
		<xs:sequence>
			<xs:element name="InquiryDetail" type="cy:GetFraudScoreInquiryDetail"/>
			<xs:element name="MatchSpecification" type="cy:MatchSpecification" minOccurs="0"/>
			<xs:element name="InquiryReferenceDetail" type="cy:InquiryReferenceDetail" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetMatchAndFraudScoreResponse" type="cy:GetMatchAndFraudScoreResponse"/>
	<xs:complexType name="GetMatchAndFraudScoreResponse">
		<xs:complexContent>
			<xs:extension base="cy:Response">
				<xs:sequence>
					<xs:element name="GetMatchAndFraudScoreResponseDetail" type="cy:GetMatchAndFraudScoreResponseDetail" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetMatchAndFraudScoreResponseDetail">
		<xs:sequence>
			<xs:element name="InquiryDetail" type="cy:GetFraudScoreInquiryDetail"/>
			<xs:element name="MatchResponseDetail" type="cy:MatchResultDetail" minOccurs="0"/>
			<xs:element name="GetFraudScoreResponseDetail" type="cy:FraudScoreResult" minOccurs="0"/>
			<xs:element name="InquiryReferenceDetail" type="cy:InquiryReferenceDetail" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetRefreshByOrganizationsInquiryDetail">
		<xs:annotation>
			<xs:documentation>
Records data that allows the customer to specify identifying information about the subject being inquired, e.g., the DUNS Number, the CountryCode etc.
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DUNSNumber" type="cy:DUNSNumberType">
				<xs:annotation>
					<xs:documentation>
The D-U-N-S Number is DandBs identification number, which provides unique identification of this organization, in accordance with the Data Universal Numbering System (D-U-N-S).
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetRefreshByOrganizationsRequest" type="cy:GetRefreshByOrganizationsRequest"/>
	<xs:complexType name="GetRefreshByOrganizationsRequest">
		<xs:complexContent>
			<xs:extension base="cy:Request">
				<xs:sequence>
					<xs:element name="GetRefreshByOrganizationsRequestDetail" type="cy:GetRefreshByOrganizationsRequestDetail">
						<xs:annotation>
							<xs:documentation>
Records data relating to the details for the retrieving the refresh check data for a list of the subjects that have been updated in the last 90 days.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetRefreshByOrganizationsRequestDetail">
		<xs:annotation>
			<xs:documentation>
Records data relating to the details for the retrieving the refresh check data for a list of the subjects that have been updated in the last 90 days.
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="InquiryDetail" type="cy:GetRefreshByOrganizationsInquiryDetail" maxOccurs="1000">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify identifying information about the subject being inquired, e.g., the DUNS Number, the CountryCode etc.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InquiryReferenceDetail" type="cy:InquiryReferenceDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify information to be linked to the request in order to support subsequent requests.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetRefreshByOrganizationsResponse" type="cy:GetRefreshByOrganizationsResponse"/>
	<xs:complexType name="GetRefreshByOrganizationsResponse">
		<xs:complexContent>
			<xs:extension base="cy:Response">
				<xs:sequence>
					<xs:element name="GetRefreshByOrganizationsResponseDetail" type="cy:GetRefreshByOrganizationsResponseDetail" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
Records data returned by refresh check service for the list of inquired subjects that have been updated in the last 90 days.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetRefreshByOrganizationsResponseDetail">
		<xs:annotation>
			<xs:documentation>
Records data returned by refresh check service for the list of inquired subjects that have been updated in the last 90 days.
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CheckRefreshCandidateDetail" type="cy:CheckRefreshCandidateDetail" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of the information on a subject that has been updated in the last 90 days.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InquiryReferenceDetail" type="cy:InquiryReferenceDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify information to be linked to the request in order to support subsequent requests.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IndividualNameType">
		<xs:complexContent>
			<xs:extension base="cy:SubjectName">
				<xs:sequence>
					<xs:element name="NamePrefix" type="cy:NamePrefix" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="FirstName" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MiddleName" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="LastName" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="FullName" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="240"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="NameSuffix" type="cy:NameSuffix" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InquiryDetail">
		<xs:sequence>
			<xs:element name="DUNSNumber" type="cy:DUNSNumberType" minOccurs="0"/>
			<xs:element name="SubjectName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="240"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Address" type="cy:RequestAddress" minOccurs="0"/>
			<xs:element name="TelephoneNumber" type="cy:TelecommunicationNumberSimpleType" minOccurs="0"/>
			<xs:element name="OrganizationIdentificationNumberDetail" type="cy:OrganizationIdentificationNumberSimpleType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InquiryReferenceDetail">
		<xs:annotation>
			<xs:documentation>
Records data that allows the customer to specify information to be linked to the request in order to support subsequent requests.
         </xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="CustomerReferenceText" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>
A freeform reference string provided by the customer to be linked to the product in order to support subsequent order reconciliation.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="240"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomerBillingEndorsementText" type="cy:CustomerReferenceText" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Text that is filled in by customer and commonly contains requesting individual or department name, or customer&apos;s own account/reference number and/or name for the case on which the product was provided.This text is a reference used during the billing process.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MailAddressType">
		<xs:complexContent>
			<xs:extension base="cy:BaseAddressType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MatchBasis">
		<xs:sequence>
			<xs:element name="EndIndicator" type="xs:boolean" minOccurs="0"/>
			<xs:element name="SubjectTypeText" type="cy:SubjectType" minOccurs="0"/>
			<xs:element name="SeniorPrincipalIndicator" type="xs:boolean" minOccurs="0"/>
			<xs:element name="MatchBasisText" type="cy:DNBDecodedStringType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MatchDataProfileComponent">
		<xs:sequence>
			<xs:element name="MatchDataProfileComponentTypeText" type="cy:DNBDecodedStringType"/>
			<xs:element name="MatchDataProfileComponentValue">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="2"/>
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MatchGradeComponent">
		<xs:sequence>
			<xs:element name="MatchGradeComponentTypeText" type="cy:DNBDecodedStringType"/>
			<xs:element name="MatchGradeComponentRating" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MatchGradeComponentScore" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="24"/>
						<xs:fractionDigits value="21"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MatchQualityInformation">
		<xs:sequence>
			<xs:element name="ConfidenceCodeValue" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MatchBasis" type="cy:MatchBasis" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="MatchGradeText" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="11"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MatchGradeComponentCount" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The total number of constituent parts (e.g., Name, Street Number) that were used in the calculation of the Match Grade.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MatchGradeComponent" type="cy:MatchGradeComponent" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="MatchDataProfileText" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="28"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MatchDataProfileComponentCount" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The total number of constituent parts (e.g., Name, Street Number) that were used in the calculation of the Match Data Profile.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MatchDataProfileComponent" type="cy:MatchDataProfileComponent" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="MatchRequest" type="cy:MatchRequest"/>
	<xs:complexType name="MatchRequest">
		<xs:complexContent>
			<xs:extension base="cy:Request">
				<xs:sequence>
					<xs:element name="MatchRequestDetail" type="cy:MatchRequestDetail"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MatchRequestDetail">
		<xs:sequence>
			<xs:element name="InquiryDetail" type="cy:InquiryDetail"/>
			<xs:element name="MatchSpecification" type="cy:MatchSpecification" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records data used by a matching routine to identify the customer and search parameters.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InquiryReferenceDetail" type="cy:InquiryReferenceDetail" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="MatchResponse" type="cy:MatchResponse"/>
	<xs:complexType name="MatchResponse">
		<xs:complexContent>
			<xs:extension base="cy:Response">
				<xs:sequence>
					<xs:element name="MatchResponseDetail" type="cy:MatchResponseDetail" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MatchResponseDetail">
		<xs:sequence>
			<xs:element name="MatchDataCriteriaText" type="cy:DNBDecodedStringType" minOccurs="0"/>
			<xs:element name="CandidateMatchedQuantity">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MatchCandidate" type="cy:MatchResult" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="InquiryReferenceDetail" type="cy:InquiryReferenceDetail" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MatchResult">
		<xs:sequence>
			<xs:element name="DUNSNumber" type="cy:DUNSNumberType" minOccurs="0"/>
			<xs:element name="SubjectID" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OrganizationPrimaryName" type="cy:OrganizationPrimaryNameType"/>
			<xs:element name="TradeStyleName" type="cy:OrganizationNameBaseType" minOccurs="0"/>
			<xs:element name="SeniorPrincipalName" type="cy:IndividualNameType" minOccurs="0"/>
			<xs:element name="PrimaryAddress" type="cy:PrimaryAddressType" minOccurs="0"/>
			<xs:element name="MailingAddress" type="cy:MailAddressType" minOccurs="0"/>
			<xs:element name="TelephoneNumber" type="cy:TelecommunicationNumberType" minOccurs="0"/>
			<xs:element name="WebPageAddress" type="cy:WebPageAddressType" minOccurs="0"/>
			<xs:element name="OperatingStatusText" type="cy:DNBDecodedStringType" minOccurs="0"/>
			<xs:element name="FamilyTreeMemberRole" type="cy:FamilyTreeMemberRole" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="MarketabilityIndicator" type="xs:boolean" minOccurs="0"/>
			<xs:element name="StandaloneOrganizationIndicator" type="xs:boolean" minOccurs="0"/>
			<xs:element name="OrganizationIdentificationNumberDetail" type="cy:OrganizationIdentificationNumberType" minOccurs="0"/>
			<xs:element name="MatchQualityInformation" type="cy:MatchQualityInformation" minOccurs="0"/>
			<xs:element name="DisplaySequence" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MatchResultDetail">
		<xs:sequence>
			<xs:element name="MatchDataCriteriaText" type="cy:DNBDecodedStringType" minOccurs="0"/>
			<xs:element name="CandidateMatchedQuantity">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MatchCandidate" type="cy:MatchResult" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MatchSpecification">
		<xs:sequence>
			<xs:element name="CandidateMaximumQuantity" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A numeric value indicating the greatest number of candidate subjects that may be included in the result set.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ConfidenceLowerLevelThresholdValue" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A numeric value from 1 (low) up to 10 (high) indicating the required level of certainty at which a possible Candidate should be included in the result set.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExclusionCriteria" type="cy:ExclusionCriteria" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of filtering requirements that a service should apply to prevent subjects from being returned in a match response. For example exclude subjects from the candidate list that are out of business.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderReasonCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A DandB code value that defines the grounds for the customer requesting the product, e.g., required to support a credit decision.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="cy:DNBCodeValueType">
						<xs:totalDigits value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MatchTypeText" type="cy:MatchModeEnum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Text describing the nature of match to be applied during the match process. 
When MatchTypeText is set as 'SBRI', this indicates that the match will be performed against the D&amp;B Small Business repository. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Message"/>
	<xs:complexType name="NamePrefix">
		<xs:sequence>
			<xs:element name="NamePrefixText" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameSuffix">
		<xs:sequence>
			<xs:element name="NameSuffixText" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganizationIdentificationNumberSimpleType">
		<xs:sequence>
			<xs:element name="OrganizationIdentificationNumber">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="DNBCodeTableNumber" type="xs:int"/>
		<xs:attribute name="DNBCodeValue" type="cy:DNBCodeValueType"/>
		<xs:attribute name="TypeText" type="cy:StringBaseType256"/>
	</xs:complexType>
	<xs:complexType name="OrganizationIdentificationNumberType">
		<xs:annotation>
			<xs:documentation>
Registration Number Details
         </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cy:OrganizationIdentificationNumberSimpleType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrganizationMisrepresentationDetail">
		<xs:sequence>
			<xs:element name="ConfirmationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="OrganizationName" type="cy:OrganizationPrimaryNameType" minOccurs="0"/>
			<xs:element name="Address" type="cy:GetFraudScoreMisrepresentationFileBaseAddressType" minOccurs="0"/>
			<xs:element name="TelephoneNumber" type="cy:TelecommunicationNumberSimpleType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganizationNameBaseType">
		<xs:sequence>
			<xs:element name="OrganizationName" type="cy:DNBStringType256"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganizationPrimaryNameType">
		<xs:complexContent>
			<xs:extension base="cy:OrganizationNameBaseType">
				<xs:sequence/>
				<xs:attribute name="RegisteredNameIndicator" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>
When turned ON (set to true), the organization name presented is the name by which it is registered at a local or national registry. 
When turned OFF (set to false), the organization name presented is not the name by which it is registered at a local or national registry.
                  </xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PrimaryAddressType">
		<xs:complexContent>
			<xs:extension base="cy:BaseAddressType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PublicFiling">
		<xs:sequence>
			<xs:element name="OrganizationMatchedName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="240"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FilingLocation" type="cy:FilingLocation" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PublicFilingSearchSpecification">
		<xs:sequence>
			<xs:element name="CandidatePerPageMaximumQuantity" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExcludeClosedFilingsIndicator" type="xs:boolean" minOccurs="0"/>
			<xs:element name="SearchDirectionCode" type="cy:DNBCodeValueType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PublicFilingSummary">
		<xs:complexContent>
			<xs:extension base="cy:BasePublicFilingSummary">
				<xs:sequence>
					<xs:element name="TotalClosedFilingsCount" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:totalDigits value="7"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="TotalOpenFilingsCount" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:totalDigits value="7"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="RolePlayerSummarizedPublicFiling" type="cy:RolePlayerSummarizedPublicFiling" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RecentSearchHistory">
		<xs:sequence>
			<xs:element name="IndustryCode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IndustryCodeDescription">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="256"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SearchTimestamp" type="xs:dateTime"/>
			<xs:element name="ImportanceLevel" type="xs:int" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Request">
		<xs:complexContent>
			<xs:extension base="cy:Message">
				<xs:sequence>
					<xs:element name="TransactionDetail" type="cy:RequestTransactionDetail" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
Records information necessary to process a particular request. Examples of a request is the ordering of a product.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="ServiceVersionNumber" type="cy:ServiceVersionNumber">
					<xs:annotation>
						<xs:documentation>
A number assigned by D&amp;B which either uniquely identifies or helps to identify the state of this software deliverable. These numbers are generally assigned in increasing order and correspond to new releases in the software. For example 2.0.
                  </xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RequestAddress">
		<xs:complexContent>
			<xs:extension base="cy:SimpleAddress">
				<xs:sequence>
					<xs:element name="TerritoryName" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="FullPostalCode" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="32"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RequestTransactionDetail">
		<xs:sequence>
			<xs:element name="ApplicationTransactionID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Unique Transaction ID of the request generated by the service
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TransactionTimestamp" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The date and time when this request was created. When the request is from an intermediary, such as a workflow manager or service bus, this is the date and time when the message was sent to the D&amp;B function, i.e., the date and time when the xml document was created by the requesting intermediary.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubmittingOfficeID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number that identifies the system or the software application from where this request originated. / A number used to uniquely identfy the D&amp;amp;B business segment or delivery channel from where this request originated.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequestedPublicFilingDetail">
		<xs:sequence>
			<xs:element name="FilingTypeCode" type="cy:DNBCodeValueType"/>
			<xs:element name="FilingFromDate" type="xs:date" minOccurs="0"/>
			<xs:element name="FilingToDate" type="xs:date" minOccurs="0"/>
			<xs:element name="FilingStatusCode" type="cy:DNBCodeValueType" minOccurs="0"/>
			<xs:element name="CollateralTypeCode" minOccurs="0" maxOccurs="10">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FilingRolePlayerTypeCode" minOccurs="0" maxOccurs="10">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Response">
		<xs:complexContent>
			<xs:extension base="cy:Message">
				<xs:sequence>
					<xs:element name="TransactionDetail" type="cy:ResponseTransactionDetail">
						<xs:annotation>
							<xs:documentation>
Records information necessary to process a particular request. Examples of a request is the ordering of a product.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransactionResult" type="cy:TransactionResult">
						<xs:annotation>
							<xs:documentation>
An aggregate that can repeat multiple times to record the different outcomes of the transaction.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="ServiceVersionNumber" type="cy:ServiceVersionNumber" use="required">
					<xs:annotation>
						<xs:documentation>
A number assigned by D&amp;B which either uniquely identifies or helps to identify the state of this software deliverable. These numbers are generally assigned in increasing order and correspond to new releases in the software. For example 2.0.
                  </xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResponseTransactionDetail">
		<xs:sequence>
			<xs:element name="ApplicationTransactionID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Unique Transaction ID of the request generated by the service
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ServiceTransactionID">
				<xs:annotation>
					<xs:documentation>
A number assigned by the D&amp;B service to uniquely identify this transaction.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TransactionTimestamp" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>
The date and time when this request was created. When the request is from an intermediary, such as a workflow manager or service bus, this is the date and time when the message was sent to the D&amp;B function, i.e., the date and time when the xml document was created by the requesting intermediary.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResultMessage">
		<xs:sequence>
			<xs:element name="ResultDescription">
				<xs:annotation>
					<xs:documentation>
Text that describes the additional information regarding the outcome of the transaction.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RolePlayerSummarizedPublicFiling">
		<xs:sequence>
			<xs:element name="RolePlayerTypeText" type="cy:DNBDecodedStringType" minOccurs="0"/>
			<xs:element name="TotalOpenFilingsCount" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TotalClosedFilingsCount" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SICDivisionSearchHistory">
		<xs:sequence>
			<xs:element name="SICDivisionSearchHistoryDetail" type="cy:SICDivisionSearchHistoryDetail" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RecentSearchHistory" type="cy:RecentSearchHistory" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SICDivisionSearchHistoryDetail">
		<xs:sequence>
			<xs:element name="IndustryCodeDescription" type="cy:StringBaseType256" minOccurs="0"/>
			<xs:element name="SearchPeriodDetail" type="cy:SearchPeriodDetail" maxOccurs="unbounded"/>
			<xs:element name="TotalSearchCount" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchByFilingNameCandidate">
		<xs:complexContent>
			<xs:extension base="cy:PublicFiling">
				<xs:sequence>
					<xs:element name="PublicFilingSummary" type="cy:PublicFilingSummary" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="DisplaySequence" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:totalDigits value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SearchByFilingNameFilingLocation">
		<xs:sequence>
			<xs:element name="TerritoryName" minOccurs="0" maxOccurs="unbounded">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="240"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CountryISOAlpha2Code" type="cy:CountryISOAlpha2Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchByFilingNameInquiryDetail">
		<xs:sequence>
			<xs:element name="OrganizationSearchName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="240"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FilingLocation" type="cy:SearchByFilingNameFilingLocation" minOccurs="0"/>
			<xs:element name="HashedName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="17"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OrganizationExtendedSearchName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="240"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TerritoryExtendedSearchName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FilingDetail" type="cy:RequestedPublicFilingDetail" maxOccurs="25"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SearchByFilingNameRequest" type="cy:SearchByFilingNameRequest"/>
	<xs:complexType name="SearchByFilingNameRequest">
		<xs:complexContent>
			<xs:extension base="cy:Request">
				<xs:sequence>
					<xs:element name="SearchByFilingNameRequestDetail" type="cy:SearchByFilingNameRequestDetail"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SearchByFilingNameRequestDetail">
		<xs:sequence>
			<xs:element name="InquiryDetail" type="cy:SearchByFilingNameInquiryDetail"/>
			<xs:element name="PublicFilingSearchSpecification" type="cy:PublicFilingSearchSpecification" minOccurs="0"/>
			<xs:element name="InquiryReferenceDetail" type="cy:InquiryReferenceDetail" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SearchByFilingNameResponse" type="cy:SearchByFilingNameResponse"/>
	<xs:complexType name="SearchByFilingNameResponse">
		<xs:complexContent>
			<xs:extension base="cy:Response">
				<xs:sequence>
					<xs:element name="SearchByFilingNameResponseDetail" type="cy:SearchByFilingNameResponseDetail" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SearchByFilingNameResponseDetail">
		<xs:sequence>
			<xs:element name="CandidateMatchedQuantity" type="xs:int"/>
			<xs:element name="HashedName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="17"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SearchDirectionStatusText" type="cy:DNBDecodedStringType" minOccurs="0"/>
			<xs:element name="SearchDirectionText" type="cy:DNBDecodedStringType" minOccurs="0"/>
			<xs:element name="BestMatchCandidateDisplaySequence" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PublicFilingCandidate" type="cy:SearchByFilingNameCandidate" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="InquiryReferenceDetail" type="cy:InquiryReferenceDetail" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchByFilingNumberCandidate">
		<xs:sequence>
			<xs:element name="FilingNumber" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FilingOfficeDUNSNumber" type="cy:DUNSNumberType" minOccurs="0"/>
			<xs:element name="FilingOfficeName" type="cy:StringBaseType256"/>
			<xs:element name="FilingTerritoryName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PublicFilingSummary" type="cy:BasePublicFilingSummary" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchByFilingNumberFilingLocation">
		<xs:sequence>
			<xs:element name="TerritoryName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CountryISOAlpha2Code" type="cy:CountryISOAlpha2Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SearchByFilingNumberInquiryDetail">
		<xs:sequence>
			<xs:element name="FilingTypeCode" type="cy:DNBCodeValueType"/>
			<xs:element name="FilingNumber">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FilingLocation" type="cy:SearchByFilingNumberFilingLocation"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SearchByFilingNumberRequest" type="cy:SearchByFilingNumberRequest"/>
	<xs:complexType name="SearchByFilingNumberRequest">
		<xs:complexContent>
			<xs:extension base="cy:Request">
				<xs:sequence>
					<xs:element name="SearchByFilingNumberRequestDetail" type="cy:SearchByFilingNumberRequestDetail"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SearchByFilingNumberRequestDetail">
		<xs:sequence>
			<xs:element name="InquiryDetail" type="cy:SearchByFilingNumberInquiryDetail"/>
			<xs:element name="InquiryReferenceDetail" type="cy:InquiryReferenceDetail" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SearchByFilingNumberResponse" type="cy:SearchByFilingNumberResponse"/>
	<xs:complexType name="SearchByFilingNumberResponse">
		<xs:complexContent>
			<xs:extension base="cy:Response">
				<xs:sequence>
					<xs:element name="SearchByFilingNumberResponseDetail" type="cy:SearchByFilingNumberResponseDetail" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SearchByFilingNumberResponseDetail">
		<xs:sequence>
			<xs:element name="InquiryDetail" type="cy:SearchByFilingNumberInquiryDetail"/>
			<xs:element name="CandidateMatchedQuantity">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PublicFilingCandidate" type="cy:SearchByFilingNumberCandidate" maxOccurs="unbounded"/>
			<xs:element name="InquiryReferenceDetail" type="cy:InquiryReferenceDetail" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SearchCountBaseType">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:complexType name="SearchCountType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="DaysLowQuantity" type="xs:int"/>
				<xs:attribute name="DaysHighQuantity" type="xs:int"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SearchHistoryDetail">
		<xs:sequence>
			<xs:element name="MatchCount" type="xs:int" minOccurs="0"/>
			<xs:element name="SICDivisionSearchHistory" type="cy:SICDivisionSearchHistory" minOccurs="0"/>
			<xs:element name="DUNSNumberSearchHistory" type="cy:DUNSNumberSearchHistory" minOccurs="0"/>
			<xs:element name="TelephoneNumberSearchHistory" type="cy:TelephoneNumberSearchHistory" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="MatchModeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Advanced"/>
			<xs:enumeration value="Basic"/>
			<xs:enumeration value="SBRI"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SearchPeriodDetail">
		<xs:sequence>
			<xs:element name="SearchCount" type="cy:SearchCountType"/>
			<xs:element name="ImportanceLevel" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ServiceVersionNumber">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SeverityType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Error"/>
			<xs:enumeration value="Fatal"/>
			<xs:enumeration value="Information"/>
			<xs:enumeration value="Warning"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SimpleAddress">
		<xs:sequence>
			<xs:element name="StreetAddressLine" type="cy:StreetAddressLine" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PrimaryTownName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CountryISOAlpha2Code" type="cy:CountryISOAlpha2Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StandardizedAddress">
		<xs:sequence>
			<xs:element name="StreetAddressLine" type="cy:StreetAddressLine" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PrimaryTownName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CountyName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TerritoryAbbreviatedName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TerritoryName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PostalCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PostalCodeExtensionCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CountryISOAlpha2Code" type="cy:CountryISOAlpha2Type"/>
			<xs:element name="CountryName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DeliveryPointValidationDetail" type="cy:DeliveryPointValidationDetail" minOccurs="0"/>
			<xs:element name="AddressTypeValue" type="cy:StandardizedAddressTypeEnum" minOccurs="0"/>
			<xs:element name="InexactAddressIndicator" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="StandardizedAddressTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Firm"/>
			<xs:enumeration value="General Delivery"/>
			<xs:enumeration value="High Rise"/>
			<xs:enumeration value="Military"/>
			<xs:enumeration value="PO Box"/>
			<xs:enumeration value="Rural or Highway Route"/>
			<xs:enumeration value="Street"/>
			<xs:enumeration value="Unknown"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="StandardizedNameType">
		<xs:sequence>
			<xs:element name="OrganizationName" type="cy:DNBStringType256"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StreetAddressLine">
		<xs:sequence>
			<xs:element name="LineText">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="240"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="StringBaseType256">
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SubjectName" abstract="true"/>
	<xs:simpleType name="SubjectType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Affiliate"/>
			<xs:enumeration value="Branch"/>
			<xs:enumeration value="Business"/>
			<xs:enumeration value="Division"/>
			<xs:enumeration value="DomesticUltimate"/>
			<xs:enumeration value="GlobalUltimate"/>
			<xs:enumeration value="Headquarters"/>
			<xs:enumeration value="Parent"/>
			<xs:enumeration value="Single"/>
			<xs:enumeration value="Subsidiary"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TelecommunicationNumberSimpleType">
		<xs:sequence>
			<xs:element name="TelecommunicationNumber">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InternationalDialingCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TelecommunicationNumberType">
		<xs:complexContent>
			<xs:extension base="cy:TelecommunicationNumberSimpleType">
				<xs:sequence>
					<xs:element name="UnreachableIndicator" type="xs:boolean" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TelephoneNumberSearchHistory">
		<xs:sequence>
			<xs:element name="FrequentlySearchedTelephoneNumber" type="cy:FrequentlySearchedTelephoneNumber" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="TelephoneNumberNotUsedSearchCount" type="xs:int" minOccurs="0"/>
			<xs:element name="OtherTelephoneNumberUsedSearchCount" type="xs:int" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransactionResult">
		<xs:sequence>
			<xs:element name="SeverityText" type="cy:SeverityType">
				<xs:annotation>
					<xs:documentation>
Text that records the criticality of the outcome, e.g., Information, Warning, Error, Fatal.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResultID">
				<xs:annotation>
					<xs:documentation>
An alphanumeric string that uniquely identifies the outcome of the transaction.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ResultText" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Text that explains the outcome of the transaction.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ResultMessage" type="cy:ResultMessage" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An aggregate that can repeat multiple times to record textual data that expands on the ResultID and ResultText to provide additional information to the user regarding the status of the transaction. If the status implies that there is a problem this may also provide guidance to the user on how to address it.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransferDUNSNumberRegistration">
		<xs:annotation>
			<xs:documentation>
An entry loop that repeats multiple times to allow the recording of changes to the D-U-N-S number over time. This section may include reasons for the change.
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TransferredToDUNSNumber" type="cy:DUNSNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
This is the D-U-N-S number of the subject that is retained on the host database.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransferDate" type="cy:DNBDateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The date that the D-U-N-S number was deleted or transfer to a new D-U-N-S number.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransferReasonText" type="cy:DNBDecodedStringType">
				<xs:annotation>
					<xs:documentation>
Text identifying the reason that the D-U-N-S Number was deleted and possibly a new D-U-N-S Number was assigned to the subject.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WebPageAddressType">
		<xs:sequence>
			<xs:element name="TelecommunicationAddress">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="240"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UnreachableIndicator" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
