schemas/IndustryProductService/IndustryProductServiceV4.0/Schema/IndustryProductService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2012 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:inds="http://services.dnb.com/IndustryProductServiceV2.0" targetNamespace="http://services.dnb.com/IndustryProductServiceV2.0" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="3.1">
	<xs:annotation>
		<xs:documentation>
Last Update Date : 2015-04-14
      </xs:documentation>
	</xs:annotation>
	<xs:complexType name="ArchiveDetail">
		<xs:sequence>
			<xs:element name="ArchiveProductOptOutIndicator" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
When turned ON (set to TRUE), it indicates that the product being ordered is not to be stored. 
When turned OFF (set to FALSE), it indicates that the product being ordered is to be stored; however as this is the assumed condition there is no requirement to create this tag to represent this fact.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtendArchivePeriodIndicator" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
When turned ON (set to TRUE), the duration to archive the data is to be extended. Note: There is an additional cost for extending the archival period of the data purchased. 
When turned OFF (set to FALSE), the duration to archive the data is not to be extended.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PortfolioAssetContainerID" type="inds:PortfolioAssetContainerIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number used to uniquely identify the location where this product is to be stored.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChapterContentDetail">
		<xs:annotation>
			<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of the details recorded in the profile chapter.
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TitleText" type="inds:StringBaseType1000" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Text that records the title of the chapter content.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContentText" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Text that records the body of the chapter content as paragraphs.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="KeyFactText" type="inds:StringBaseType720" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
Text that records the body of the chapter content as short phrases or single sentences.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QuestionText" type="inds:StringBaseType256" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Text recording a question of interest related with the chapter content.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContactJobTitleDescription" type="inds:StringBaseType128" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Text that denotes a position held by the principal or manager to whom the question is directed.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WebPageURL" type="inds:StringBaseType256" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records the internet link of the original chapter content.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ImageURL" type="inds:StringBaseType256" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records the internet link of the images related to the chapter content.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubChapterDetail" type="inds:ProfileSubChapterDetail" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of the details on the minor divisions of the industry profile information.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ImportanceLevel" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number used to identify the relative importance of this chapter compared to other chapters listed in this profile.  The lower the importance level number, the more important is the chapter.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CustomerReferenceText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="240"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DNBCodeValueType">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DNBDecodedStringType">
		<xs:simpleContent>
			<xs:extension base="inds:StringBaseType256">
				<xs:attribute name="DNBCodeValue" type="inds:DNBCodeValueType">
					<xs:annotation>
						<xs:documentation>
A unique number assigned by D&amp;B to identify the fact recorded in this data element.
                  </xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="DNBCodeTableNumber" type="xs:int">
					<xs:annotation>
						<xs:documentation>
The identifier of the table in the D&amp;B Standard Code Table System (SCoTS) which has this unique D&amp;B code value.
                  </xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="DateTimestamp">
		<xs:annotation>
			<xs:documentation>
YYYY-MM-DDThh:mmTZD (eg 1997-07-16T19:20+01:00)
   Complete date plus hours, minutes and seconds:
            YYYY-MM-DDThh:mm:ssTZD (eg 1997-07-16T19:20:30+01:00)
   Complete date plus hours, minutes, seconds and a decimal fraction of a
second
            YYYY-MM-DDThh:mm:ss.sTZD (eg 1997-07-16T19:20:30.45+01:00)
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="IndustryChapterNameEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="IndustryOverview"/>
			<xs:enumeration value="QuarterlyIndustryUpdate"/>
			<xs:enumeration value="BusinessChallenges"/>
			<xs:enumeration value="TrendsAndOpportunities"/>
			<xs:enumeration value="ExecutiveInsight"/>
			<xs:enumeration value="CallPreparationQuestions"/>
			<xs:enumeration value="FinancialInformation"/>
			<xs:enumeration value="IndustryForecast"/>
			<xs:enumeration value="IndustryWebsites"/>
			<xs:enumeration value="GlossaryOfAcronyms"/>
			<xs:enumeration value="IndustryIndicators"/>
			<xs:enumeration value="FastFacts"/>
			<xs:enumeration value="All"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="IndustryCodeDescriptionType">
		<xs:simpleContent>
			<xs:extension base="inds:StringBaseType256">
				<xs:attribute name="IndustryCodeDescriptionLengthCode" type="inds:DNBCodeValueType">
					<xs:annotation>
						<xs:documentation>
A code indicating the maximum length of the industry code description expressed as the number of characters.
                  </xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="IndustryProfile">
		<xs:annotation>
			<xs:documentation>
Records the market analysis information on the industries as recorded by the data provider. The market analysis information may include critical analysis, statistics and forecasts to help your engage key prospects, coach key clients, and deepen customer relationships.
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DataProviderName" type="inds:DNBDecodedStringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Name identifying the source from which this data was originally obtained by DnB.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IndustryProfileDetail" type="inds:IndustryProfileDetail" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An entry loop which records the market analysis information on an industry as recorded by the data provider. The market analysis information may include critical analysis, statistics and forecasts to help your engage key prospects, coach key clients, and deepen customer relationships.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IndustryProfileDetail">
		<xs:sequence>
			<xs:element name="IndustryCode" type="inds:ResponseIndustryCodeType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of several business activities in which an organization is actively engaged using standardized coding schemes such as European NACE and U.S. Standard Industry Classifications (SIC).
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IndustryProfileChapterDetail" type="inds:IndustryChapterDetail" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of the details on the major divisions of the industry profile information.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RelatedIndustryCode" type="inds:ResponseIndustryCodeType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of several business activities that are related with the requested industry. These industry codes are recorded using standardized coding schemes such as European NACE and U.S. Standard Industry Classifications (SIC).
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InquiryDetail">
		<xs:sequence>
			<xs:element name="IndustryCode" type="inds:InquiryIndustryCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records the business activity using standardized coding schemes such as European NACE and U.S. Standard Industry Classifications (SIC)for which the profile information is requested.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Location" type="inds:RequestAddress" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records the components of a location for which the business activity profile information is requested.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InquiryIndustryCodeType">
		<xs:annotation>
			<xs:documentation>
Aggregate section containing multiple Industry Codes
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IndustryCode">
				<xs:annotation>
					<xs:documentation>
An alphanumeric value identifying a business activity based on the scheme specified by the typeText.  For instance, 1611 represents the highway and street construction industry in the U.S. SIC (Standard Industrial Classification) system.
Clarification Note:    These are generally external codes created by an external authoritative body, like the U.S. Office of Management and Budget (OMB), but D&amp;B may have created extensions to more precisely define an activity, as in the case of the SIC 2+2 (the last 4 digits of an 8-digit SIC).
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="DNBCodeTableNumber" type="xs:int">
			<xs:annotation>
				<xs:documentation>
The identifier of the table in the D&amp;B Standard Code Table System (SCoTS) which has this unique D&amp;B code value.
            </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DNBCodeValue" type="inds:DNBCodeValueType">
			<xs:annotation>
				<xs:documentation>
A unique number assigned by D&amp;B to identify the fact recorded in this data element.
            </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TypeText" type="inds:StringBaseType256">
			<xs:annotation>
				<xs:documentation>
Text that identifies the industry coding scheme for this Industry Code, e.g., U.S. Standard Industrial Classification (SIC) 1987, Standard Industry Code - 8 digit, North American Industry Classification System (NAICS), Nomenclature Generale des Activites Economiques dans L`Union Europeenne (NACE).
            </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="InquiryReferenceDetail">
		<xs:annotation>
			<xs:documentation>
Records data that allows the customer to specify information to be linked to the request in order to support subsequent requests.
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomerReferenceText" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>
A freeform reference string provided by the customer to be linked to the product in order to support subsequent order reconciliation.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="240"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomerBillingEndorsementText" type="inds:CustomerReferenceText" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Text that is filled in by customer and commonly contains requesting individual or department name, or customer&apos;s own account/reference number and/or name for the case on which the product was provided.This text is a reference used during the billing process.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LocationProfile">
		<xs:annotation>
			<xs:documentation>
Records the market analysis information on locations as recorded by the data provider. The market analysis information may include deliver industry and economic insight, employment and real estate trends, and valuable resource links for the location.
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DataProviderName" type="inds:DNBDecodedStringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Name identifying the source from which this data was originally obtained by DnB.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LocationProfileDetail" type="inds:LocationProfileDetail" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An entry loop which records the market analysis information on a location as recorded by the data provider. The market analysis information may include deliver industry and economic insight, employment and real estate trends, and valuable resource links for the location.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LocationProfileDetail">
		<xs:annotation>
			<xs:documentation>
Records the market analysis information on a location as recorded by the data provider. The market analysis information may include deliver industry and economic insight, employment and real estate trends, and valuable resource links for the location.
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Location" type="inds:ProfileLocation">
				<xs:annotation>
					<xs:documentation>
Records the address details for the location for which this profile information is returned.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LocationProfileChapterDetail" type="inds:IndustryChapterDetail" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of  the details on the major divisions of the location profile information.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RelatedIndustryCode" type="inds:ResponseIndustryCodeType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of several business activities that are related with the requested location. These industry codes are recorded using standardized coding schemes such as European NACE and U.S. Standard Industry Classifications (SIC).
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Message"/>
	<xs:element name="OrderProductRequest" type="inds:OrderProductRequest"/>
	<xs:complexType name="OrderProductRequest">
		<xs:annotation>
			<xs:documentation>
Records data relating to requests for a product or products. This may include such details as the type of product required, the subject about which the product should be produced, the content of the product.
         </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="inds:Request">
				<xs:sequence>
					<xs:element name="OrderProductRequestDetail" type="inds:OrderProductRequestDetail">
						<xs:annotation>
							<xs:documentation>
Records data relating to requests for a product. This may include such details as the product required, the subject about which the product should be produced, the content of the product.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrderProductRequestDetail">
		<xs:sequence>
			<xs:element name="InquiryDetail" type="inds:InquiryDetail">
				<xs:annotation>
					<xs:documentation>
Records the identifying information about the inquired industry; e.g., the Industry code.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductSpecification" type="inds:ProductSpecification">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify the details of the requested product. This may include details such as the identifier of the product, the language in which the product needs to be rendered, the format in which the product needs to be rendered.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArchiveDetail" type="inds:ArchiveDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify details about the archival of the product being requested.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InquiryReferenceDetail" type="inds:InquiryReferenceDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify information to be linked to the request in order to support subsequent order reconciliation.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="OrderProductResponse" type="inds:OrderProductResponse"/>
	<xs:complexType name="OrderProductResponse">
		<xs:annotation>
			<xs:documentation>
Records the data being returned to the customer as a result of a product request.
         </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="inds:Response">
				<xs:sequence>
					<xs:element name="OrderProductResponseDetail" type="inds:OrderProductResponseDetail" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
Records the data being returned to the customer as a result of a product request.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrderProductResponseDetail">
		<xs:sequence>
			<xs:element name="InquiryDetail" type="inds:InquiryDetail">
				<xs:annotation>
					<xs:documentation>
Records the identifying information about the inquired industry; e.g., the Industry code.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Product" type="inds:Product">
				<xs:annotation>
					<xs:documentation>
Records data about the product ordered by the customer and data about the organization on which the customer has placed this order.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InquiryReferenceDetail" type="inds:InquiryReferenceDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify information to be linked to the request in order to support subsequent order reconciliation.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PortfolioAssetContainerIDType">
		<xs:restriction base="xs:long"/>
	</xs:simpleType>
	<xs:simpleType name="PortfolioAssetIDType">
		<xs:restriction base="xs:long"/>
	</xs:simpleType>
	<xs:complexType name="PrimaryIndustryCodeType">
		<xs:annotation>
			<xs:documentation>
Aggregate section containing multiple Industry Codes
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IndustryCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
An alphanumeric value identifying a business activity based on the scheme specified by the typeText.  For instance, 1611 represents the highway and street construction industry in the U.S. SIC (Standard Industrial Classification) system.
Clarification Note:    These are generally external codes created by an external authoritative body, like the U.S. Office of Management and Budget (OMB), but D&amp;B may have created extensions to more precisely define an activity, as in the case of the SIC 2+2 (the last 4 digits of an 8-digit SIC).
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IndustryCodeDescription" type="inds:IndustryCodeDescriptionType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
Text that describes the business activity based on the scheme specified by the attribute typeText. E.g., &apos;highway and street construction&apos; is the description of industry code 1611 in the U.S. SIC (Standard Industrial Classification) system.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IndustryExplanationText" type="inds:StringBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Free form text describing the business activity.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="DNBCodeTableNumber" type="xs:int">
			<xs:annotation>
				<xs:documentation>
The identifier of the table in the D&amp;B Standard Code Table System (SCoTS) which has this unique D&amp;B code value.
            </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DNBCodeValue" type="inds:DNBCodeValueType">
			<xs:annotation>
				<xs:documentation>
A unique number assigned by D&amp;B to identify the fact recorded in this data element.
            </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TypeText" type="inds:StringBaseType256">
			<xs:annotation>
				<xs:documentation>
Text that identifies the industry coding scheme for this Industry Code, e.g., U.S. Standard Industrial Classification (SIC) 1987, Standard Industry Code - 8 digit, North American Industry Classification System (NAICS), Nomenclature Generale des Activites Economiques dans L`Union Europeenne (NACE).
            </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Product">
		<xs:sequence>
			<xs:element name="DNBProductID" type="inds:ProductCode">
				<xs:annotation>
					<xs:documentation>
An alphanumeric string that uniquely identifies this product.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LanguageCode" type="inds:DNBCodeValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A D&amp;B code value that defines the language in which the requested product is fulfilled.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IndustryProfile" type="inds:IndustryProfile" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records the market analysis information on the industries as recorded by the data provider. The market analysis information may include critical analysis, statistics and forecasts to help your engage key prospects, coach key clients, and deepen customer relationships.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LocationProfile" type="inds:LocationProfile" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records the market analysis information on locations as recorded by the data provider. The market analysis information may include deliver industry and economic insight, employment and real estate trends, and valuable resource links for the location.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArchiveDetail" type="inds:ResponseArchiveDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records data about the archival details of the product requested.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ProductCode">
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ProductSpecification">
		<xs:sequence>
			<xs:element name="DNBProductID">
				<xs:annotation>
					<xs:documentation>
An alphanumeric string that uniquely identifies the product being requested.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LanguagePreferenceCode" type="inds:DNBCodeValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A D&amp;B code value that defines the language in which the customer wants this product to be rendered.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProfileChapterName" type="inds:IndustryChapterNameEnum" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
Name identifying the major division of the business activity profile information.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IndustryChapterDetail">
		<xs:sequence>
			<xs:element name="ChapterName" type="inds:StringBaseType256">
				<xs:annotation>
					<xs:documentation>
Name of the major division of the profile information.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChapterContentDetail" type="inds:ChapterContentDetail" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of the details recorded in the profile chapter.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProfileLocation">
		<xs:sequence>
			<xs:element name="TerritoryName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The name of the locally governed area which forms part of a centrally governed nation as received by D&amp;B.
Clarification Note:  As a guiding principle this is a geographic area which could theoretically exist as a separate nation. In the U.S. this would be a State. In the UK this would be one of the Home Nations.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ISOCountrySubDivisionCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Code represented in ISO 3166-2 scheme defining the name of a principal subdivision (e.g., province or state) of a country coded in ISO 3166-1; e.g., US-NJ represents the state New Jersey in United States, CA-ON represents the province Ontario in Canada.
The first part is the ISO 3166-1 alpha-2 code of the country; The second part is a string of up to three alphanumeric characters, which is usually obtained from national sources and stems from coding systems already in use in the country concerned, but may also be developed by the ISO itself.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ImageURL" type="inds:StringBaseType256" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records the internet link of the images related to the location.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProfileSubChapterDetail">
		<xs:annotation>
			<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of the details on the minor divisions of the industry profile information.
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SubChapterName" type="inds:StringBaseType256">
				<xs:annotation>
					<xs:documentation>
Name of the minor division of the profile information.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubChapterContentDetail" type="inds:SubChapterContentDetail" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of the details recorded in the profile sub chapter.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Request">
		<xs:complexContent>
			<xs:extension base="inds:Message">
				<xs:sequence>
					<xs:element name="TransactionDetail" type="inds:RequestTransactionDetail" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
Records information necessary to process this request.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="ServiceVersionNumber" type="inds:ServiceVersionNumber">
					<xs:annotation>
						<xs:documentation>
A number assigned by D&amp;B which either uniquely identifies or helps to identify the state of this software deliverable. These numbers are generally assigned in increasing order and correspond to new releases in the software. For example 2.0.
                  </xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RequestAddress">
		<xs:complexContent>
			<xs:extension base="inds:SimpleAddress">
				<xs:sequence>
					<xs:element name="ISOCountrySubDivisionCode">
						<xs:annotation>
							<xs:documentation>
Code represented in ISO 3166-2 scheme defining the name of a principal subdivision (e.g., province or state) of a country coded in ISO 3166-1; e.g., US-NJ represents the state New Jersey in United States, CA-ON represents the province Ontario in Canada.
The first part is the ISO 3166-1 alpha-2 code of the country; The second part is a string of up to three alphanumeric characters, which is usually obtained from national sources and stems from coding systems already in use in the country concerned, but may also be developed by the ISO itself.
                     </xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="6"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RequestTransactionDetail">
		<xs:annotation>
			<xs:documentation>
Records information necessary to process a particular request. Examples of a request is the ordering of a product.
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ApplicationTransactionID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number assigned by the calling application to uniquely identify this request.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TransactionTimestamp" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The date and time when this request was created. When the request is from an intermediary, such as a workflow manager or service bus, this is the date and time when the message was sent to the D&amp;B function, i.e., the date and time when the xml document was created by the requesting intermediary.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubmittingOfficeID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number that identifies the system or the software application from where this request originated. / A number used to uniquely identfy the D&amp;amp;B business segment or delivery channel from where this request originated.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Response">
		<xs:complexContent>
			<xs:extension base="inds:Message">
				<xs:sequence>
					<xs:element name="TransactionDetail" type="inds:ResponseTransactionDetail">
						<xs:annotation>
							<xs:documentation>
Records information necessary to process a particular request. Examples of a request is the ordering of a product.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransactionResult" type="inds:TransactionResult">
						<xs:annotation>
							<xs:documentation>
An aggregate that can repeat multiple times to record the different outcomes of the transaction.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="ServiceVersionNumber" type="inds:ServiceVersionNumber">
					<xs:annotation>
						<xs:documentation>
A number assigned by D&amp;B which either uniquely identifies or helps to identify the state of this software deliverable. These numbers are generally assigned in increasing order and correspond to new developments in the software. E.g., 2.0.
                  </xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResponseArchiveDetail">
		<xs:sequence>
			<xs:element name="PortfolioAssetID" type="inds:PortfolioAssetIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number used to uniquely identify this product in the location where it is stored.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PortfolioAssetContainerID" type="inds:PortfolioAssetContainerIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number used to uniquely identify the location where this product is stored.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtendedArchiveIndicator" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
When turned ON (set to TRUE), the duration to archive the data has been extended.
When turned OFF (set to FALSE), the duration to archive the data was not extended; however as this is the assumed condition there is no requirement to create this tag to represent this fact.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResponseIndustryCodeType">
		<xs:complexContent>
			<xs:extension base="inds:PrimaryIndustryCodeType">
				<xs:sequence>
					<xs:element name="DisplaySequence" type="xs:int" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
A number which may be used to define the order in which this industry code should be presented relative to other industry codes of the same type where the lower the number the earlier the data is presented.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResponseTransactionDetail">
		<xs:sequence>
			<xs:element name="ApplicationTransactionID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number assigned by the calling application to uniquely identify this request.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ServiceTransactionID">
				<xs:annotation>
					<xs:documentation>
A number assigned by the D&amp;B service to uniquely identify this transaction.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TransactionTimestamp" type="inds:DateTimestamp">
				<xs:annotation>
					<xs:documentation>
The date and time when this request was submitted or the date and time when the requesting intermediary, such as a workflow manager or service bus, sent the message to the D&amp;B function, i.e., the date and time when the xml document was created by the requesting intermediary.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResultMessage">
		<xs:sequence>
			<xs:element name="ResultMessageID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
An alphanumeric string that uniquely identifies the additional information regarding the outcome of the transaction.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResultDescription">
				<xs:annotation>
					<xs:documentation>
Text that describes the additional information regarding the outcome of the transaction.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NonSpecificDataProviderText" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Text that describes, in general terms, the source from which the Result Message data was originally obtained by D&amp;B; e.g. Credit Bureau.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RetrieveProductArchiveDetail">
		<xs:sequence>
			<xs:element name="PortfolioAssetID" type="inds:PortfolioAssetIDType">
				<xs:annotation>
					<xs:documentation>
An identifier which unqiuely identifies a report in the users  portfolio.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PortfolioAssetContainerID" type="inds:PortfolioAssetContainerIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number used to uniquely identify the location where this product is to be stored.

               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RetrieveProductRequest" type="inds:RetrieveProductRequest"/>
	<xs:complexType name="RetrieveProductRequest">
		<xs:annotation>
			<xs:documentation>
Records data relating to the request for retrieving the archived reports/products and investigation reports and also the transaction information associated with this request.
         </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="inds:Request">
				<xs:sequence>
					<xs:element name="RetrieveProductRequestDetail" type="inds:RetrieveProductRequestDetail">
						<xs:annotation>
							<xs:documentation>
Records data relating to the request for retrieving the archived reports/products and investigation reports.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RetrieveProductRequestDetail">
		<xs:sequence>
			<xs:element name="ArchiveDetail" type="inds:RetrieveProductArchiveDetail">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify details about the archival of the product being requested.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RetrieveProductResponse" type="inds:RetrieveProductResponse"/>
	<xs:complexType name="RetrieveProductResponse">
		<xs:annotation>
			<xs:documentation>
Records the archived report/product being returned to the customer as a result of a request, based on user&apos;s input criteria and transaction information associated with it. If the system is unable to retrieve the archived report, it should return the failure response along with the cause for failure.
         </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="inds:Response">
				<xs:sequence>
					<xs:element name="RetrieveProductResponseDetail" type="inds:RetrieveProductResponseDetail" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
Records the data being returned to the customer as a result of a request for retrieving the archived reports/products based on user&apos;s input criteria.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RetrieveProductResponseDetail">
		<xs:sequence>
			<xs:element name="Product" type="inds:Product">
				<xs:annotation>
					<xs:documentation>
Records data about the product ordered by the customer and data about the organization on which the customer has placed this order.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InquiryReferenceDetail" type="inds:InquiryReferenceDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify information to be linked to the request in order to support subsequent order reconciliation.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ServiceVersionNumber">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SeverityType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
			<xs:enumeration value="Error"/>
			<xs:enumeration value="Fatal"/>
			<xs:enumeration value="Information"/>
			<xs:enumeration value="Warning"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SimpleAddress"/>
	<xs:simpleType name="StringBaseType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringBaseType1000">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringBaseType128">
		<xs:restriction base="xs:string">
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringBaseType256">
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringBaseType720">
		<xs:restriction base="xs:string">
			<xs:maxLength value="720"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SubChapterContentDetail">
		<xs:annotation>
			<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of the details recorded in the profile sub chapter.
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TitleText" type="inds:StringBaseType256" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Text that records the title of the sub chapter content.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContentText" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Text that records the body of the sub chapter content as paragraphs.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KeyFactText" type="inds:StringBaseType256" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
Text that records the body of the sub chapter content as short phrases or single sentences.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QuestionText" type="inds:StringBaseType256" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Text recording a question of interest related with the sub chapter content.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContactJobTitleDescription" type="inds:StringBaseType128" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Text that denotes a position held by the principal or manager to whom the question is directed.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WebPageURL" type="inds:StringBaseType256" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records the internet link of the original sub chapter content.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ImageURL" type="inds:StringBaseType256" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records the internet link of the images related to the sub chapter content.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ImportanceLevel" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number used to identify the relative importance of this sub chapter compared to other sub chapters listed in this chapter.  The lower the importance level number, the more important is the sub chapter.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransactionResult">
		<xs:sequence>
			<xs:element name="SeverityText" type="inds:SeverityType">
				<xs:annotation>
					<xs:documentation>
Text that records the criticality of the outcome, e.g., Information, Warning, Error, Fatal.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResultID">
				<xs:annotation>
					<xs:documentation>
An alphanumeric string that uniquely identifies the outcome of the transaction.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ResultText" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Text that explains the outcome of the transaction.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ResultMessage" type="inds:ResultMessage" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An aggregate that can repeat multiple times to record textual data that expands on the ResultID and ResultText to provide additional information to the user regarding the status of the transaction. If the status implies that there is a problem this may also provide guidance to the user on how to address it.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
