src/main/generated-java/com/dnb/services/newsandmediaproduct/NewsAndMediaProductService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 2 (http://www.altova.com) by Punnoose (DUN & BRADSTREET) -->
<!--W3C XML Schema generated by XMLSpy v2012 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nms="http://services.dnb.com/NewsAndMediaProductServiceV2.0" targetNamespace="http://services.dnb.com/NewsAndMediaProductServiceV2.0" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="3.0">
	<xs:annotation>
		<xs:documentation>
Last Update Date : 2013-06-19
      </xs:documentation>
	</xs:annotation>
	<xs:complexType name="ArchiveDetail">
		<xs:sequence>
			<xs:element name="ArchiveProductOptOutIndicator" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
When turned ON (set to TRUE), it indicates that the product being ordered is not to be stored. 
When turned OFF (set to FALSE), it indicates that the product being ordered is to be stored; however as this is the assumed condition there is no requirement to create this tag to represent this fact.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtendArchivePeriodIndicator" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
When turned ON (set to true), the duration to archive the data is to be extended. Note: There is an additional cost for extending the archival period of the data purchased. 
When turned OFF (set to false), the duration to archive the data is not to be extended.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PortfolioAssetContainerID" type="nms:PortfolioAssetContainerIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number used to uniquely identify the location where this product is to be stored.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseAddressType">
		<xs:complexContent>
			<xs:extension base="nms:SimpleAddress">
				<xs:sequence>
					<xs:element name="TerritoryAbbreviatedName" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
The shortened name of the locally governed area which forms part of a centrally governed nation. For example &apos;NJ&apos; for the US State New Jersey within Country United States of America.
                     </xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="PostalCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
An identifier used by the local country Postal Authority to identify a particular geographic location. For example, in Belgium, Postal Code 9000 identifies the town of GHENT.
                     </xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="16"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="CountyOfficialName" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="TerritoryOfficialName" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="LanguageCode" type="nms:DNBCodeValueType">
					<xs:annotation>
						<xs:documentation>
A D&amp;B code value that defines the language in which the data is presented.
                  </xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="WritingScriptCode" type="nms:DNBCodeValueType">
					<xs:annotation>
						<xs:documentation>
A D&amp;B code value that defines the set of graphic characters used for the written form of one or more languages, in which this data is presented.
                  </xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="CountryISOAlpha2Type">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CustomerReferenceText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="240"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTimestamp">
		<xs:annotation>
			<xs:documentation>
YYYY-MM-DDThh:mmTZD (eg 1997-07-16T19:20+01:00)
   Complete date plus hours, minutes and seconds:
            YYYY-MM-DDThh:mm:ssTZD (eg 1997-07-16T19:20:30+01:00)
   Complete date plus hours, minutes, seconds and a decimal fraction of a
second
            YYYY-MM-DDThh:mm:ss.sTZD (eg 1997-07-16T19:20:30.45+01:00)
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="DNBCodeValueType">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DNBDateSimpleType">
		<xs:union memberTypes="xs:date xs:gYear xs:gYearMonth"/>
	</xs:simpleType>
	<xs:complexType name="DNBDateType">
		<xs:simpleContent>
			<xs:extension base="nms:DNBDateSimpleType">
				<xs:attribute name="DatePrecisionText">
					<xs:annotation>
						<xs:documentation>
Text denoting the degree to which the date is accurate, i.e., the full date is valid, only the month and year are valid, only the year is valid.
                  </xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="192"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="DatePrecisionDNBCodeValue" type="nms:DNBCodeValueType">
					<xs:annotation>
						<xs:documentation>
The D&amp;B code value denoting the degree to which the date is accurate.
                  </xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="DatePrecisionDNBCodeTableNumber" type="xs:int">
					<xs:annotation>
						<xs:documentation>
The identifier of the table in the D&amp;B Standard Code Table System (SCoTS) which has this unique D&amp;B code value.
                  </xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DNBDecodedStringType">
		<xs:simpleContent>
			<xs:extension base="nms:StringBaseType256">
				<xs:attribute name="DNBCodeValue" type="nms:DNBCodeValueType">
					<xs:annotation>
						<xs:documentation>
A unique number assigned by D&amp;B to identify the fact recorded in this data element.
                  </xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="DNBCodeTableNumber" type="xs:int">
					<xs:annotation>
						<xs:documentation>
The identifier of the table in the D&amp;B Standard Code Table System (SCoTS) which has this unique D&amp;B code value.
                  </xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DNBStringType256">
		<xs:simpleContent>
			<xs:extension base="nms:StringBaseType256">
				<xs:attribute name="LanguageCode" type="nms:DNBCodeValueType">
					<xs:annotation>
						<xs:documentation>
A D&amp;B code value that defines the language in which the data is presented.
                  </xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="WritingScriptISOAlpha4Code">
					<xs:annotation>
						<xs:documentation>
The four-letter code identifying the set of graphic characters used for the written form of one or more languages, defined in the ISO 15924 scheme published by International Organization for Standardization (ISO) in which this data is presented.
                  </xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="DUNSNumberType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:pattern value="([0-9a-zA-Z]*)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FamilyTreeMemberRole">
		<xs:complexContent>
			<xs:extension base="nms:Role">
				<xs:sequence>
					<xs:element name="FamilyTreeMemberRoleText" type="nms:DNBDecodedStringType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InquiryDetail">
		<xs:annotation>
			<xs:documentation>
Records data that allows the customer to specify identifying information about the subject being inquired, e.g., the DUNS Number, the CountryCode etc.
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DUNSNumber" type="nms:DUNSNumberType">
				<xs:annotation>
					<xs:documentation>
The D-U-N-S Number is D&amp;B&apos;s identification number, which provides unique identification of this organization, in accordance with the Data Universal Numbering System (D-U-N-S).
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryISOAlpha2Code" type="nms:CountryISOAlpha2Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InquiryReferenceDetail">
		<xs:sequence>
			<xs:element name="CustomerReferenceText" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>
A freeform reference string provided by the customer to be linked to the product in order to support subsequent order reconciliation.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="240"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomerBillingEndorsementText" type="nms:CustomerReferenceText" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Text that is filled in by customer and commonly contains requesting individual or department name, or customer&apos;s own account/reference number and/or name for the case on which the product was provided.This text is a reference used during the billing process.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Location">
		<xs:annotation>
			<xs:documentation>
Records the address details for a subject. An address is the designation of a place where a subject can be located or may be communicated with, e.g., primary address, registered address, mailing address.
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PrimaryAddress" type="nms:PrimaryAddressType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An entry loop to allow the recording of a single primary or physical address of the subject in multiple languages and/or writing scripts. For an organization this is the principal address at which the organization is located. For an individual, this is the home address.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MailingAddress" type="nms:MailAddressType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of address which is mainly utilized for the purpose of mail delivery. This usually includes a Post Office Box number or similar mailing details.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MailAddressType">
		<xs:complexContent>
			<xs:extension base="nms:BaseAddressType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="News">
		<xs:annotation>
			<xs:documentation>
Records the details on news publications collected for this subject and the details of the online service, platform, or site that focuses on facilitating the building of social networks or social relations among people in which this subject is a participant.
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NewsDetails" type="nms:NewsDetails" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of the news publications on this subject.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="NewsCategoryTextEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Awards"/>
			<xs:enumeration value="Bankruptcy"/>
			<xs:enumeration value="Earnings Release"/>
			<xs:enumeration value="Executive Activity"/>
			<xs:enumeration value="Executive Announcement"/>
			<xs:enumeration value="Executive Quote"/>
			<xs:enumeration value="Expansion"/>
			<xs:enumeration value="Financial News"/>
			<xs:enumeration value="Funding"/>
			<xs:enumeration value="Management Change"/>
			<xs:enumeration value="Merger and Acquisition"/>
			<xs:enumeration value="New Alliance"/>
			<xs:enumeration value="New Product"/>
			<xs:enumeration value="Reduction"/>
			<xs:enumeration value="Regulation or Litigation"/>
			<xs:enumeration value="Restructure"/>
			<xs:enumeration value="Wins"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="NewsDetails">
		<xs:annotation>
			<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of the news publications on this subject.
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PublishedDateTimestamp" type="nms:DateTimestamp" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The date and time when the news was published.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SourceDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A textual description of the publication source for the news item.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CategoryText" type="nms:DNBDecodedStringType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
Text that denotes the broader classification of the news based on the type of information.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TitleText" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Text that records the title of the news item.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="256"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ContentText" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Text that records the body of the news item.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="WebPageURL" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Text identifying the internet URL of the published news.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NewsSpecification">
		<xs:annotation>
			<xs:documentation>
Records the parameters for refining the news information returned in the product
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PublishedFromDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The date from when the published news should be returned in the response.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PublishedToDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The date till when the published news should be returned in the response
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CategoryText" type="nms:NewsCategoryTextEnum" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
Text that denotes the broader classification of the news based on the type of information.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="OrderProductRequest" type="nms:OrderProductRequest"/>
	<xs:complexType name="OrderProductRequest">
		<xs:complexContent>
			<xs:extension base="nms:Request">
				<xs:sequence>
					<xs:element name="OrderProductRequestDetail" type="nms:OrderProductRequestDetail"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrderProductRequestDetail">
		<xs:sequence>
			<xs:element name="InquiryDetail" type="nms:InquiryDetail">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify identifying information about the subject being inquired, e.g., the DUNS Number, the CountryCode etc.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductSpecification" type="nms:ProductSpecification">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify the details of the requested product. This may include details such as the identifier of the product, the language in which the product needs to be rendered, the format in which the product needs to be rendered.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArchiveDetail" type="nms:ArchiveDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify details about the archival of the product being requested.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InquiryReferenceDetail" type="nms:InquiryReferenceDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify information to be linked to this request in order to support subsequent order reconciliation.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="OrderProductResponse" type="nms:OrderProductResponse"/>
	<xs:complexType name="OrderProductResponse">
		<xs:complexContent>
			<xs:extension base="nms:Response">
				<xs:sequence>
					<xs:element name="OrderProductResponseDetail" type="nms:OrderProductResponseDetail" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrderProductResponseDetail">
		<xs:sequence>
			<xs:element name="InquiryDetail" type="nms:ProductResponseInquiryDetail">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify identifying information about the subject being inquired, e.g., the DUNS Number, the address, the telephone number.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Product" type="nms:Product">
				<xs:annotation>
					<xs:documentation>
Records data about the product ordered by the customer and data about the organization on which the customer has placed this order.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InquiryReferenceDetail" type="nms:InquiryReferenceDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify information to be linked to the request in order to support subsequent order reconciliation.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Organization">
		<xs:complexContent>
			<xs:extension base="nms:Subject">
				<xs:sequence>
					<xs:element name="OrganizationName" type="nms:OrganizationName" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
Records the different names of the organization by which it is known as well as names of other organizations that have a similar name to this organization.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrganizationDetail" type="nms:OrganizationDetail" minOccurs="0"/>
					<xs:element name="News" type="nms:News" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
Records the details on news publications collected for this subject and the details of the online service, platform, or site that focuses on facilitating the building of social networks or social relations among people in which this subject is a participant.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrganizationDetail">
		<xs:sequence>
			<xs:element name="FamilyTreeMemberRole" type="nms:FamilyTreeMemberRole" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="StandaloneOrganizationIndicator" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganizationName">
		<xs:complexContent>
			<xs:extension base="nms:SubjectName">
				<xs:sequence>
					<xs:element name="OrganizationPrimaryName" type="nms:OrganizationPrimaryNameType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of a single name by which the organization is primarily known / identified in different languages and/or writing scripts.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TradeStyleName" type="nms:OrganizationNameBaseType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of a name which an organization trades under for commercial purposes, although its registered, legal name, used for contracts and other formal situations, may be another.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrganizationNameBaseType">
		<xs:sequence>
			<xs:element name="OrganizationName" type="nms:DNBStringType256">
				<xs:annotation>
					<xs:documentation>
Text recording a name of this organization in the specified language and/or writing script.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganizationPrimaryNameType">
		<xs:complexContent>
			<xs:extension base="nms:OrganizationNameBaseType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="PortfolioAssetContainerIDType">
		<xs:restriction base="xs:long"/>
	</xs:simpleType>
	<xs:simpleType name="PortfolioAssetIDType">
		<xs:restriction base="xs:long"/>
	</xs:simpleType>
	<xs:complexType name="PrimaryAddressType">
		<xs:complexContent>
			<xs:extension base="nms:BaseAddressType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Product">
		<xs:sequence>
			<xs:element name="DNBProductID" type="nms:ProductCode">
				<xs:annotation>
					<xs:documentation>
An alphanumeric string that uniquely identifies this product.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LanguageCode" type="nms:DNBCodeValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A D&amp;B code value that defines the language in which the requested product is fulfilled.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Organization" type="nms:Organization">
				<xs:annotation>
					<xs:documentation>
Records data about an organization, a legal or commercial entity established to provide products and/or services in the marketplace or to the community.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArchiveDetail" type="nms:ResponseArchiveDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records data about the archival details of the product requested.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CopyrightNoticeText" type="nms:StringBaseType128" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Text that specifies the underlying claim to copyright ownership of this product.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ProductCode">
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ProductResponseInquiryDetail">
		<xs:sequence>
			<xs:element name="DUNSNumber" type="nms:DUNSNumberType">
				<xs:annotation>
					<xs:documentation>
The D&amp;B&apos;s identification number, which provides unique identification of the inquired organization, in accordance with the Data Universal Numbering System (D-U-N-S).
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryISOAlpha2Code" type="nms:CountryISOAlpha2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The two-letter country code, defined in the ISO 3166-1 scheme published by International Organization for Standardization (ISO)identifying the country of the inquired subject.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProductSpecification">
		<xs:sequence>
			<xs:element name="DNBProductID">
				<xs:annotation>
					<xs:documentation>
An alphanumeric string that uniquely identifies the product being requested.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LanguagePreferenceCode" type="nms:DNBCodeValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A D&amp;B code value that defines the language in which the customer wants this product to be rendered.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TradeUpIndicator" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
When turn ON (set to TRUE) this denotes that the customer has requested that D&amp;B return the data for the Headquarters when the requested organization is a Branch.
When turn OFF (set to FALSE) this denotes that the customer has not requested that D&amp;B return the data for the Headquarters when the requested organization is a Branch; however as this is the assumed condition there is no requirement to create this tag to represent this fact.
Note: There are D&amp;B WorldWide Network operations where the Headquarters information will be returned automatically, regardless of the customer request.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NewsSpecification" type="nms:NewsSpecification" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records the parameters for refining the news information returned in the product
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SocialMediaSpecification" type="nms:SocialMediaSpecification" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records the parameters for refining the social media information returned in the product.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Request">
		<xs:sequence>
			<xs:element name="TransactionDetail" type="nms:RequestTransactionDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records information necessary to process this request.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ServiceVersionNumber" type="nms:ServiceVersionNumber">
			<xs:annotation>
				<xs:documentation>
A number assigned by D&amp;B which either uniquely identifies or helps to identify the state of this software deliverable. These numbers are generally assigned in increasing order and correspond to new releases in the software. For example 2.0.
            </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RequestTransactionDetail">
		<xs:sequence>
			<xs:element name="ApplicationTransactionID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number assigned by the calling application to uniquely identify this request.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TransactionTimestamp" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The date and time when this request was created. When the request is from an intermediary, such as a workflow manager or service bus, this is the date and time when the message was sent to the D&amp;B function, i.e., the date and time when the xml document was created by the requesting intermediary.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubmittingOfficeID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number that identifies the system or the software application from where this request originated. / A number used to uniquely identfy the D&amp;amp;B business segment or delivery channel from where this request originated.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Response">
		<xs:sequence>
			<xs:element name="TransactionDetail" type="nms:ResponseTransactionDetail">
				<xs:annotation>
					<xs:documentation>
Records information necessary to process a particular request. Examples of a request is the ordering of a product.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransactionResult" type="nms:TransactionResult">
				<xs:annotation>
					<xs:documentation>
An aggregate that can repeat multiple times to record the different outcomes of the transaction.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ServiceVersionNumber" type="nms:ServiceVersionNumber" use="required">
			<xs:annotation>
				<xs:documentation>
A number assigned by D&amp;B which either uniquely identifies or helps to identify the state of this software deliverable. These numbers are generally assigned in increasing order and correspond to new developments in the software. E.g., 2.0.
            </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ResponseArchiveDetail">
		<xs:sequence>
			<xs:element name="PortfolioAssetID" type="nms:PortfolioAssetIDType">
				<xs:annotation>
					<xs:documentation>
A number used to uniquely identify this product in the location where it is stored.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PortfolioAssetContainerID" type="nms:PortfolioAssetContainerIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number used to uniquely identify the location where this product is stored.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResponseTransactionDetail">
		<xs:sequence>
			<xs:element name="ApplicationTransactionID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number assigned by the calling application to uniquely identify this request.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ServiceTransactionID">
				<xs:annotation>
					<xs:documentation>
A number assigned by the D&amp;B service to uniquely identify this transaction.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TransactionTimestamp" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>
The date and time when this request was submitted or the date and time when the requesting intermediary, such as a workflow manager or service bus, sent the message to the D&amp;B function, i.e., the date and time when the xml document was created by the requesting intermediary.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResultMessage">
		<xs:sequence>
			<xs:element name="ResultDescription">
				<xs:annotation>
					<xs:documentation>
Text that describes the additional information regarding the outcome of the transaction.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RetrieveProductArchiveDetail">
		<xs:sequence>
			<xs:element name="PortfolioAssetContainerID" type="nms:PortfolioAssetContainerIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number used to uniquely identify the location where this product is to be stored.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PortfolioAssetID" type="nms:PortfolioAssetIDType">
				<xs:annotation>
					<xs:documentation>
An identifier which unqiuely identifies a report in the users  portfolio.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RetrieveProductRequest" type="nms:RetrieveProductRequest"/>
	<xs:complexType name="RetrieveProductRequest">
		<xs:annotation>
			<xs:documentation>
Records data relating to the request for retrieving the archived reports/products and investigation reports and also the transaction information associated with this request.
         </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="nms:Request">
				<xs:sequence>
					<xs:element name="RetrieveProductRequestDetail" type="nms:RetrieveProductRequestDetail">
						<xs:annotation>
							<xs:documentation>
Records data relating to the request for retrieving the archived reports/products and investigation reports.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RetrieveProductRequestDetail">
		<xs:sequence>
			<xs:element name="ArchiveDetail" type="nms:RetrieveProductArchiveDetail">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify details about the archival of the product being requested.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RetrieveProductResponse" type="nms:RetrieveProductResponse"/>
	<xs:complexType name="RetrieveProductResponse">
		<xs:annotation>
			<xs:documentation>
Records the archived report/product being returned to the customer as a result of a request, based on user&apos;s input criteria and transaction information associated with it. If the system is unable to retrieve the archived report, it should return the failure response along with the cause for failure.
         </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="nms:Response">
				<xs:sequence>
					<xs:element name="RetrieveProductResponseDetail" type="nms:RetrieveProductResponseDetail" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
Records the data being returned to the customer as a result of a request for retrieving the archived reports/products based on user&apos;s input criteria.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RetrieveProductResponseDetail">
		<xs:sequence>
			<xs:element name="Product" type="nms:Product">
				<xs:annotation>
					<xs:documentation>
Records data about the product ordered by the customer and data about the organization on which the customer has placed this order.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InquiryReferenceDetail" type="nms:InquiryReferenceDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify information to be linked to the request in order to support subsequent order reconciliation.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Role"/>
	<xs:simpleType name="ServiceVersionNumber">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SeverityType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Error"/>
			<xs:enumeration value="Fatal"/>
			<xs:enumeration value="Information"/>
			<xs:enumeration value="Warning"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SimpleAddress">
		<xs:sequence>
			<xs:element name="StreetAddressLine" type="nms:StreetAddressLine" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of  several lines where each address line contains one or more named address elements. Examples of named address elements are Street Name, Street Number, Building Name, Estate Name. They are called &#8220;lines&#8221; because an addres can be divided into multiple lines. When there are multiple lines the sequence of the lines must be preserved.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrimaryTownName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The name of the town or city recognized by the Postal Authority for delivering mail.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CountryISOAlpha2Code" type="nms:CountryISOAlpha2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The two-letter country code, defined in the ISO 3166-1 scheme published by International Organization for Standardization (ISO), identifying the country for this address.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SocialMediaDetail">
		<xs:annotation>
			<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of the details of the interactive platforms via which subject creates and shares user-generated content; e.g., Internet forums, weblogs, social blogs, wikis, social networks.
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SocialMediaPlatformName" type="nms:DNBDecodedStringType">
				<xs:annotation>
					<xs:documentation>
Name identifying the online service, platform, or site through which the subject creates and shares user-generated content.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UserContentKey" type="nms:StringBaseType128" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
An identifier to locate the user generated content for the subject in the social media platform.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UserDisplayName" type="nms:StringBaseType128" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The name of the subject account as presented to other users in the  social media platform.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WebPageURL" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Text identifying the internet URL of the subject&apos;s content in the social media platform.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubscriberQuantity" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The number of users following/subscribing the subject&apos;s content in the social media platform.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SocialMediaNameEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Youtube"/>
			<xs:enumeration value="Facebook"/>
			<xs:enumeration value="Twitter"/>
			<xs:enumeration value="Wikipedia"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SocialMediaSpecification">
		<xs:annotation>
			<xs:documentation>
Records the parameters for refining the social media information returned in the product.
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SocialMediaPlatformName" type="nms:SocialMediaNameEnum" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
Name identifying the online service, platform, or site through which the subject creates and shares user-generated content.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StreetAddressLine">
		<xs:annotation>
			<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of several street address lines of this address. This includes address line details prior to the Suburb or Town/City region address line. This includes the portion of the address lines which deal with the street address components, such as street name, street number, building name, estate name.
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LineText">
				<xs:annotation>
					<xs:documentation>
Text that records the street address components as it would be presented on an address label. This includes, but is not limited to, details such as street name, street number, building name, estate name.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="240"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="StringBaseType128">
		<xs:restriction base="xs:string">
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringBaseType256">
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Subject">
		<xs:sequence>
			<xs:element name="SubjectHeader" type="nms:SubjectHeader">
				<xs:annotation>
					<xs:documentation>
Records high level information about the subject such as the primary language of the subject and the primary currency in which this subject trades. When the subject is an organizantion, this may also include details such as DUNS Number.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Telecommunication" type="nms:Telecommunication" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records information about the different modes of Telecommunication addresses used by a subject for external contact purposes. The modes of communication include telephone, fax, e-mail, web address.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Location" type="nms:Location" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records the address details for a subject. An address is the designation of a place where a subject can be located or may be communicated with, e.g., primary address, registered address, mailing address.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubjectHeader">
		<xs:sequence>
			<xs:element name="DUNSNumber" type="nms:DUNSNumberType">
				<xs:annotation>
					<xs:documentation>
The D-U-N-S Number is D&amp;B&apos;s identification number, which provides unique identification of this organization, in accordance with the Data Universal Numbering System (D-U-N-S).
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastUpdateDate" type="nms:DNBDateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The date when the data recorded in the D&amp;B Database on this subject was last updated.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MarketabilityIndicator" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
When turned ON (set to TRUE) this indicates that the record satisfies D&amp;B marketability rules.
When turned OFF (set to FALSE) this indicates that the record does not satisfy D&amp;B marketability rules; however, there is no requirement to create this tag to represent this fact.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NonMarketableReasonText" type="nms:DNBDecodedStringType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
Text specifying the reason why the subject&apos;s data is not considered marketable by D&amp;B.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubjectName" abstract="true"/>
	<xs:complexType name="Telecommunication">
		<xs:annotation>
			<xs:documentation>
Records information about the different modes of Telecommunication addresses used by a subject for external contact purposes. The modes of communication include telephone, fax, e-mail, web address.
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TelephoneNumber" type="nms:TelecommunicationNumberType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An entry loop which can allow multiple Telephone contact information used for voice communication with the subject.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FacsimileNumber" type="nms:TelecommunicationNumberType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An entry loop which can allow multiple Facsimile contact information used for data communication with the subject.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SocialMediaDetail" type="nms:SocialMediaDetail" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of the details of the interactive platforms via which subject creates and shares user-generated content; e.g., Internet forums, weblogs, social blogs, wikis, social networks.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TelecommunicationNumberSimpleType">
		<xs:sequence>
			<xs:element name="TelecommunicationNumber">
				<xs:annotation>
					<xs:documentation>
A sequence of digits used by the subject for voice communication in a public switched telephone network.
This sequence of digits includes the area code or city code.
Note: This number does not include the International Dialing Code and Domestic Dialing Code.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InternationalDialingCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The country calling code assigned by the International Telecommunication Union (ITU) required to connect to this Telecommunication Number of the subject country when dialing from outside the subject country; e.g., &apos;1&apos; for the US, &apos;44&apos; for the UK, &apos;91&apos; for India.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TelecommunicationNumberType">
		<xs:complexContent>
			<xs:extension base="nms:TelecommunicationNumberSimpleType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TransactionResult">
		<xs:sequence>
			<xs:element name="SeverityText" type="nms:SeverityType">
				<xs:annotation>
					<xs:documentation>
Text that records the criticality of the outcome, e.g., Information, Warning, Error, Fatal.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResultID">
				<xs:annotation>
					<xs:documentation>
An alphanumeric string that uniquely identifies the outcome of the transaction.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ResultText" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Text that explains the outcome of the transaction.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ResultMessage" type="nms:ResultMessage" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An aggregate that can repeat multiple times to record textual data that expands on the ResultID and ResultText to provide additional information to the user regarding the status of the transaction. If the status implies that there is a problem this may also provide guidance to the user on how to address it.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
