src/main/generated-java/com/dnb/services/contact/ContactProductService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 2 (http://www.altova.com) by Punnoose (DUN & BRADSTREET) -->
<!--W3C XML Schema generated by XMLSpy v2012 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:ctacprod="http://services.dnb.com/ContactProductServiceV2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://services.dnb.com/ContactProductServiceV2.0" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="4.0">
	<xs:annotation>
		<xs:documentation>
Last Updated Date : 2014-02-25
      </xs:documentation>
	</xs:annotation>
	<xs:complexType name="AmountType">
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
				<xs:attribute name="CurrencyISOAlpha3Code" type="ctacprod:CurrencyISOAlpha3Code"/>
				<xs:attribute name="UnitOfSize" type="ctacprod:UnitOfSizeEnumeration">
					<xs:annotation>
						<xs:documentation>
Text that specifies the multiple of the unit of amount in which this figure is recorded, e.g., thousands, millions, billions. For example, if the sales figure is 54398 with 000&amp;apos;s omitted, the unit of size is thousands and the figure of 54398 (NOT 54398000) is recorded.
                  </xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="ReliabilityText" type="ctacprod:StringBaseType256"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ArchiveDetail">
		<xs:sequence>
			<xs:element name="ArchiveProductOptOutIndicator" type="xs:boolean" minOccurs="0"/>
			<xs:element name="ExtendArchivePeriodIndicator" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
When turned ON (set to true), the duration to archive the data is to be extended. Note: There is an additional cost for extending the archival period of the data purchased. 
When turned OFF (set to false), the duration to archive the data is not to be extended.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PortfolioAssetContainerID" type="ctacprod:PortfolioAssetContainerIDType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Association"/>
	<xs:complexType name="BaseAddressType">
		<xs:complexContent>
			<xs:extension base="ctacprod:SimpleAddress">
				<xs:sequence>
					<xs:element name="TerritoryAbbreviatedName" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
The shortened name of the locally governed area which forms part of a centrally governed nation. For example &apos;NJ&apos; for the US State New Jersey within Country United States of America.
                     </xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="PostalCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
An identifier used by the local country Postal Authority to identify a particular geographic location. For example, in Belgium, Postal Code 9000 identifies the town of GHENT.
                     </xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="16"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="CountyOfficialName" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="TerritoryOfficialName" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="LanguageCode" type="ctacprod:DNBCodeValueType">
					<xs:annotation>
						<xs:documentation>
A D&amp;B code value that defines the language in which the data is presented.
                  </xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="WritingScriptCode" type="ctacprod:DNBCodeValueType">
					<xs:annotation>
						<xs:documentation>
A D&amp;B code value that defines the set of graphic characters used for the written form of one or more languages, in which this data is presented.
                  </xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Compensation">
		<xs:sequence>
			<xs:element name="CompensationDate" type="ctacprod:DNBDateType" minOccurs="0"/>
			<xs:element name="CompensationDetail" type="ctacprod:CompensationDetail" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CompensationDetail">
		<xs:sequence>
			<xs:element name="CompensationTypeText" type="ctacprod:DNBDecodedStringType"/>
			<xs:element name="CompensationAmount" type="ctacprod:AmountType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CountryISOAlpha2Type">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyISOAlpha3Code">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CurrentManagementResponsibility">
		<xs:annotation>
			<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of the code values identifying the current business function of the principal represented as a standard Management Responsibility Code (MRC).
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ManagementResponsibilityText" type="ctacprod:ManagementResponsibilityText">
				<xs:annotation>
					<xs:documentation>
Text identifying the business function of the principal derived from a standard Management Responsibility Code (MRC).
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartDate" type="ctacprod:DNBDateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The date when the principal or manager was appointed to this position. This is not necessarily the date when the principal or manager was first employed by the subject; this is simply the date when they moved to this position, e.g., due to a promotion.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DisplaySequence" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number which may be used to define the order in which the Position should be presented relative to any other occurrences of Position where lower the number the earlier the data is presented.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CustomerReferenceText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="240"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DNBCodeValueType">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DNBDateSimpleType">
		<xs:union memberTypes="xs:date xs:gYear xs:gYearMonth"/>
	</xs:simpleType>
	<xs:complexType name="DNBDateType">
		<xs:simpleContent>
			<xs:extension base="ctacprod:DNBDateSimpleType">
				<xs:attribute name="DatePrecisionText">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="192"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="DatePrecisionDNBCodeValue" type="ctacprod:DNBCodeValueType"/>
				<xs:attribute name="DatePrecisionDNBCodeTableNumber" type="xs:int"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DNBDecodedStringType">
		<xs:simpleContent>
			<xs:extension base="ctacprod:StringBaseType256">
				<xs:attribute name="DNBCodeValue" type="ctacprod:DNBCodeValueType"/>
				<xs:attribute name="DNBCodeTableNumber" type="xs:int"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DNBStringType">
		<xs:simpleContent>
			<xs:extension base="ctacprod:StringBaseType">
				<xs:attribute name="LanguageCode" type="ctacprod:DNBCodeValueType"/>
				<xs:attribute name="WritingScriptISOAlpha4Code">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DNBStringType256">
		<xs:simpleContent>
			<xs:extension base="ctacprod:StringBaseType256">
				<xs:attribute name="LanguageCode" type="ctacprod:DNBCodeValueType"/>
				<xs:attribute name="WritingScriptISOAlpha4Code">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="DNBYearSimpleType">
		<xs:union memberTypes="xs:gYear"/>
	</xs:simpleType>
	<xs:simpleType name="DUNSNumberType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:pattern value="([0-9a-zA-Z]*)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="EmailAddressType">
		<xs:sequence>
			<xs:element name="TelecommunicationAddress">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="240"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EmploymentBiography">
		<xs:sequence>
			<xs:element name="EmploymentBiographyText" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A free form text that provides a concise description about the principal. This may incude but is not restricted to the individual&apos;s current position, his former positions, roles that he performs in these positions.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NonSpecificSourceText" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FamilyTreeMemberRole">
		<xs:complexContent>
			<xs:extension base="ctacprod:Role">
				<xs:sequence>
					<xs:element name="FamilyTreeMemberRoleText" type="ctacprod:DNBDecodedStringType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FormerManagementResponsibility">
		<xs:annotation>
			<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of the code values identifying the former business function of the principal represented as a standard Management Responsibility Code (MRC).
         </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ctacprod:CurrentManagementResponsibility">
				<xs:sequence>
					<xs:element name="EndDate" type="ctacprod:DNBDateType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
The date when the principal or manager ceased to hold this position. This is not necessarily the date when the principal or manager ceased to be employed by the subject; this is simply the date when they left this position, e.g., due to a promotion to a different position.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EndedByDate" type="ctacprod:DNBDateType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
A date on or before which the principal or manager ceased to hold this position. This is not necessarily the date when the principal or manager ceased to be employed by the subject; this is simply the date when they left this position, e.g., due to a promotion to a different position.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IndividualNameType">
		<xs:complexContent>
			<xs:extension base="ctacprod:SubjectName">
				<xs:sequence>
					<xs:element name="NamePrefix" type="ctacprod:NamePrefix" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="FirstName" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MiddleName" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="LastName" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="LastNameFatherName" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="LastNameMotherName" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="FullName" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="240"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="NameSuffix" type="ctacprod:NameSuffix" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InquiryDetail">
		<xs:sequence>
			<xs:element name="DUNSNumber" type="ctacprod:DUNSNumberType"/>
			<xs:element name="CountryISOAlpha2Code" type="ctacprod:CountryISOAlpha2Type" minOccurs="0"/>
			<xs:element name="PrincipalIdentificationNumberDetail" type="ctacprod:PrincipalIdentificationNumberType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InquiryReferenceDetail">
		<xs:sequence>
			<xs:element name="CustomerReferenceText" minOccurs="0" maxOccurs="5">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="240"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomerBillingEndorsementText" type="ctacprod:CustomerReferenceText" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="JobTitle">
		<xs:sequence>
			<xs:element name="JobTitleText" type="ctacprod:DNBStringType" minOccurs="0"/>
			<xs:element name="JobTitleAdditionalInformationText" type="ctacprod:DNBStringType" minOccurs="0"/>
			<xs:element name="StartDate" type="ctacprod:DNBDateType" minOccurs="0"/>
			<xs:element name="EndDate" type="ctacprod:DNBDateType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Location">
		<xs:annotation>
			<xs:documentation>
Records the address details for a subject. An address is the designation of a place where a subject can be located or may be communicated with, e.g., primary address, registered address, mailing address.
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PrimaryAddress" type="ctacprod:PrimaryAddressType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An entry loop to allow the recording of a single primary or physical address of the subject in multiple languages and/or writing scripts. For an organization this is the principal address at which the organization is located. For an individual, this is the home address.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MailingAddress" type="ctacprod:MailAddressType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of address which is mainly utilized for the purpose of mail delivery. This usually includes a Post Office Box number or similar mailing details.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MailAddressType">
		<xs:complexContent>
			<xs:extension base="ctacprod:BaseAddressType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Management">
		<xs:complexContent>
			<xs:extension base="ctacprod:Association">
				<xs:sequence>
					<xs:element name="PrincipalName" type="ctacprod:SubjectName" minOccurs="0"/>
					<xs:element name="BirthYear" type="ctacprod:DNBYearSimpleType" minOccurs="0"/>
					<xs:element name="PrincipalAge" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
Records the age of the principal in years.
                     </xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:totalDigits value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Telecommunication" type="ctacprod:Telecommunication" minOccurs="0"/>
					<xs:element name="EmploymentBiography" type="ctacprod:EmploymentBiography" minOccurs="0"/>
					<xs:element name="Position" type="ctacprod:Position" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>
a job that is or was held by the principal or manager using D&amp;B standardized codes.  For instance, whether the position has been described to D&amp;B as Financial Director, Finance Director, or Director of Finance, it will be mapped to a single code described as Financial Director.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="JobTitle" type="ctacprod:JobTitle" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="ResponsibleArea" type="ctacprod:ResponsibleArea" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="CurrentManagementResponsibility" type="ctacprod:CurrentManagementResponsibility" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of the code values identifying the current business function of the principal represented as a standard Management Responsibility Code (MRC).
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FormerManagementResponsibility" type="ctacprod:FormerManagementResponsibility" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of the code values identifying the former business function of the principal represented as a standard Management Responsibility Code (MRC).
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MostSeniorPrincipalIndicator" type="xs:boolean" minOccurs="0"/>
					<xs:element name="PrincipalIdentificationNumberDetail" type="ctacprod:PrincipalIdentificationNumberType" minOccurs="0"/>
					<xs:element name="CurrentCompensation" type="ctacprod:Compensation" minOccurs="0"/>
					<xs:element name="FormerCompensation" type="ctacprod:Compensation" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="ConnectMailNameIndicator" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
When turned ON (set to true), it indicates that the name information was sourced from Connect Mail. 
When turend OFF (set to false), it indicates that the name information was not sourced from Connect Mail. 
When NULL or absent, it indicates that it is not known if the name information was sourced from Connect Mail.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ConnectMailTelephoneIndicator" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
When turned ON (set to true), it indicates that the telephone information was sourced from Connect Mail. 
When turend OFF (set to false), it indicates that the telephone information was not sourced from Connect Mail. 
When NULL or absent, it indicates that it is not known if the telephone information was sourced from Connect Mail.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ConnectMailEmailIndicator" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
When turned ON (set to true), it indicates that the email information was sourced from Connect Mail. 
When turend OFF (set to false), it indicates that the email information was not sourced from Connect Mail. 
When NULL or absent, it indicates that it is not known if the email information was sourced from Connect Mail.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ManagementResponsibilityText">
		<xs:simpleContent>
			<xs:extension base="ctacprod:StringBaseType256">
				<xs:attribute name="ManagementResponsibilityCode">
					<xs:annotation>
						<xs:documentation>
A code identifying the business function of the principal represented as a standard Management Responsibility Code (MRC).
                  </xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="16"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="NamePrefix">
		<xs:sequence>
			<xs:element name="NamePrefixText" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameSuffix">
		<xs:sequence>
			<xs:element name="NameSuffixText" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="OrderProductRequest" type="ctacprod:OrderProductRequest"/>
	<xs:complexType name="OrderProductRequest">
		<xs:complexContent>
			<xs:extension base="ctacprod:Request">
				<xs:sequence>
					<xs:element name="OrderProductRequestDetail" type="ctacprod:OrderProductRequestDetail"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrderProductRequestDetail">
		<xs:sequence>
			<xs:element name="InquiryDetail" type="ctacprod:InquiryDetail"/>
			<xs:element name="ProductSpecification" type="ctacprod:ProductSpecification"/>
			<xs:element name="ArchiveDetail" type="ctacprod:ArchiveDetail" minOccurs="0"/>
			<xs:element name="InquiryReferenceDetail" type="ctacprod:InquiryReferenceDetail" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="OrderProductResponse" type="ctacprod:OrderProductResponse"/>
	<xs:complexType name="OrderProductResponse">
		<xs:complexContent>
			<xs:extension base="ctacprod:Response">
				<xs:sequence>
					<xs:element name="OrderProductResponseDetail" type="ctacprod:OrderProductResponseDetail" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrderProductResponseDetail">
		<xs:sequence>
			<xs:element name="InquiryDetail" type="ctacprod:ProductResponseInquiryDetail"/>
			<xs:element name="Product" type="ctacprod:Product"/>
			<xs:element name="InquiryReferenceDetail" type="ctacprod:InquiryReferenceDetail" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Organization">
		<xs:complexContent>
			<xs:extension base="ctacprod:Subject">
				<xs:sequence>
					<xs:element name="OrganizationName" type="ctacprod:OrganizationName" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
Records the different names of the organization by which it is known as well as names of other organizations that have a similar name to this organization.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrganizationDetail" type="ctacprod:OrganizationDetail" minOccurs="0"/>
					<xs:element name="RegisteredDetail" type="ctacprod:RegisteredDetail" minOccurs="0"/>
					<xs:element name="PrincipalsAndManagement" type="ctacprod:PrincipalsAndManagement" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrganizationDetail">
		<xs:sequence>
			<xs:element name="FamilyTreeMemberRole" type="ctacprod:FamilyTreeMemberRole" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="StandaloneOrganizationIndicator" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganizationIdentificationNumberSimpleType">
		<xs:sequence>
			<xs:element name="OrganizationIdentificationNumber">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="DNBCodeTableNumber" type="xs:int"/>
		<xs:attribute name="DNBCodeValue" type="ctacprod:DNBCodeValueType"/>
		<xs:attribute name="TypeText" type="ctacprod:StringBaseType256"/>
	</xs:complexType>
	<xs:complexType name="OrganizationIdentificationNumberType">
		<xs:annotation>
			<xs:documentation>
Registration Number Details
         </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ctacprod:OrganizationIdentificationNumberSimpleType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrganizationName">
		<xs:complexContent>
			<xs:extension base="ctacprod:SubjectName">
				<xs:sequence>
					<xs:element name="OrganizationPrimaryName" type="ctacprod:OrganizationPrimaryNameType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of a single name by which the organization is primarily known / identified in different languages and/or writing scripts.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TradeStyleName" type="ctacprod:OrganizationNameBaseType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of a name which an organization trades under for commercial purposes, although its registered, legal name, used for contracts and other formal situations, may be another.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrganizationNameBaseType">
		<xs:sequence>
			<xs:element name="OrganizationName" type="ctacprod:DNBStringType256"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganizationPrimaryNameType">
		<xs:complexContent>
			<xs:extension base="ctacprod:OrganizationNameBaseType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="PortfolioAssetContainerIDType">
		<xs:restriction base="xs:long"/>
	</xs:simpleType>
	<xs:simpleType name="PortfolioAssetIDType">
		<xs:restriction base="xs:long"/>
	</xs:simpleType>
	<xs:complexType name="Position">
		<xs:sequence>
			<xs:element name="PositionText" type="ctacprod:DNBDecodedStringType" minOccurs="0"/>
			<xs:element name="EndDate" type="ctacprod:DNBDateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The date when the principal or manager ceased to hold this position. This is not necessarily the date when the principal or manager ceased to be employed by the subject; this is simply the date when they left this position, e.g., due to a promotion to a different position.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndedByDate" type="ctacprod:DNBDateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A date on or before which the principal or manager ceased to hold this position. This is not necessarily the date when the principal or manager ceased to be employed by the subject; this is simply the date when they left this position, e.g., due to a promotion to a different position.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PrimaryAddressType">
		<xs:complexContent>
			<xs:extension base="ctacprod:BaseAddressType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PrincipalIdentificationNumberType">
		<xs:annotation>
			<xs:documentation>
Registration Number Details
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PrincipalIdentificationNumber">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="DNBCodeTableNumber" type="xs:int"/>
		<xs:attribute name="DNBCodeValue" type="ctacprod:DNBCodeValueType"/>
		<xs:attribute name="TypeText" type="ctacprod:StringBaseType256"/>
	</xs:complexType>
	<xs:complexType name="PrincipalsAndManagement">
		<xs:sequence>
			<xs:element name="CurrentPrincipal" type="ctacprod:Management" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="FormerPrincipal" type="ctacprod:Management" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Product">
		<xs:sequence>
			<xs:element name="DNBProductID" type="ctacprod:ProductCode"/>
			<xs:element name="LanguageCode" type="ctacprod:DNBCodeValueType" minOccurs="0"/>
			<xs:element name="Organization" type="ctacprod:Organization"/>
			<xs:element name="ArchiveDetail" type="ctacprod:ResponseArchiveDetail" minOccurs="0"/>
			<xs:element name="CopyrightNoticeText" type="ctacprod:StringBaseType128" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ProductCode">
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ProductResponseInquiryDetail">
		<xs:sequence>
			<xs:element name="DUNSNumber" type="ctacprod:DUNSNumberType"/>
			<xs:element name="CountryISOAlpha2Code" type="ctacprod:CountryISOAlpha2Type"/>
			<xs:element name="PrincipalIdentificationNumberDetail" type="ctacprod:PrincipalIdentificationNumberType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProductSpecification">
		<xs:sequence>
			<xs:element name="DNBProductID">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LanguagePreferenceCode" type="ctacprod:DNBCodeValueType" minOccurs="0"/>
			<xs:element name="CharacterSetPreferenceCode" type="ctacprod:DNBCodeValueType" minOccurs="0"/>
			<xs:element name="ProductFormatPreferenceCode" type="ctacprod:DNBCodeValueType" minOccurs="0"/>
			<xs:element name="TradeUpIndicator" type="xs:boolean" minOccurs="0"/>
			<xs:element name="CurrencyPreferenceISOAlpha3Code" type="ctacprod:CurrencyISOAlpha3Code" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The customer preferred currency code, expressed in the ISO 4217 scheme published by International Organization for Standardization (ISO), in which the monetary values in the product should be expressed; e.g., USD, CAD, GBP, EUR.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReturnOnlyInDateDataIndicator" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
When turned ON (set to true), the product is to be supplied if and only if the data requested is classified by the data source as being &#8220;in-date&#8221;, i.e., the data is answered from file (AFF).
When turned OFF (set to false), the product is to be supplied even if the data requested is not classified by the data source as being &#8220;in-date&#8221;, i.e., the data is answered from file (AFF).
When set to NULL it implies that the product is to be supplied as long as the product is deemed marketable.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderReasonCode" type="ctacprod:DNBCodeValueType" minOccurs="0"/>
			<xs:element name="ReturnConnectMailDataIndicator" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
When turned ON (set to true), it indicates that the Connect Mail data, when available, is to be returned in the response. 
When turend OFF (set to false), it indicates that the D&amp;B customer has chosen not to receive Connect Mail data. 
When NULL or absent, it indicates that the D&amp;B customer has chosen not to receive Connect Mail data.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegisteredDetail">
		<xs:sequence>
			<xs:element name="OrganizationIdentificationNumberDetail" type="ctacprod:OrganizationIdentificationNumberType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Request">
		<xs:sequence>
			<xs:element name="TransactionDetail" type="ctacprod:RequestTransactionDetail" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="ServiceVersionNumber" type="ctacprod:ServiceVersionNumber"/>
	</xs:complexType>
	<xs:complexType name="RequestTransactionDetail">
		<xs:sequence>
			<xs:element name="ApplicationTransactionID" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TransactionTimestamp" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="SubmittingOfficeID" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Response">
		<xs:sequence>
			<xs:element name="TransactionDetail" type="ctacprod:ResponseTransactionDetail"/>
			<xs:element name="TransactionResult" type="ctacprod:TransactionResult"/>
		</xs:sequence>
		<xs:attribute name="ServiceVersionNumber" type="ctacprod:ServiceVersionNumber" use="required"/>
	</xs:complexType>
	<xs:complexType name="ResponseArchiveDetail">
		<xs:sequence>
			<xs:element name="PortfolioAssetID" type="ctacprod:PortfolioAssetIDType"/>
			<xs:element name="PortfolioAssetContainerID" type="ctacprod:PortfolioAssetContainerIDType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResponseTransactionDetail">
		<xs:sequence>
			<xs:element name="ApplicationTransactionID" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ServiceTransactionID">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TransactionTimestamp" type="xs:dateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResponsibleArea">
		<xs:sequence>
			<xs:element name="ResponsibilityAreaText" type="ctacprod:DNBDecodedStringType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResultMessage">
		<xs:sequence>
			<xs:element name="ResultDescription">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RetrieveProductArchiveDetail">
		<xs:sequence>
			<xs:element name="PortfolioAssetContainerID" type="ctacprod:PortfolioAssetContainerIDType" minOccurs="0"/>
			<xs:element name="PortfolioAssetID" type="ctacprod:PortfolioAssetIDType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RetrieveProductRequest" type="ctacprod:RetrieveProductRequest"/>
	<xs:complexType name="RetrieveProductRequest">
		<xs:complexContent>
			<xs:extension base="ctacprod:Request">
				<xs:sequence>
					<xs:element name="RetrieveProductRequestDetail" type="ctacprod:RetrieveProductRequestDetail"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RetrieveProductRequestDetail">
		<xs:sequence>
			<xs:element name="ArchiveDetail" type="ctacprod:RetrieveProductArchiveDetail"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RetrieveProductResponse" type="ctacprod:RetrieveProductResponse"/>
	<xs:complexType name="RetrieveProductResponse">
		<xs:complexContent>
			<xs:extension base="ctacprod:Response">
				<xs:sequence>
					<xs:element name="RetrieveProductResponseDetail" type="ctacprod:RetrieveProductResponseDetail" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RetrieveProductResponseDetail">
		<xs:sequence>
			<xs:element name="Product" type="ctacprod:Product"/>
			<xs:element name="InquiryReferenceDetail" type="ctacprod:InquiryReferenceDetail" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Role"/>
	<xs:simpleType name="ServiceVersionNumber">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SeverityType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Error"/>
			<xs:enumeration value="Fatal"/>
			<xs:enumeration value="Information"/>
			<xs:enumeration value="Warning"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SimpleAddress">
		<xs:sequence>
			<xs:element name="StreetAddressLine" type="ctacprod:StreetAddressLine" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of  several lines where each address line contains one or more named address elements. Examples of named address elements are Street Name, Street Number, Building Name, Estate Name. They are called &#8220;lines&#8221; because an addres can be divided into multiple lines. When there are multiple lines the sequence of the lines must be preserved.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrimaryTownName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The name of the town or city recognized by the Postal Authority for delivering mail.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CountryISOAlpha2Code" type="ctacprod:CountryISOAlpha2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The two-letter country code, defined in the ISO 3166-1 scheme published by International Organization for Standardization (ISO), identifying the country for this address.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StreetAddressLine">
		<xs:annotation>
			<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of several street address lines of this address. This includes address line details prior to the Suburb or Town/City region address line. This includes the portion of the address lines which deal with the street address components, such as street name, street number, building name, estate name.
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LineText">
				<xs:annotation>
					<xs:documentation>
Text that records the street address components as it would be presented on an address label. This includes, but is not limited to, details such as street name, street number, building name, estate name.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="240"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="StringBaseType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringBaseType128">
		<xs:restriction base="xs:string">
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringBaseType256">
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Subject">
		<xs:sequence>
			<xs:element name="SubjectHeader" type="ctacprod:SubjectHeader"/>
			<xs:element name="Telecommunication" type="ctacprod:Telecommunication" minOccurs="0"/>
			<xs:element name="Location" type="ctacprod:Location" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records the address details for a subject. An address is the designation of a place where a subject can be located or may be communicated with, e.g., primary address, registered address, mailing address.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubjectHeader">
		<xs:sequence>
			<xs:element name="DUNSNumber" type="ctacprod:DUNSNumberType"/>
			<xs:element name="LastUpdateDate" type="ctacprod:DNBDateType" minOccurs="0"/>
			<xs:element name="MarketabilityIndicator" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
When turned ON (set to TRUE) this indicates that the record satisfies D&amp;B marketability rules.
When turned OFF (set to FALSE) this indicates that the record does not satisfy D&amp;B marketability rules; however, there is no requirement to create this tag to represent this fact.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NonMarketableReasonText" type="ctacprod:DNBDecodedStringType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
Text specifying the reason why the subject&apos;s data is not considered marketable by D&amp;B.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubjectName" abstract="true"/>
	<xs:complexType name="Telecommunication">
		<xs:sequence>
			<xs:element name="TelephoneNumber" type="ctacprod:TelecommunicationNumberType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="FacsimileNumber" type="ctacprod:TelecommunicationNumberType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An entry loop which can allow multiple Facsimile contact information used for data communication with the subject.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmailAddress" type="ctacprod:EmailAddressType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TelecommunicationNumberSimpleType">
		<xs:sequence>
			<xs:element name="TelecommunicationNumber">
				<xs:annotation>
					<xs:documentation>
A sequence of digits used by the subject for voice communication in a public switched telephone network.
This sequence of digits includes the area code or city code.
Note: This number does not include the International Dialing Code and Domestic Dialing Code.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InternationalDialingCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The country calling code assigned by the International Telecommunication Union (ITU) required to connect to this Telecommunication Number of the subject country when dialing from outside the subject country; e.g., &apos;1&apos; for the US, &apos;44&apos; for the UK, &apos;91&apos; for India.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TelecommunicationNumberType">
		<xs:complexContent>
			<xs:extension base="ctacprod:TelecommunicationNumberSimpleType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TransactionResult">
		<xs:sequence>
			<xs:element name="SeverityText" type="ctacprod:SeverityType"/>
			<xs:element name="ResultID">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ResultText" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ResultMessage" type="ctacprod:ResultMessage" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="UnitOfSizeEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SingleUnits"/>
			<xs:enumeration value="Tens"/>
			<xs:enumeration value="Hundred"/>
			<xs:enumeration value="Thousand"/>
			<xs:enumeration value="Million"/>
			<xs:enumeration value="Billion"/>
			<xs:enumeration value="Trillion"/>
			<xs:enumeration value="Quadrillion"/>
			<xs:enumeration value="Quintillion"/>
			<xs:enumeration value="Sextillion"/>
			<xs:enumeration value="Septillion"/>
			<xs:enumeration value="Octillion"/>
			<xs:enumeration value="Nonillion"/>
			<xs:enumeration value="Decillion"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
