src/main/generated-java/com/dnb/services/smallbusiness/SBRIProductService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 2 (http://www.altova.com) by Punnoose (DUN & BRADSTREET) -->
<!--W3C XML Schema generated by XMLSpy v2012 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sbriprod="http://services.dnb.com/SBRIProductServiceV2.0" targetNamespace="http://services.dnb.com/SBRIProductServiceV2.0" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="3.1">
	<xs:annotation>
		<xs:documentation>
Last Update Date: 2013-09-20</xs:documentation>
	</xs:annotation>
	<xs:complexType name="AccountDetail">
		<xs:sequence>
			<xs:element name="LenderName" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="LenderID" type="xs:int" nillable="true" minOccurs="0"/>
			<xs:element name="PaymentReportedDate" type="sbriprod:DNBDateType" nillable="true" minOccurs="0"/>
			<xs:element name="OpenAccountIndicator" type="xs:boolean" nillable="true" minOccurs="0"/>
			<xs:element name="AccountRelationshipText" type="sbriprod:DNBDecodedStringType" nillable="true" minOccurs="0"/>
			<xs:element name="OpenedDate" type="sbriprod:DNBDateType" nillable="true" minOccurs="0"/>
			<xs:element name="ClosedDate" type="sbriprod:DNBDateType" nillable="true" minOccurs="0"/>
			<xs:element name="VoluntarilyClosedIndicator" type="xs:boolean" nillable="true" minOccurs="0"/>
			<xs:element name="MaturityDate" type="sbriprod:DNBDateType" nillable="true" minOccurs="0"/>
			<xs:element name="SecuredAccountIndicator" type="xs:boolean" nillable="true" minOccurs="0"/>
			<xs:element name="CollateralTypeText" type="sbriprod:DNBDecodedStringType" nillable="true" minOccurs="0"/>
			<xs:element name="PaymentTypeText" type="sbriprod:DNBDecodedStringType" nillable="true" minOccurs="0"/>
			<xs:element name="PaymentFrequencyText" type="sbriprod:DNBDecodedStringType" nillable="true" minOccurs="0"/>
			<xs:element name="BalloonPaymentDate" type="sbriprod:DNBDateType" nillable="true" minOccurs="0"/>
			<xs:element name="BalloonAmount" type="sbriprod:AmountType" nillable="true" minOccurs="0"/>
			<xs:element name="LastPaymentDate" type="sbriprod:DNBDateType" nillable="true" minOccurs="0"/>
			<xs:element name="OriginalAmount" type="sbriprod:AmountType" nillable="true" minOccurs="0"/>
			<xs:element name="CurrentCreditLineAmount" type="sbriprod:AmountType" nillable="true" minOccurs="0"/>
			<xs:element name="HighBalanceAmount" type="sbriprod:AmountType" nillable="true" minOccurs="0"/>
			<xs:element name="AvailableCreditAmount" type="sbriprod:AmountType" nillable="true" minOccurs="0"/>
			<xs:element name="CurrentBalanceAmount" type="sbriprod:AmountType" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountPayment">
		<xs:sequence>
			<xs:element name="CurrentPayment" type="sbriprod:CurrentPayment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PaymentHistory" type="sbriprod:PaymentHistory" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="CurrentPaymentSummary" type="sbriprod:CurrentPaymentSummary" minOccurs="0"/>
			<xs:element name="PaymentHistorySummary" type="sbriprod:PaymentHistorySummary" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountSummaryType">
		<xs:sequence>
			<xs:element name="TotalBalloonAmount" type="sbriprod:AmountType" nillable="true" minOccurs="0"/>
			<xs:element name="TotalCurrentCreditLineAmount" type="sbriprod:AmountType" nillable="true" minOccurs="0"/>
			<xs:element name="TotalAvailableCreditAmount" type="sbriprod:AmountType" nillable="true" minOccurs="0"/>
			<xs:element name="TotalCurrentBalanceAmount" type="sbriprod:AmountType" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ActivitiesAndOperations">
		<xs:sequence>
			<xs:element name="LineOfBusinessDetails" type="sbriprod:LineOfBusinessDetailsType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AmountType">
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
				<xs:attribute name="CurrencyISOAlpha3Code" type="sbriprod:CurrencyISOAlpha3Code"/>
				<xs:attribute name="UnitOfSize" type="sbriprod:UnitOfSizeEnumeration">
					<xs:annotation>
						<xs:documentation>
Text that specifies the multiple of the unit of amount in which this figure is recorded, e.g., thousands, millions, billions. For example, if the sales figure is 54398 with 000&amp;apos;s omitted, the unit of size is thousands and the figure of 54398 (NOT 54398000) is recorded.
                  </xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="ReliabilityText">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="32"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ArchiveDetail">
		<xs:sequence>
			<xs:element name="ArchiveProductOptOutIndicator" type="xs:boolean" minOccurs="0"/>
			<xs:element name="ExtendArchivePeriodIndicator" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
When turned ON (set to true), the duration to archive the data is to be extended. Note: There is an additional cost for extending the archival period of the data purchased. 
When turned OFF (set to false), the duration to archive the data is not to be extended.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PortfolioAssetContainerID" type="sbriprod:PortfolioAssetContainerIDType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Association"/>
	<xs:complexType name="BaseAddressType">
		<xs:complexContent>
			<xs:extension base="sbriprod:SimpleAddress">
				<xs:sequence>
					<xs:element name="TerritoryAbbreviatedName" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="PostalCode" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="16"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="CountyOfficialName" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="TerritoryOfficialName" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="PostalCodeExtensionCode" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="16"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="UndeliverableIndicator" type="xs:boolean" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="CountryISOAlpha2Type">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyISOAlpha3Code">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CurrentPayment">
		<xs:sequence>
			<xs:element name="LenderName" nillable="true" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LenderID" type="xs:int" nillable="true" minOccurs="0"/>
			<xs:element name="PaymentReportedDate" type="sbriprod:DNBDateType" nillable="true" minOccurs="0"/>
			<xs:element name="MinimumPaymentAmount" type="sbriprod:AmountType" nillable="true" minOccurs="0"/>
			<xs:element name="CurrentBalanceAmount" type="sbriprod:AmountType" nillable="true" minOccurs="0"/>
			<xs:element name="CurrentDueAmount" type="sbriprod:AmountType" nillable="true" minOccurs="0"/>
			<xs:element name="TotalPastDueAmount" type="sbriprod:AmountType" nillable="true" minOccurs="0"/>
			<xs:element name="PastDueCycleSummary" type="sbriprod:PastDueCycleSummary" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CurrentPaymentSummary">
		<xs:complexContent>
			<xs:extension base="sbriprod:OverallSummary">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="CustomerReferenceText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="240"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DNBCodeValueType">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DNBDateSimpleType">
		<xs:union memberTypes="xs:date"/>
	</xs:simpleType>
	<xs:complexType name="DNBDateType">
		<xs:simpleContent>
			<xs:extension base="sbriprod:DNBDateSimpleType">
				<xs:attribute name="DatePrecisionText">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="192"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="DatePrecisionDNBCodeValue" type="sbriprod:DNBCodeValueType"/>
				<xs:attribute name="DatePrecisionDNBCodeTableNumber" type="xs:int"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DNBDecodedStringType">
		<xs:simpleContent>
			<xs:extension base="sbriprod:StringBaseType256">
				<xs:attribute name="DNBCodeValue" type="sbriprod:DNBCodeValueType"/>
				<xs:attribute name="DNBCodeTableNumber" type="xs:int"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DNBStringType">
		<xs:simpleContent>
			<xs:extension base="sbriprod:StringBaseType">
				<xs:attribute name="LanguageCode" type="sbriprod:DNBCodeValueType"/>
				<xs:attribute name="WritingScriptISOAlpha4Code">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DNBStringType256">
		<xs:simpleContent>
			<xs:extension base="sbriprod:StringBaseType256">
				<xs:attribute name="LanguageCode" type="sbriprod:DNBCodeValueType"/>
				<xs:attribute name="WritingScriptISOAlpha4Code">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="DUNSNumberType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:pattern value="([0-9a-zA-Z]*)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DurationType">
		<xs:restriction base="xs:duration"/>
	</xs:simpleType>
	<xs:complexType name="FamilyTreeAssociation">
		<xs:complexContent>
			<xs:extension base="sbriprod:Association"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FamilyTreeMemberRole">
		<xs:complexContent>
			<xs:extension base="sbriprod:Role">
				<xs:sequence>
					<xs:element name="FamilyTreeMemberRoleText" type="sbriprod:DNBDecodedStringType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FinancialRelationship">
		<xs:sequence>
			<xs:element name="LoanAccountDetail" type="sbriprod:AccountDetail" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="LeaseAccountDetail" type="sbriprod:AccountDetail" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="LineOfCreditAccountDetail" type="sbriprod:AccountDetail" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="CreditCardAccountDetail" type="sbriprod:AccountDetail" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="LoanAccountSummary" type="sbriprod:AccountSummaryType" minOccurs="0"/>
			<xs:element name="LeaseAccountSummary" type="sbriprod:AccountSummaryType" minOccurs="0"/>
			<xs:element name="LineOfCreditAccountSummary" type="sbriprod:AccountSummaryType" minOccurs="0"/>
			<xs:element name="CreditCardAccountSummary" type="sbriprod:AccountSummaryType" minOccurs="0"/>
			<xs:element name="LoanPayment" type="sbriprod:AccountPayment" minOccurs="0"/>
			<xs:element name="LeasePayment" type="sbriprod:AccountPayment" minOccurs="0"/>
			<xs:element name="LineOfCreditPayment" type="sbriprod:AccountPayment" minOccurs="0"/>
			<xs:element name="CreditCardPayment" type="sbriprod:AccountPayment" minOccurs="0"/>
			<xs:element name="OverallCurrentPaymentSummary" type="sbriprod:OverallSummary" minOccurs="0"/>
			<xs:element name="OverallPaymentHistorySummary" type="sbriprod:OverallPaymentHistorySummary" minOccurs="0"/>
			<xs:element name="GuaranteeDetails" type="sbriprod:GuaranteeDetails" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of individuals or entities that have guaranteed the financial obligation - whether it be a business principal, commercial entity, or government guarantor relationship  that have agreed to repay borrowed monies (obligations) if the borrower cannot. The guarantor may guaranty to pay up to a certain percentage of the total amount (for example, up to 70% of the loan amount).
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MiscellaneousDetails" type="sbriprod:MiscellaneousDetails" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GuaranteeDetails">
		<xs:sequence>
			<xs:element name="AccountTypeText" type="sbriprod:DNBDecodedStringType" nillable="true" minOccurs="0"/>
			<xs:element name="LenderName" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="LenderID" type="xs:int" nillable="true" minOccurs="0"/>
			<xs:element name="PaymentReportedDate" type="sbriprod:DNBDateType" nillable="true" minOccurs="0"/>
			<xs:element name="GuaranteedPaymentIndicator" type="xs:boolean" nillable="true" minOccurs="0"/>
			<xs:element name="GuarantorsCount" type="xs:int" nillable="true" minOccurs="0"/>
			<xs:element name="GuarantorDetails" type="sbriprod:GuarantorDetails" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GuarantorAddress">
		<xs:sequence>
			<xs:element name="StreetAddressLine" type="sbriprod:StreetAddressLine" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PrimaryTownName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TerritoryAbbreviatedName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PostalCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GuarantorDetails">
		<xs:sequence>
			<xs:element name="GuarantorTypeText" type="sbriprod:DNBDecodedStringType" nillable="true" minOccurs="0"/>
			<xs:element name="GuarantorName" nillable="true" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="90"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GuarantorAddress" type="sbriprod:GuarantorAddress" minOccurs="0"/>
			<xs:element name="GovernmentGuaranteedProgramTypeText" type="sbriprod:DNBDecodedStringType" nillable="true" minOccurs="0"/>
			<xs:element name="GuaranteePercentage" type="xs:decimal" nillable="true" minOccurs="0"/>
			<xs:element name="OwnershipPercentage" type="xs:decimal" nillable="true" minOccurs="0"/>
			<xs:element name="OrganizationIdentificationNumberDetail" type="sbriprod:OrganizationIdentificationNumberSimpleType" minOccurs="0"/>
			<xs:element name="PrincipallIdentificationNumberDetail" type="sbriprod:PrincipalIdentificationNumberType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IndustryCode">
		<xs:sequence>
			<xs:element name="IndustryCode" type="sbriprod:IndustryCodeType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IndustryCodeType">
		<xs:complexContent>
			<xs:extension base="sbriprod:PrimaryIndustryCodeType">
				<xs:sequence>
					<xs:element name="DisplaySequence" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
Determines the order of Industry codes within same type of industry codes. Highest priority is 1. The lower number takes higher priority.
                     </xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:totalDigits value="3"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InquiryDetail">
		<xs:sequence>
			<xs:element name="DUNSNumber" type="sbriprod:DUNSNumberType" minOccurs="0"/>
			<xs:element name="SubjectID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number uniquely identifying the inquired subject within the D&amp;amp;B Worldwide Network.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CountryISOAlpha2Code" type="sbriprod:CountryISOAlpha2Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InquiryReferenceDetail">
		<xs:sequence>
			<xs:element name="CustomerReferenceText" type="sbriprod:CustomerReferenceText" minOccurs="0" maxOccurs="5"/>
			<xs:element name="CustomerBillingEndorsementText" type="sbriprod:CustomerReferenceText" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InquirySummary">
		<xs:sequence>
			<xs:element name="InquiryCount" type="xs:int" minOccurs="0"/>
			<xs:element name="InquiryPeriod" type="sbriprod:DurationType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LegalFormDetailsType">
		<xs:sequence>
			<xs:element name="LegalFormText" type="sbriprod:DNBDecodedStringType"/>
			<xs:element name="LegalFormClassText" type="sbriprod:DNBDecodedStringType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LineOfBusinessDetailsType">
		<xs:sequence>
			<xs:element name="LineOfBusinessDescription" type="sbriprod:DNBStringType" minOccurs="0"/>
			<xs:element name="DisplaySequence" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Linkage">
		<xs:sequence>
			<xs:element name="GlobalUltimateOrganization" type="sbriprod:ParentAssociation" minOccurs="0"/>
			<xs:element name="ParentOrganization" type="sbriprod:Shareholder" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Location">
		<xs:sequence>
			<xs:element name="PrimaryAddress" type="sbriprod:PrimaryAddressType"/>
			<xs:element name="MailingAddress" type="sbriprod:MailAddressType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MailAddressType">
		<xs:complexContent>
			<xs:extension base="sbriprod:BaseAddressType">
				<xs:sequence>
					<xs:element name="PostalRouteTypeText" type="sbriprod:DNBDecodedStringType" minOccurs="0"/>
					<xs:element name="PostalRouteNumber" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="PostOfficeBoxTypeText" type="sbriprod:DNBDecodedStringType" minOccurs="0"/>
					<xs:element name="PostOfficeBoxNumber" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="16"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MiscellaneousDetails">
		<xs:sequence>
			<xs:element name="AccountTypeText" type="sbriprod:DNBDecodedStringType" nillable="true"/>
			<xs:element name="LenderName" nillable="true" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LenderID" type="xs:int" nillable="true" minOccurs="0"/>
			<xs:element name="PaymentReportedDate" type="sbriprod:DNBDateType" nillable="true" minOccurs="0"/>
			<xs:element name="CommentText" nillable="true" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="120"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="OrderProductRequest" type="sbriprod:OrderProductRequest"/>
	<xs:complexType name="OrderProductRequest">
		<xs:complexContent>
			<xs:extension base="sbriprod:Request">
				<xs:sequence>
					<xs:element name="OrderProductRequestDetail" type="sbriprod:OrderProductRequestDetail" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrderProductRequestDetail">
		<xs:sequence>
			<xs:element name="InquiryDetail" type="sbriprod:InquiryDetail"/>
			<xs:element name="ProductSpecification" type="sbriprod:ProductSpecification"/>
			<xs:element name="ArchiveDetail" type="sbriprod:ArchiveDetail" minOccurs="0"/>
			<xs:element name="InquiryReferenceDetail" type="sbriprod:InquiryReferenceDetail" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="OrderProductResponse" type="sbriprod:OrderProductResponse"/>
	<xs:complexType name="OrderProductResponse">
		<xs:complexContent>
			<xs:extension base="sbriprod:Response">
				<xs:sequence>
					<xs:element name="OrderProductResponseDetail" type="sbriprod:OrderProductResponseDetail" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrderProductResponseDetail">
		<xs:sequence>
			<xs:element name="InquiryDetail" type="sbriprod:ProductResponseInquiryDetail"/>
			<xs:element name="Product" type="sbriprod:Product"/>
			<xs:element name="InquiryReferenceDetail" type="sbriprod:InquiryReferenceDetail" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Organization">
		<xs:complexContent>
			<xs:extension base="sbriprod:Subject">
				<xs:sequence>
					<xs:element name="OrganizationName" type="sbriprod:OrganizationName" minOccurs="0"/>
					<xs:element name="OrganizationDetail" type="sbriprod:OrganizationDetail" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
Records fundamental information about a Subject which may vary over time.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RegisteredDetail" type="sbriprod:RegisteredDetail" minOccurs="0"/>
					<xs:element name="IndustryCode" type="sbriprod:IndustryCode" minOccurs="0"/>
					<xs:element name="ActivitiesAndOperations" type="sbriprod:ActivitiesAndOperations" minOccurs="0"/>
					<xs:element name="Linkage" type="sbriprod:Linkage" minOccurs="0"/>
					<xs:element name="Assessment" type="sbriprod:Assessment" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
Records insightful and value added information on organizations, such as: - recommendations on how much credit to extend to them, - assessments of their liquidity, - concise evaluations of their performance and behavior, - predictions on the risk of conducting business with them.  The predictive scores are usually calculated and assigned by D&amp;B, but such assessments may also be recorded when assigned by third parties.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FinancialRelationship" type="sbriprod:FinancialRelationship" minOccurs="0"/>
					<xs:element name="BorrowerAnalytics" type="sbriprod:BorrowerAnalytics" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
An aggregate which records detailed data regarding how the borrower is repaying their financial obligations to the lender.This is useful in evaluating the risk posed by a Borrower.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrganizationDetail">
		<xs:annotation>
			<xs:documentation>
Records the fundamental information about a Subject which may vary over time.
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FamilyTreeMemberRole" type="sbriprod:FamilyTreeMemberRole" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An entry loop that can repeat multiple times to allow the recording of various parts that the Subject plays as a member of an ownership structured family tree.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandaloneOrganizationIndicator" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
When turned ON (set to TRUE) it indicates that this organization is not a member of a legal family tree. This means it cannot play the role of a subsidiary, parent, headquarters or branch; i.e., FamilyTreeMemberRoleText cannot be present.
When turned OFF (set to FALSE) it indicates that this organization  is a member of a legal family tree. In this condition the FamilyTreeMemberRoleText must be present.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganizationIdentificationNumberSimpleType">
		<xs:sequence>
			<xs:element name="OrganizationIdentificationNumber">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="DNBCodeTableNumber" type="xs:int"/>
		<xs:attribute name="DNBCodeValue" type="sbriprod:DNBCodeValueType"/>
		<xs:attribute name="TypeText">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="64"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="OrganizationIdentificationNumberType">
		<xs:annotation>
			<xs:documentation>
Registration Number Details
         </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="sbriprod:OrganizationIdentificationNumberSimpleType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrganizationName">
		<xs:complexContent>
			<xs:extension base="sbriprod:SubjectName">
				<xs:sequence>
					<xs:element name="OrganizationPrimaryName" type="sbriprod:OrganizationPrimaryNameType" minOccurs="0"/>
					<xs:element name="TradeStyleName" type="sbriprod:OrganizationNameBaseType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrganizationNameBaseType">
		<xs:sequence>
			<xs:element name="OrganizationName" type="sbriprod:DNBStringType256"/>
			<xs:element name="DisplaySequence" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganizationPrimaryNameType">
		<xs:complexContent>
			<xs:extension base="sbriprod:OrganizationNameBaseType">
				<xs:sequence/>
				<xs:attribute name="RegisteredNameIndicator" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>
When turned ON (set to true), the organization name presented is the name by which it is registered at a local or national registry. 
When turned OFF (set to false), the organization name presented is not the name by which it is registered at a local or national registry.
                  </xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OverallPaymentHistorySummary">
		<xs:sequence>
			<xs:element name="TotalPaymentsCount" type="xs:int" nillable="true" minOccurs="0"/>
			<xs:element name="OnTimePaymentsPercentage" type="xs:decimal" nillable="true" minOccurs="0"/>
			<xs:element name="PastDuePercentageCycleSummary" type="sbriprod:PastDuePercentageCycleSummary" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="TotalChargeOffPaymentsCount" type="xs:int" nillable="true" minOccurs="0"/>
			<xs:element name="TotalChargeOffAmount" type="sbriprod:AmountType" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OverallSummary">
		<xs:sequence>
			<xs:element name="TotalMinimumPaymentAmount" type="sbriprod:AmountType" nillable="true" minOccurs="0"/>
			<xs:element name="TotalCurrentBalanceAmount" type="sbriprod:AmountType" nillable="true" minOccurs="0"/>
			<xs:element name="TotalCurrentDueAmount" type="sbriprod:AmountType" nillable="true" minOccurs="0"/>
			<xs:element name="TotalPastDueAmount" type="sbriprod:AmountType" nillable="true" minOccurs="0"/>
			<xs:element name="TotalPastDueCycleSummary" type="sbriprod:TotalPastDueCycleSummary" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Ownership">
		<xs:complexContent>
			<xs:extension base="sbriprod:Association">
				<xs:sequence>
					<xs:element name="DUNSNumber" type="sbriprod:DUNSNumberType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ParentAssociation">
		<xs:complexContent>
			<xs:extension base="sbriprod:FamilyTreeAssociation">
				<xs:sequence>
					<xs:element name="DUNSNumber" type="sbriprod:DUNSNumberType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PastDueCycleSummary">
		<xs:sequence>
			<xs:element name="CycleName" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PastDueAmount" type="sbriprod:AmountType" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PastDuePercentageCycleSummary">
		<xs:sequence>
			<xs:element name="CycleName" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PastDuePercentage" type="xs:decimal" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentHistory">
		<xs:sequence>
			<xs:element name="LenderName" nillable="true" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LenderID" type="xs:int" nillable="true" minOccurs="0"/>
			<xs:element name="PaymentReportedDate" type="sbriprod:DNBDateType" nillable="true" minOccurs="0"/>
			<xs:element name="NumberOfPaymentsPeriod" type="sbriprod:DurationType" nillable="true" minOccurs="0"/>
			<xs:element name="TotalPaymentsCount" type="xs:int" nillable="true" minOccurs="0"/>
			<xs:element name="PaymentHistoryPattern" nillable="true" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="24"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OnTimePaymentsCount" type="xs:int" nillable="true" minOccurs="0"/>
			<xs:element name="PaymentsCountCycleSummary" type="sbriprod:PaymentsCountCycleSummary" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ChargeOffAmount" type="sbriprod:AmountType" nillable="true" minOccurs="0"/>
			<xs:element name="ChargeOffDate" type="sbriprod:DNBDateType" nillable="true" minOccurs="0"/>
			<xs:element name="ChargeOffRecoveredAmount" type="sbriprod:AmountType" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentHistorySummary">
		<xs:sequence>
			<xs:element name="PaymentPeriod" type="sbriprod:DurationType" nillable="true" minOccurs="0"/>
			<xs:element name="ExperiencesTotalCount" type="xs:int" nillable="true" minOccurs="0"/>
			<xs:element name="PaymentWithinTermsCount" type="xs:int" nillable="true" minOccurs="0"/>
			<xs:element name="TotalNumberOfPaymentsPeriod" type="sbriprod:DurationType" nillable="true" minOccurs="0"/>
			<xs:element name="TotalOnTimePaymentsCount" type="xs:int" nillable="true" minOccurs="0"/>
			<xs:element name="TotalPaymentsCount" type="xs:int" nillable="true" minOccurs="0"/>
			<xs:element name="TotalChargeOffAmount" type="sbriprod:AmountType" nillable="true" minOccurs="0"/>
			<xs:element name="TotalChargeOffRecoveredAmount" type="sbriprod:AmountType" nillable="true" minOccurs="0"/>
			<xs:element name="TotalPaymentsCountCycleSummary" type="sbriprod:TotalPaymentsCountCycleSummary" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentsCountCycleSummary">
		<xs:sequence>
			<xs:element name="CycleName" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PastDuePaymentCount" type="xs:int" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PortfolioAssetContainerIDType">
		<xs:restriction base="xs:long"/>
	</xs:simpleType>
	<xs:simpleType name="PortfolioAssetIDType">
		<xs:restriction base="xs:long"/>
	</xs:simpleType>
	<xs:complexType name="PrimaryAddressType">
		<xs:complexContent>
			<xs:extension base="sbriprod:BaseAddressType">
				<xs:sequence>
					<xs:element name="ResidentialAddressIndicator" type="xs:boolean" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PrimaryIndustryCodeType">
		<xs:annotation>
			<xs:documentation>
Aggregate section containing multiple Industry Codes
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IndustryCode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="DNBCodeTableNumber" type="xs:int"/>
		<xs:attribute name="DNBCodeValue" type="sbriprod:DNBCodeValueType"/>
		<xs:attribute name="TypeText">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="64"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PrincipalIdentificationNumberType">
		<xs:annotation>
			<xs:documentation>
Registration Number Details
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PrincipalIdentificationNumber">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="DNBCodeTableNumber" type="xs:int"/>
		<xs:attribute name="DNBCodeValue" type="sbriprod:DNBCodeValueType"/>
		<xs:attribute name="TypeText" type="sbriprod:StringBaseType256"/>
	</xs:complexType>
	<xs:complexType name="Product">
		<xs:sequence>
			<xs:element name="DNBProductID" type="sbriprod:ProductCode"/>
			<xs:element name="InDateStatusText" type="sbriprod:DNBDecodedStringType" minOccurs="0"/>
			<xs:element name="LanguageCode" type="sbriprod:DNBCodeValueType" minOccurs="0"/>
			<xs:element name="Organization" type="sbriprod:Organization"/>
			<xs:element name="ArchiveDetail" type="sbriprod:ResponseArchiveDetail" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ProductCode">
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ProductResponseInquiryDetail">
		<xs:sequence>
			<xs:element name="DUNSNumber" type="sbriprod:DUNSNumberType" minOccurs="0"/>
			<xs:element name="SubjectID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number uniquely identifying the inquired subject within the D&amp;amp;B Worldwide Network.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CountryISOAlpha2Code" type="sbriprod:CountryISOAlpha2Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProductSpecification">
		<xs:sequence>
			<xs:element name="DNBProductID">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LanguagePreferenceCode" type="sbriprod:DNBCodeValueType" minOccurs="0"/>
			<xs:element name="CharacterSetPreferenceCode" type="sbriprod:DNBCodeValueType" minOccurs="0"/>
			<xs:element name="ProductFormatPreferenceCode" type="sbriprod:DNBCodeValueType" minOccurs="0"/>
			<xs:element name="ReturnOnlyInDateDataIndicator" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
When turned ON (set to true), the product is to be supplied if and only if the data requested is classified by the data source as being &#8220;in-date&#8221;, i.e., the data is answered from file (AFF).
When turned OFF (set to false), the product is to be supplied even if the data requested is not classified by the data source as being &#8220;in-date&#8221;, i.e., the data is answered from file (AFF).
When set to NULL it implies that the product is to be supplied as long as the product is deemed marketable.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderReasonCode" type="sbriprod:DNBCodeValueType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegisteredDetail">
		<xs:sequence>
			<xs:element name="LegalFormDetails" type="sbriprod:LegalFormDetailsType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="OrganizationIdentificationNumberDetail" type="sbriprod:OrganizationIdentificationNumberType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Request">
		<xs:sequence>
			<xs:element name="TransactionDetail" type="sbriprod:RequestTransactionDetail" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="ServiceVersionNumber" type="sbriprod:ServiceVersionNumber"/>
	</xs:complexType>
	<xs:complexType name="RequestTransactionDetail">
		<xs:sequence>
			<xs:element name="ApplicationTransactionID" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TransactionTimestamp" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="SubmittingOfficeID" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Response">
		<xs:sequence>
			<xs:element name="TransactionDetail" type="sbriprod:ResponseTransactionDetail"/>
			<xs:element name="TransactionResult" type="sbriprod:TransactionResult"/>
		</xs:sequence>
		<xs:attribute name="ServiceVersionNumber" type="sbriprod:ServiceVersionNumber" use="required"/>
	</xs:complexType>
	<xs:complexType name="ResponseArchiveDetail">
		<xs:sequence>
			<xs:element name="PortfolioAssetID" type="sbriprod:PortfolioAssetIDType"/>
			<xs:element name="PortfolioAssetContainerID" type="sbriprod:PortfolioAssetContainerIDType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResponseTransactionDetail">
		<xs:sequence>
			<xs:element name="ApplicationTransactionID" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ServiceTransactionID">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TransactionTimestamp" type="xs:dateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResultMessage">
		<xs:sequence>
			<xs:element name="ResultDescription">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RetrieveProductArchiveDetail">
		<xs:sequence>
			<xs:element name="PortfolioAssetContainerID" type="sbriprod:PortfolioAssetContainerIDType" minOccurs="0"/>
			<xs:element name="PortfolioAssetID" type="sbriprod:PortfolioAssetIDType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RetrieveProductRequest" type="sbriprod:RetrieveProductRequest"/>
	<xs:complexType name="RetrieveProductRequest">
		<xs:complexContent>
			<xs:extension base="sbriprod:Request">
				<xs:sequence>
					<xs:element name="RetrieveProductRequestDetail" type="sbriprod:RetrieveProductRequestDetail"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RetrieveProductRequestDetail">
		<xs:sequence>
			<xs:element name="ArchiveDetail" type="sbriprod:RetrieveProductArchiveDetail"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RetrieveProductResponse" type="sbriprod:RetrieveProductResponse"/>
	<xs:complexType name="RetrieveProductResponse">
		<xs:complexContent>
			<xs:extension base="sbriprod:Response">
				<xs:sequence>
					<xs:element name="RetrieveProductResponseDetail" type="sbriprod:RetrieveProductResponseDetail" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RetrieveProductResponseDetail">
		<xs:sequence>
			<xs:element name="Product" type="sbriprod:Product"/>
			<xs:element name="InquiryReferenceDetail" type="sbriprod:InquiryReferenceDetail" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Role"/>
	<xs:simpleType name="ServiceVersionNumber">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SeverityType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
			<xs:enumeration value="Error"/>
			<xs:enumeration value="Fatal"/>
			<xs:enumeration value="Information"/>
			<xs:enumeration value="Warning"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Shareholder">
		<xs:complexContent>
			<xs:extension base="sbriprod:Ownership">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SimpleAddress">
		<xs:sequence>
			<xs:element name="StreetAddressLine" type="sbriprod:StreetAddressLine" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PrimaryTownName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CountryISOAlpha2Code" type="sbriprod:CountryISOAlpha2Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StreetAddressLine">
		<xs:sequence>
			<xs:element name="LineText">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="240"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="StringBaseType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringBaseType256">
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Subject">
		<xs:sequence>
			<xs:element name="SubjectHeader" type="sbriprod:SubjectHeader"/>
			<xs:element name="Telecommunication" type="sbriprod:Telecommunication" minOccurs="0"/>
			<xs:element name="Location" type="sbriprod:Location"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubjectHeader">
		<xs:sequence>
			<xs:element name="DUNSNumber" type="sbriprod:DUNSNumberType" minOccurs="0"/>
			<xs:element name="SubjectID" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LastUpdateDate" type="sbriprod:DNBDateType" minOccurs="0"/>
			<xs:element name="FullReportDate" type="sbriprod:DNBDateSimpleType" minOccurs="0"/>
			<xs:element name="InquirySummary" type="sbriprod:InquirySummary" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="MostRecentInquiryDate" type="sbriprod:DNBDateType" minOccurs="0"/>
			<xs:element name="DUNSSelfRequestIndicator" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
When turned ON (set to TRUE), it indicates that the D-U-N-S Number for this subject was created at the request of the subject.
When turned OFF (set to FALSE) it indicates that the D-U-N-S Number for this subject was not created at the request of the subject.; however as this is the assumed condition there is no requirement to create this tag to represent this fact.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DUNSSelfRequestDate" type="sbriprod:DNBDateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The date when the subject requested a D-U-N-S number for itself.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubjectName" abstract="true"/>
	<xs:complexType name="Telecommunication">
		<xs:sequence>
			<xs:element name="TelephoneNumber" type="sbriprod:TelecommunicationNumberType" minOccurs="0"/>
			<xs:element name="FacsimileNumber" type="sbriprod:TelecommunicationNumberType" minOccurs="0"/>
			<xs:element name="WebPageAddress" type="sbriprod:WebPageAddressType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TelecommunicationNumberSimpleType">
		<xs:sequence>
			<xs:element name="TelecommunicationNumber">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InternationalDialingCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TelecommunicationNumberType">
		<xs:complexContent>
			<xs:extension base="sbriprod:TelecommunicationNumberSimpleType">
				<xs:sequence>
					<xs:element name="DomesticDialingCode" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:maxLength value="16"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="UnreachableIndicator" type="xs:boolean" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TotalPastDueCycleSummary">
		<xs:sequence>
			<xs:element name="CycleName" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TotalPastDueAmount" type="sbriprod:AmountType" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TotalPaymentsCountCycleSummary">
		<xs:sequence>
			<xs:element name="CycleName" nillable="true">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TotalPastDuePaymentCount" type="xs:int" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransactionResult">
		<xs:sequence>
			<xs:element name="SeverityText" type="sbriprod:SeverityType"/>
			<xs:element name="ResultID">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ResultText" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ResultMessage" type="sbriprod:ResultMessage" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="UnitOfSizeEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SingleUnits"/>
			<xs:enumeration value="Tens"/>
			<xs:enumeration value="Hundred"/>
			<xs:enumeration value="Thousand"/>
			<xs:enumeration value="Million"/>
			<xs:enumeration value="Billion"/>
			<xs:enumeration value="Trillion"/>
			<xs:enumeration value="Quadrillion"/>
			<xs:enumeration value="Quintillion"/>
			<xs:enumeration value="Sextillion"/>
			<xs:enumeration value="Septillion"/>
			<xs:enumeration value="Octillion"/>
			<xs:enumeration value="Nonillion"/>
			<xs:enumeration value="Decillion"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="WebPageAddressType">
		<xs:sequence>
			<xs:element name="TelecommunicationAddress">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="240"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UnreachableIndicator" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BorrowerAnalytics">
		<xs:annotation>
			<xs:documentation>
An aggregate which records derived data that is useful in evaluating the risk posed by a Borrower. Additionally, some of this data is used to dynamically calculate D&amp;B-developed scores that assess risk.
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BorrowerAnalyticsSummary" type="sbriprod:BorrowerAnalyticsOverallSummary" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records an overall summary of data regarding business accounts that have had monies extended to them by one or more lenders participating in the Small Business Risk Insight program, through financial vehicles like loans, leases, credit cards, or lines of credit, and who are expected to repay those amounts, sometimes with additional interest.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BorrowerAnalyticsCycleSummary" type="sbriprod:BorrowerAnalyticsCycleSummary" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An entry loop that repeats multiple times to record the details regarding the borrrower&apos;s business accounts for a particular cycle.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LoanAccountSummary" type="sbriprod:BorrowerAnalyticsAccountSummary" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records a detailed derived data regarding Loan accounts that have had monies extended to them by one or more lenders participating in the Small Business Risk Insight program and this data is useful in evaluating the risk posed by a Borrower on Loan accounts.it reflects all the Borrower&apos;s accounts of a Loan account.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LeaseAccountSummary" type="sbriprod:BorrowerAnalyticsAccountSummary" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records a detailed derived data regarding lease accounts that have had monies extended to them by one or more lenders participating in the Small Business Risk Insight program and this data is useful in evaluating the risk posed by a Borrower on Lease accounts.it reflects all the Borrower&apos;s accounts of a Lease account.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditCardAccountSummary" type="sbriprod:BorrowerAnalyticsAccountSummary" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records a detailed derived data regarding Credit Card accounts that have had monies extended to them by one or more lenders participating in the Small Business Risk Insight program and this data is useful in evaluating the risk posed by a Borrower on Credit Card accounts.it reflects all the Borrower&apos;s accounts of a Credit Card account.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditLineAccountSummary" type="sbriprod:BorrowerAnalyticsAccountSummary" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records a detailed derived data regarding Credit line accounts that have had monies extended to them by one or more lenders participating in the Small Business Risk Insight program and this data is useful in evaluating the risk posed by a Borrower on Credit line accounts.it reflects all the Borrower&apos;s accounts of a Credit line account.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BorrowerAnalyticsAccountSummary" type="sbriprod:BorrowerAnalyticsAccountSummary" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records a detailed data regarding business accounts that have had monies extended to them by one or more lenders participating in the Small Business Risk Insight program, through financial vehicles like loans, leases, credit cards, or lines of credit, and who are expected to repay those amounts, sometimes with additional interest. This data is useful in evaluating the risk posed by all the Borrowers on all types of accounts.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BorrowerAnalyticsOverallSummary">
		<xs:annotation>
			<xs:documentation>
Records a summarized  data regarding business accounts that have had monies extended to them by one or more lenders participating in the Small Business Risk Insight program, through financial vehicles like loans, leases, credit cards, or lines of credit, and who are expected to repay those amounts, sometimes with additional interest.
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OpenAccountsCount" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number specifying how many of the business&#8217; accounts are currently open.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountsOpenedLast12MonthsCount" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number specifying how many of the business&#8217; accounts were opened in the past 12 months.
This includes both open and closed accounts.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenClosedendAccountsOriginalProportionPercentage" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number specifying the portion of the business&#8217; total original amount on its closed-end accounts (loans and leases) that is now due (i.e., its current and past due amounts).
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenAccountsAverageDuration" type="sbriprod:DurationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
This is the mean age of the business&apos; open accounts, measured in months.

For example, if the currently open accounts were opened in October 2004, December 2003, and June 2000, then this is the average of the length of time since these dates. If the current month is December 2008 then the length of time since these dates, in months, are 50, 60 and 100 respectively and the average is (50+60+100)/3, which is 70.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenAccountsMinimumDuration" type="sbriprod:DurationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
This is the age of the business&apos; newest open credit card account, measured in months.

For example, if the currently open credit card accounts were opened in October 2004, December 2003, and April 2000, then this is the length of time since October 2004.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenAccountsMaximumDuration" type="sbriprod:DurationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
This is the age of the business&apos; oldest open lease account, measured in months.

For example, if the currently open lease accounts were opened in October 2004, December 2003, and April 2000, then this is the length of time since April 2000.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenAccountsTotalPastDueAmount" type="sbriprod:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A monetary figure specifying the sum of money currently overdue on all the business&apos; open credit card accounts, including any late charges and fees.

Please note that in contrast the cycle amounts never include late charges and fees.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenOpenendedAccountsUtilizationPercentage" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number specifying the portion of the available credit on the business&#8217; open-ended accounts (credit cards and lines of credit) that is currently used.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SatisfactorilyClosedAccountsCount" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number specifying how many of the business&apos; accounts were closed where the lender and the business were on good terms.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeSinceFirstAccountOpenedPeriod" type="sbriprod:DurationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
This is the longest period of time, in months, that the business&apos; has had an account on file with a lender.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeSinceLastChargeOffPeriod" type="sbriprod:DurationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
This is how long ago it has been, in months, since the business most recently had a debt that was written off by a lender.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeSinceAccountLastOpenedPeriod" type="sbriprod:DurationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
This is how long ago it has been, in months, since the business&apos; most recently opened a credit card account.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenAccountsTotalExposureAmount" type="sbriprod:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A monetary figure that gives the total exposure of all the business&apos; accounts (i.e., its total credit line on its open-ended accounts (credit cards and lines of credit) and its current balance on its close-ended accounts (loans and leases)).
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorstDelinquencyPast12MonthsCode" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
This code specifies how far behind this business has fallen on its credit card payments in the past 12 months.                                                              
                            
Examples are:
  0, for Current, 
  1, for Cycle 1, 
  2, for Cycle 2,
  3, for Cycle 3,
  4, for Cycle 4,
  5, for Cycle 5,
  6, for Charge Off.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorstDelinquencyPast3MonthsCode" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
This code specifies how far behind this business has fallen on its credit card payments in the past 3 months.                                                              
                            
Examples are:
  0, for Current, 
  1, for Cycle 1, 
  2, for Cycle 2,
  3, for Cycle 3,
  4, for Cycle 4,
  5, for Cycle 5,
  6, for Charge Off.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorstDelinquencyPast6MonthsCode" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
This code specifies how far behind this business has fallen on its credit card payments in the past 6 months.                                                              
                            
Examples are:
  0, for Current, 
  1, for Cycle 1, 
  2, for Cycle 2,
  3, for Cycle 3,
  4, for Cycle 4,
  5, for Cycle 5,
  6, for Charge Off.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvoluntarilyClosedAccountsAveragePeriod" type="sbriprod:DurationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
This is the mean length of time that has elapsed since the business&apos; forcefully closed accounts were first opened, measured in months.

For example, if accounts were involuntarily closed for this business in March 2006, January 2007, and June 2007, which had been opened, respectively, in October 2004, December 2003, and June 2000, then this is the average of the length of time since October 2004, December 2003 and June 2000. If the current month is December 2008 then the length of time since these dates, in months, are 50, 60 and 100 respectively and the average is (50+60+100)/3, which is 70. The date when the accounts were involuntarily closed is not relevant in determining this period.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvoluntarilyClosedAccountsMaximumPeriod" type="sbriprod:DurationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
This is the length of time since the business&#8217; oldest, forcefully closed account was first opened, measured in months.

For example, if accounts were involuntarily closed for this business in March 2006, January 2007, and June 2007, which had been opened, respectively, in October 2004, December 2003, and April 2000, then this is the length of time since April 2000.  The date when the accounts were involuntarily closed is not relevant in determining this period.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VoluntarilyClosedAccountsMaximumPeriod" type="sbriprod:DurationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
This is the length of time since the business&#8217; oldest, willingly closed account was first opened, measured in months.

For example, if accounts were voluntarily closed for this business in March 2006, January 2007, and June 2007, which had been opened, respectively, in October 2004, December 2003, and April 2000, then this is the length of time since April 2000.  The date when the accounts were voluntarily closed is not relevant in determining this period.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VoluntarilyClosedAccountsMinimumPeriod" type="sbriprod:DurationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
This is the length of time since the business&#8217; oldest, willingly closed account was first opened, measured in months.

For example, if accounts were voluntarily closed for this business in March 2006, January 2007, and June 2007, which had been opened, respectively, in October 2004, December 2003, and April 2000, then this is the length of time since April 2000.  The date when the accounts were voluntarily closed is not relevant in determining this period.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvoluntarilyClosedAccountsMinimumPeriod" type="sbriprod:DurationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
This is the length of time since the business&#8217; newest, forcefully closed account was first opened, measured in months.

For example, if accounts were involuntarily closed for this business in March 2006, January 2007, and June 2007, which had been opened, respectively, in October 2004, December 2003, and April 2000, then this is the length of time since October 2004.  The date when the accounts were involuntarily closed is not relevant in determining this period.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InquiriesBeforeLastWeekCount" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number specifying how many requests were made by D&amp;B customers for SBRI data on this business prior to last week.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InquiriesLast6MonthsCount" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number specifying how many requests were made by D&amp;B customers for SBRI data on this business in the past 6 months.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenAccountsEverPastDueWrittenOffCount" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number specifying how many of the business&apos; open lease accounts were ever uncollectible and written off as bad debt.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BorrowerAnalyticsCycleSummary">
		<xs:annotation>
			<xs:documentation>
An aggregate which records small businesses account details for the Borrowers on these commercial lending and credit accounts for a particular cycle.
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OpenAccountsAmount" type="sbriprod:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A figure specifying the sum of money currently overdue in this Cycle and higher, including Charge Offs, but excluding Cycle 5, on all the business&apos; accounts.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BorrowingCycleName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Text recording name of the past due Cycle, E.g., Cycle 1,Cycle 2..
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountsCount" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number specifying how many of the business&#8217; open accounts have at any time been past due Cycle.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenAccountsAmountCurrentBalanceProportionRatio" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number specifying the portion of the current balance amount on the business&apos; accounts that were past due in this cycle.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenAccountsAmountTotalPastDueProportionRatio" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number specifying the portion of the total past due amount on the business&apos; accounts that were past due in this cycle.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenAccountsPercentage" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number specifying the portion of the business&#8217; accounts that are currently in this Cycle  and in no higher Cycle.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenAccountsEverCount" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number specifying how many of the business&#8217; open credit card accounts have at any time been past due Cycle.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenAccountsEverPercentage" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number specifying the portion of all the business&apos; accounts that were at any time past due Cycle.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeSinceAccountsLastPeriod" type="sbriprod:DurationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
This is how long ago it has been, in months, since the business&apos; accounts were most recently past due in this Cycle.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BorrowerAnalyticsAccountSummary">
		<xs:annotation>
			<xs:documentation>
Records a detailed data regarding business accounts that have had monies extended to them by one or more lenders participating in the Small Business Risk Insight program, through financial vehicles like loans, leases, credit cards, or lines of credit, and who are expected to repay those amounts, sometimes with additional interest. 

         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OpenAccountsEverPastDueWrittenOffCount" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number specifying how many of the business&#8217; open accounts have at any time been uncollectible and written off as bad debt.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorstDelinquencyPast6MonthsCode" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
This code specifies how far behind this business has fallen on its payments in the past 6 months.               
Examples are:
  0, for Current, 
  1, for Cycle 1, 
  2, for Cycle 2,
  3, for Cycle 3,
  4, for Cycle 4,
  5, for Cycle 5,
  6, for Charge Off.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeSinceAccountLastOpenedPeriod" type="sbriprod:DurationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
This is how long ago it has been, in months, since the business&apos; most recently opened an account.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenAccountsAverageDuration" type="sbriprod:DurationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
This is the mean age of the business&apos; open accounts, measured in months.

For example, if the currently open accounts were opened in October 2004, December 2003, and June 2000, then this is the average of the length of time since these dates. If the current month is December 2008 then the length of time since these dates, in months, are 50, 60 and 100 respectively and the average is (50+60+100)/3, which is 70.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountsOpenedLast12MonthsCount" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number specifying how many of the business&#8217; accounts were opened in the past 12 months.
This includes both open and closed accounts.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenAccountsTotalPastDueAmount" type="sbriprod:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A figure specifying the sum of money currently overdue on all the business&apos; open accounts, including any late charges and fees.
Please note that in contrast the cycle amounts never include late charges and fees.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorstDelinquencyPast12MonthsCode" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
This code specifies how far behind this business has fallen on its payments in the past 12 months.              
Examples are:
  0, for Current, 
  1, for Cycle 1, 
  2, for Cycle 2,
  3, for Cycle 3,
  4, for Cycle 4,
  5, for Cycle 5,
  6, for Charge Off.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorstDelinquencyPast3MonthsCode" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
This code specifies how far behind this business has fallen on its payments in the past 3 months. 

Examples are:
  0, for Current, 
  1, for Cycle 1, 
  2, for Cycle 2,
  3, for Cycle 3,
  4, for Cycle 4,
  5, for Cycle 5,
  6, for Charge Off.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvoluntarilyClosedAccountsMinimumPeriod" type="sbriprod:DurationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
This is the length of time since the business&#8217; newest, forcefully closed account was first opened, measured in months.

For example, if accounts were involuntarily closed for this business in March 2006, January 2007, and June 2007, which had been opened, respectively, in October 2004, December 2003, and April 2000, then this is the length of time since October 2004.  The date when the accounts were involuntarily closed is not relevant in determining this period.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VoluntarilyClosedAccountsMinimumPeriod" type="sbriprod:DurationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
This is the length of time since the business&#8217; newest, willingly closed account was first opened, measured in months.

For example, if accounts were voluntarily closed for this business in March 2006, January 2007, and June 2007, which had been opened, respectively, in October 2004, December 2003, and April 2000, then this is the length of time since October 2004.  The date when the accounts were voluntarily closed is not relevant in determining this period.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SatisfactorilyClosedAccountsCount" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number specifying how many of the business&apos; accounts were closed where the lender and the business were on good terms.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenAccountsCount" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number specifying how many of the business&#8217; accounts are currently open.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenAccountsMaximumDuration" type="sbriprod:DurationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
This is the age of the business&apos; oldest open account, measured in months.

For example, if the currently open accounts were opened in October 2004, December 2003, and April 2000, then this is the length of time since April 2000.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenAccountsMinimumDuration" type="sbriprod:DurationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
This is the age of the business&apos; newest open account, measured in months.

For example, if the currently open accounts were opened in October 2004, December 2003, and April 2000, then this is the length of time since October 2004.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BorrowingAccountTypeText" type="sbriprod:DNBDecodedStringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Text that describes what type of lending account this is.  Examples are:Term Loan,Line of Credit,Credit Card/Revolving Credit,Lease Agreement.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountsTotalExposureAmount" type="sbriprod:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A monetary figure that gives the total current exposure of all the business&apos; accounts (i.e., its total credit line).
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AmountOutstandingPercentage" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number specifying the portion of the business&#8217; total original amount on its accounts that is now due (i.e., its current and past due amounts).
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenAccountsCurrentBalanceAmount" type="sbriprod:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A figure specifying the sum of money currently due on all the business&apos; open accounts.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvoluntarilyClosedAccountsAveragePeriod" type="sbriprod:DurationType" minOccurs="0"/>
			<xs:element name="BorrowerAnalyticsCycleSummary" type="sbriprod:BorrowerAnalyticsCycleSummary" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An aggregate which records small businesses account details for the Borrowers on these commercial lending and credit accounts for a particular cycle.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Assessment">
		<xs:sequence>
			<xs:element name="SBRIOriginationCreditCardScore" type="sbriprod:SBRIScore" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An entry loop that repeats multiple times to allow the recording of the most recent risk scores related to credit card accounts that are generated for the borrower organization.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SBRIOriginationLeaseScore" type="sbriprod:SBRIScore" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An entry loop that repeats multiple times to allow the recording of the most recent risk scores related to lease accounts that are generated for the borrower organization.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SBRIOriginationLoanScore" type="sbriprod:SBRIScore" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An entry loop that repeats multiple times to allow the recording of the most recent risk scores related to loan accounts that are generated for the borrower organization.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SBRIScore">
		<xs:sequence>
			<xs:element name="ScoreUseCautionText" type="sbriprod:DNBDecodedStringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Text that specifies why a generated score for a given borrower organization should be used with caution (e.g.  the organization is no longer considered a small business, etc.).  Example(s): A, E, S, etc.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScoreReason" type="sbriprod:ScoreReason" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An entry loop that repeats multiple times to specify why the Fair Isaac Co. (FICO) scoring model could not generate a score for a given borrower organization.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScoreCardID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number that specifies which &quot;path&quot; of algorithmic logic is taken within the Fair Isaac Co. (FICO) scoring model to generate a score for the borrower organization.

Example(s):
1, 2, 3, 4, 5, 6

               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScoreModelVersionNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The numeric value specifying the version of the statistical model.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BorrowerScore" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The actual score that is generated for the borrower organization.
The score may be zero or a positive number within a given range.

               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ScoreReason">
		<xs:sequence>
			<xs:element name="ScoreReasonText" type="sbriprod:DNBDecodedStringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Text that  specifies why the Fair Isaac Co. (FICO) scoring model could not generate a score for a given borrower organization.  The reasons may include (but not be limited to) a lack of credit information, a lack of payment information, etc.  Example(s): 9991 9992 9993 etc.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
