schemas/ReportProductService/V3.2/Schema/ReportProductService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 rel. 2 sp1 (x64) (http://www.altova.com) by Hari (D&B) -->
<!--W3C XML Schema generated by XMLSpy v2012 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rptprod="http://services.dnb.com/ReportProductServiceV2.0" targetNamespace="http://services.dnb.com/ReportProductServiceV2.0" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="3.2">
	<xs:annotation>
		<xs:documentation>
			Last Update Date: 2013-06-12
			Build Number: ReportProduct_2016_03_07
			</xs:documentation>
	</xs:annotation>
	<xs:complexType name="ArchiveDetail">
		<xs:sequence>
			<xs:element name="ArchiveProductOptOutIndicator" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
When turned ON (set to TRUE), it indicates that the product being ordered is not to be stored. 
When turned OFF (set to FALSE), it indicates that the product being ordered is to be stored; however as this is the assumed condition there is no requirement to create this tag to represent this fact.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtendArchivePeriodIndicator" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
When turned ON (set to TRUE), the duration to archive the data is to be extended. Note: There is an additional cost for extending the archival period of the data purchased. 
When turned OFF (set to FALSE), the duration to archive the data is not to be extended.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PortfolioAssetContainerID" type="rptprod:PortfolioAssetContainerIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number used to uniquely identify the location where this product is to be stored.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseAddressType">
		<xs:complexContent>
			<xs:extension base="rptprod:SimpleAddress">
				<xs:sequence>
					<xs:element name="MinorTownName" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
Text recording the name of a village, town or suburb where this is not a Primary Town/City. For example, &apos;Booker&apos; in Booker, High Wycombe.
                     </xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="TerritoryName" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
The name of the locally governed area which forms part of a centrally governed nation as received by D&amp;B.
Clarification Note:  As a guiding principle this is a geographic area which could theoretically exist as a separate nation. In the U.S. this would be a State. In the UK this would be one of the Home Nations.
                     </xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="128"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="TerritoryAbbreviatedName" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
The shortened name of the locally governed area which forms part of a centrally governed nation. For example &apos;NJ&apos; for the US State New Jersey within Country United States of America.
                     </xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="PostalCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
An identifier used by the local country Postal Authority to identify a particular geographic location. For example, in Belgium, Postal Code 9000 identifies the town of GHENT.
                     </xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="16"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="CountyOfficialName" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="TerritoryOfficialName" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="CountryOfficialName" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="CountryGroupName" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="LatitudeMeasurement" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="9"/>
								<xs:fractionDigits value="6"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="LongitudeMeasurement" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:totalDigits value="10"/>
								<xs:fractionDigits value="6"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="GeographicalPrecisionText" type="rptprod:DNBDecodedStringType" minOccurs="0"/>
					<xs:element name="UndeliverableIndicator" type="xs:boolean" minOccurs="0"/>
					<xs:element name="PrimaryTownWorldBaseCode" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:totalDigits value="32"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="CountyWorldBaseCode" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:totalDigits value="32"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="TerritoryWorldBaseCode" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
The D&amp;amp;B WorldBase code value that identifies locally governed area which forms part of a centrally governed nation as received by D&amp;amp;B.
Clarification Note:  As a guiding principle this is a geographic area which could theoretically exist as a separate nation. In the U.S. this would be a State. In the UK this would be one of the Home Nations.
                     </xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:totalDigits value="32"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MetropolitanStatisticalAreaUSCensusCode" type="xs:string" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>
A Geographical Region with a relatively high population density at its core and close economic ties throughout the area.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="LanguageCode" type="rptprod:DNBCodeValueType">
					<xs:annotation>
						<xs:documentation>
A D&amp;B code value that defines the language in which the data is presented.
                  </xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="WritingScriptCode" type="rptprod:DNBCodeValueType">
					<xs:annotation>
						<xs:documentation>
A D&amp;B code value that defines the set of graphic characters used for the written form of one or more languages, in which this data is presented.
                  </xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StreetAddressLine">
		<xs:annotation>
			<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of several street address lines of this address. This includes address line details prior to the Suburb or Town/City region address line. This includes the portion of the address lines which deal with the street address components, such as street name, street number, building name, estate name.
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LineText">
				<xs:annotation>
					<xs:documentation>
Text that records the street address components as it would be presented on an address label. This includes, but is not limited to, details such as street name, street number, building name, estate name.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="240"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DisplaySequence" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number which may be used to define the order in which this street address line should be presented relative to  other street address lines where the lower the number the earlier the data is presented.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SimpleAddress">
		<xs:sequence>
			<xs:element name="StreetAddressLine" type="rptprod:StreetAddressLine" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An entry loop which can repeat multiple times to allow the recording of  several lines where each address line contains one or more named address elements. Examples of named address elements are Street Name, Street Number, Building Name, Estate Name. They are called &#8220;lines&#8221; because an addres can be divided into multiple lines. When there are multiple lines the sequence of the lines must be preserved.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrimaryTownName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The name of the town or city recognized by the Postal Authority for delivering mail.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CountryISOAlpha2Code" type="rptprod:CountryISOAlpha2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The two-letter country code, defined in the ISO 3166-1 scheme published by International Organization for Standardization (ISO), identifying the country for this address.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CompanyDocumentDetails">
		<xs:sequence>
			<xs:element name="DocumentTypeDetail" type="rptprod:ResponseDocumentTypeDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records the data used to identify the publicly filed individual document to be returned.  This is applicable only when DocumentPackageName and FilingReferenceNumber are not present.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentPackageName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The name of a zip file containing one or more related publicly filed documents as recorded by the D&amp;amp;B Company Document Web Service. For example a UK package name &apos;L10AR&apos; represents  the Annual Returns filed for the last 10 years. This is applicable only when DocumentTypeDetails and FilingReferenceNumber are not present.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CompanyDocumentProduct">
		<xs:sequence>
			<xs:element name="Organization" type="rptprod:Organization">
				<xs:annotation>
					<xs:documentation>
Records data about an organization, a legal or commercial entity established to provide products and/or services in the marketplace or to the community.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentDetails" type="rptprod:CompanyDocumentDetails">
				<xs:annotation>
					<xs:documentation>
Records data about the document returned by the Companies House.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentHyperLinkAddress" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The Internet URL (Uniform Resource Locator) which identifies the online location where the document is stored.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="240"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ObjectAttachment" type="rptprod:ObjectAttachmentForResponse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records or holds the file attached to the XML document and information pertaining to the file.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArchiveDetail" type="rptprod:ResponseArchiveDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records data about the archival details of the product requested.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CompanyDocumentProductSpecification">
		<xs:sequence>
			<xs:element name="TradeUpIndicator" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
When turn ON (set to TRUE) this denotes that the customer has requested that D&amp;amp;B return the data for the Headquarters when the requested organization is a Branch.
When turn OFF (set to FALSE) this denotes that the customer has not requested that D&amp;amp;B return the data for the Headquarters when the requested organization is a Branch; however as this is the assumed condition there is no requirement to create this tag to represent this fact.
Note: There are D&amp;amp;B WorldWide Network operations where the Headquarters information will be returned automatically, regardless of the customer request.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentDetails" type="rptprod:DocumentDetails" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records the data used to identify the publicly filed documents to be returned.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentFilingHistoryRequiredIndicator" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
When turn ON (set to TRUE) this denotes that the customer has requested that D&amp;B return document filing history information additionally.
When turn OFF (set to FALSE) this denotes that the customer has not requested that D&amp;B return document filing history information additionally.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IncludeAttachmentIndicator" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>When turned ON (set to TRUE), the Content Object will be returned as an MTOM Attachment. When turned OFF (set to FALSE), the content object will be returned embedded within the XML / JSON Response.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CountryISOAlpha2Type">
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CountryReportInquiryDetail">
		<xs:sequence>
			<xs:element name="CountryISOAlpha2Code" type="rptprod:CountryISOAlpha2Type">
				<xs:annotation>
					<xs:documentation>
The two-letter country code, defined in the ISO 3166-1 scheme published by International Organization for Standardization (ISO)identifying the country of the inquired subject.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CountryReportProduct">
		<xs:sequence>
			<xs:element name="DNBProductID" type="rptprod:ProductCode">
				<xs:annotation>
					<xs:documentation>
An alphanumeric string that uniquely identifies this product.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LanguageCode" type="rptprod:DNBCodeValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A D&amp;B code value that defines the language in which the requested product is fulfilled.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ObjectAttachment" type="rptprod:ObjectAttachmentForResponse">
				<xs:annotation>
					<xs:documentation>
Records or holds the file attached to the XML document and information pertaining to the file.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArchiveDetail" type="rptprod:ResponseArchiveDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records data about the archival details of the product requested.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CountryReportProductSpecification">
		<xs:sequence>
			<xs:element name="DNBProductID" type="rptprod:ProductCode">
				<xs:annotation>
					<xs:documentation>
An alphanumeric string that uniquely identifies the product being requested.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductFormatPreferenceCode" type="rptprod:DNBCodeValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A D&amp;B code value that describes the defined structure in which the product is to be rendered, e.g., txt, xml, pdf.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CharacterSetPreferenceCode" type="rptprod:DNBCodeValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A D&amp;B code value denoting the set of graphic symbols (e.g., alphabet letter, pictograph) in which the product is to be rendered, e.g., Unicode.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LanguagePreferenceCode" type="rptprod:DNBCodeValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A D&amp;B code value that defines the language in which the customer wants this product to be rendered.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IncludeAttachmentIndicator" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>When turned ON (set to TRUE), the Content Object will be returned as an MTOM Attachment. When turned OFF (set to FALSE), the content object will be returned embedded within the XML / JSON Response.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CustomerReferenceText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="240"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DNBCodeValueType">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DNBDecodedStringType">
		<xs:simpleContent>
			<xs:extension base="rptprod:StringBaseType256">
				<xs:attribute name="DNBCodeValue" type="rptprod:DNBCodeValueType"/>
				<xs:attribute name="DNBCodeTableNumber" type="xs:integer"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DNBStringType256">
		<xs:simpleContent>
			<xs:extension base="rptprod:StringBaseType256">
				<xs:attribute name="LanguageCode" type="rptprod:DNBCodeValueType">
					<xs:annotation>
						<xs:documentation>
A D&amp;B code value that defines the language in which the data is presented.
                  </xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="WritingScriptISOAlpha4Code">
					<xs:annotation>
						<xs:documentation>
The four-letter code identifying the set of graphic characters used for the written form of one or more languages, defined in the ISO 15924 scheme published by International Organization for Standardization (ISO) in which this data is presented.
                  </xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="DUNSNumberType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:pattern value="([0-9a-zA-Z]*)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DeliveryDetail">
		<xs:sequence>
			<xs:element name="DeliveryMethodCode" type="rptprod:DNBCodeValueType">
				<xs:annotation>
					<xs:documentation>
A D&amp;B code value denoting the type of medium by which the product or service should be delivered to the Customer/User
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmailAddress" type="rptprod:EmailAddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
 An entry loop which can repeat multiple times to allow the recording of the email addresses provided by the Customer/User to which the product or service should be delivered.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentDetails">
		<xs:sequence>
			<xs:element name="DocumentTypeDetail" type="rptprod:RequestDocumentTypeDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records the data used to identify the publicly filed individual document to be returned.  This is applicable only when DocumentPackageName is not present.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentPackageName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The name of a zip file containing one or more related publicly filed documents as recorded by the D&amp;B Company Document Web Service. For example a UK package name &amp;apos;L10AR&amp;apos; represents  the Annual Returns filed for the last 10 years. This is applicable only when DocumentTypeDetails is not present.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FilingReferenceNumber" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The identifier given to this official document by a registry body. This is applicable only when DocumentTypeDetails and DocumentPackageName are not present.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EmailAddressType">
		<xs:annotation>
			<xs:documentation>
Records details regarding electronic mail addresses used for electronic messaging communication with the subject.
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TelecommunicationAddress">
				<xs:annotation>
					<xs:documentation>
Text recording the electronic mail address used by a subject by which the subject can transmit and or receive text messages, links, and files electronically, typically via a network, like the Internet.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="240"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InquiryDetail">
		<xs:sequence>
			<xs:element name="DUNSNumber" type="rptprod:DUNSNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The D-U-N-S Number is D&amp;B&apos;s identification number, which provides unique identification of this organization, in accordance with the Data Universal Numbering System (D-U-N-S).
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryISOAlpha2Code" type="rptprod:CountryISOAlpha2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The two-letter country code, defined in the ISO 3166-1 scheme published by International Organization for Standardization (ISO)identifying the country of the inquired subject.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrganizationIdentificationNumberDetail" type="rptprod:OrganizationIdentificationNumberTypeCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records the identifier issued by organizations to uniquely identify subjects. The issuing organization may be a Registration Authority, Government Department or Commercial Enterprise, e.g., Chamber of Commerce numbers, VAT numbers, etc.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InquiryReferenceDetail">
		<xs:sequence>
			<xs:element name="CustomerReferenceText" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>
A freeform reference string provided by the customer to be linked to the product in order to support subsequent order reconciliation.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="240"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomerBillingEndorsementText" type="rptprod:CustomerReferenceText" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Text that is filled in by customer and commonly contains requesting individual or department name, or customer&apos;s own account/reference number and/or name for the case on which the product was provided.This text is a reference used during the billing process.

               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ObjectAttachmentForCompanyReport">
		<xs:complexContent>
			<xs:extension base="rptprod:ObjectAttachmentForResponse">
				<xs:sequence>
					<xs:element name="DNBProductModuleID" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>
An alphanumeric string that uniquely identifies a section (i.e., module) of data within the requested product as defined by DNBProductID.
                     </xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ObjectAttachmentForResponse">
		<xs:sequence>
			<xs:element name="ContentObject" type="xs:base64Binary">
				<xs:annotation>
					<xs:documentation>
Records or holds the actual file (e.g. data, picture, blob) stored within the attachment.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ObjectFormatTypeText" type="rptprod:DNBDecodedStringType">
				<xs:annotation>
					<xs:documentation>
Text that describes the format of the attached file, e.g., txt, pdf, html.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="OrderCompanyPublicDocumentRequest" type="rptprod:OrderCompanyPublicDocumentRequest"/>
	<xs:complexType name="OrderCompanyPublicDocumentRequest">
		<xs:annotation>
			<xs:documentation>
This operation allows the Customer/User to access and download publicly filed documents from an external official registry body, e.g., Annual Accounts, Annual Returns.For UK business subjects these documents are provided by the UK Companies House for those documents which have been filed over the last 5 years .
         </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rptprod:Request">
				<xs:sequence>
					<xs:element name="OrderCompanyPublicDocumentRequestDetail" type="rptprod:OrderCompanyPublicDocumentRequestDetail" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
Records data provided by the Customer/User to access and download publicly filed documents from an external official registry body, e.g., Annual Accounts, Annual Returns.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrderCompanyPublicDocumentCoverPageDetail">
		<xs:annotation>
			<xs:documentation>
Records the cover page details from the customer to use in the public document image fabrication.
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DUNSNumber" type="rptprod:DUNSNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The D-U-N-S Number is D&amp;B&apos;s identification number, which provides unique identification of this organization, in accordance with the Data Universal Numbering System (D-U-N-S).
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrganizationPrimaryName" type="rptprod:OrganizationPrimaryNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records the different names of the organization by which it is known as well as names of other organizations that have a similar name to this organization.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrimaryAddress" type="rptprod:BaseAddressType" minOccurs="0"/>
			<xs:element name="UserName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Records the name of the user.    </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="240"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CustomerReferenceText" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A freeform reference string provided by the customer to be linked to the product in order to support subsequent order reconciliation.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="240"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrderCompanyPublicDocumentRequestDetail">
		<xs:sequence>
			<xs:element name="InquiryDetail" type="rptprod:InquiryDetail">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify identifying information about the subject being inquired.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductSpecification" type="rptprod:CompanyDocumentProductSpecification">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify the details of the requested product. This may include details such as the identifier of the product, the language in which the product needs to be rendered, the format in which the product needs to be rendered.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentCoverPageDetail" type="rptprod:OrderCompanyPublicDocumentCoverPageDetail" minOccurs="0"/>
			<xs:element name="DeliveryDetail" type="rptprod:DeliveryDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records the details about the mechanism by which the requested product or service is to be delivered.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArchiveDetail" type="rptprod:ArchiveDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify details about the archival of the product being requested.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InquiryReferenceDetail" type="rptprod:InquiryReferenceDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify information to be linked to this request in order to support subsequent order reconciliation.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="OrderCompanyPublicDocumentResponse" type="rptprod:OrderCompanyPublicDocumentResponse"/>
	<xs:complexType name="OrderCompanyPublicDocumentResponse">
		<xs:annotation>
			<xs:documentation>
This operation allows the D&amp;amp;B Company Document Web Service to respond to the request from the Customer/User to access and download publicly filed documents from an external official registry body, e.g., Annual Accounts, Annual Returns.  For UK business subjects these documents are provided by the UK Companies House for those documents which have been filed over the last 5 years .
         </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rptprod:Response">
				<xs:sequence>
					<xs:element name="OrderCompanyPublicDocumentResponseDetail" type="rptprod:OrderCompanyPublicDocumentResponseDetail" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
Records the data returned by the D&amp;amp;B Company Document Web Service to the Customer/User&apos;s request to access and download publicly filed documents from an external official registry body, e.g., Annual Accounts, Annual Returns.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrderCompanyPublicDocumentResponseDetail">
		<xs:sequence>
			<xs:element name="InquiryDetail" type="rptprod:InquiryDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify identifying information about the subject being inquired
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Product" type="rptprod:CompanyDocumentProduct" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records data about the product ordered by the customer and data about the organization on which the customer has placed this order.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InquiryReferenceDetail" type="rptprod:InquiryReferenceDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify information to be linked to the request in order to support subsequent order reconciliation.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="OrderCountryReportRequest" type="rptprod:OrderCountryReportRequest"/>
	<xs:complexType name="OrderCountryReportRequest">
		<xs:annotation>
			<xs:documentation>
Records data relating to requests for a product or products. This may include such details as the type of product required, the subject about which the product should be produced, the content of the product.
         </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rptprod:Request">
				<xs:sequence>
					<xs:element name="OrderCountryReportRequestDetail" type="rptprod:OrderCountryReportRequestDetail" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
Records data relating to requests for a product. This may include such details as the product required, the subject about which the product should be produced, the content of the product.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrderCountryReportRequestDetail">
		<xs:sequence>
			<xs:element name="InquiryDetail" type="rptprod:CountryReportInquiryDetail">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify identifying information about the subject being inquired, e.g., the DUNS Number, the address, the telephone number.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductSpecification" type="rptprod:CountryReportProductSpecification">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify the details of the requested product. This may include details such as the identifier of the product, the language in which the product needs to be rendered, the format in which the product needs to be rendered.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArchiveDetail" type="rptprod:ArchiveDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify details about the archival of the product being requested.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InquiryReferenceDetail" type="rptprod:InquiryReferenceDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify information to be linked to the request in order to support subsequent order reconciliation.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="OrderCountryReportResponse" type="rptprod:OrderCountryReportResponse"/>
	<xs:complexType name="OrderCountryReportResponse">
		<xs:annotation>
			<xs:documentation>
Records the data being returned to the customer as a result of a product request.
         </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rptprod:Response">
				<xs:sequence>
					<xs:element name="OrderCountryReportResponseDetail" type="rptprod:OrderCountryReportResponseDetail" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
Records the data being returned to the customer as a result of a product request.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrderCountryReportResponseDetail">
		<xs:sequence>
			<xs:element name="InquiryDetail" type="rptprod:CountryReportInquiryDetail">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify identifying information about the subject being inquired, e.g., the DUNS Number, the address, the telephone number.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Product" type="rptprod:CountryReportProduct">
				<xs:annotation>
					<xs:documentation>
Records data about the product ordered by the customer and data about the organization on which the customer has placed this order.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InquiryReferenceDetail" type="rptprod:InquiryReferenceDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify information to be linked to the request in order to support subsequent order reconciliation.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="OrderCompanyReportRequest" type="rptprod:OrderCompanyReportRequest"/>
	<xs:complexType name="OrderCompanyReportRequest">
		<xs:annotation>
			<xs:documentation>
This operation allows the Customer/User to request for a product offered by Damp;B
         </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rptprod:Request">
				<xs:sequence>
					<xs:element name="OrderCompanyReportRequestDetail" type="rptprod:OrderCompanyReportRequestDetail" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
Records data relating to requests for a product. This may include such details as the product required, the subject about which the product should be produced, the content of the product.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrderCompanyReportRequestDetail">
		<xs:sequence>
			<xs:element name="InquiryDetail" type="rptprod:InquiryDetail">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify identifying information about the subject being inquired, e.g., the DUNS Number, the address, the telephone number.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductSpecification" type="rptprod:ProductSpecification">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify the details of the requested product. This may include details such as the identifier of the product, the language in which the product needs to be rendered, the format in which the product needs to be rendered.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArchiveDetail" type="rptprod:ArchiveDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify details about the archival of the product being requested.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InquiryReferenceDetail" type="rptprod:InquiryReferenceDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify information to be linked to the request in order to support subsequent order reconciliation.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="OrderCompanyReportResponse" type="rptprod:OrderCompanyReportResponse"/>
	<xs:complexType name="OrderCompanyReportResponse">
		<xs:annotation>
			<xs:documentation>
This operation allows the Damp;B services to respond to the Customer/Userapos;s request for a product.
         </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rptprod:Response">
				<xs:sequence>
					<xs:element name="OrderCompanyReportResponseDetail" type="rptprod:OrderCompanyReportResponseDetail" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
Records the data being returned to the customer as a result of a product request.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrderCompanyReportResponseDetail">
		<xs:sequence>
			<xs:element name="InquiryDetail" type="rptprod:ProductResponseInquiryDetail">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify identifying information about the subject being inquired, e.g., the DUNS Number, the address, the telephone number.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Product" type="rptprod:Product">
				<xs:annotation>
					<xs:documentation>
Records data about the product ordered by the customer and data about the organization on which the customer has placed this order.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InquiryReferenceDetail" type="rptprod:InquiryReferenceDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records data that allows the customer to specify information to be linked to the request in order to support subsequent order reconciliation.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Organization">
		<xs:complexContent>
			<xs:extension base="rptprod:Subject">
				<xs:sequence>
					<xs:element name="OrganizationName" type="rptprod:OrganizationName" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
Records the different names of the organization by which it is known as well as names of other organizations that have a similar name to this organization.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RegisteredDetail" type="rptprod:RegisteredDetail" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
Records data registered by an organization with an external official registry body, a government entity or a commercial enterprise. This includes but is not limited to the following data: Legal Form, Stock Details, Organization Identification Numbers, Fiscal Period, Document Filings.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrganizationIdentificationNumberSimpleType">
		<xs:sequence>
			<xs:element name="OrganizationIdentificationNumber">
				<xs:annotation>
					<xs:documentation>
A number issued by an external official registry body, a government entity or a commercial enterprise  to uniquely identify an organization.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="TypeText" type="rptprod:StringBaseType256">
			<xs:annotation>
				<xs:documentation>
Text identifying the type of Organization Identification Number, e.g., Chamber of Commerce Number, Value Added Tax Number, Federal Taxpayer Identification Number, Companies Registry Office Number.
            </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DNBCodeValue" type="rptprod:DNBCodeValueType">
			<xs:annotation>
				<xs:documentation>
A unique number assigned by D&amp;B to identify the fact recorded in this data element.
            </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DNBCodeTableNumber" type="xs:int">
			<xs:annotation>
				<xs:documentation>
The identifier of the table in the D&amp;B Standard Code Table System (SCoTS) which has this unique D&amp;B code value.
            </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="OrganizationIdentificationNumberTypeCodeType">
		<xs:sequence>
			<xs:element name="OrganizationIdentificationNumber">
				<xs:annotation>
					<xs:documentation>
A number issued by an external official registry body, a government entity or a commercial enterprise  to uniquely identify an organization.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OrganizationIdentificationNumberTypeCode" type="rptprod:DNBCodeValueType">
				<xs:annotation>
					<xs:documentation>
A D&amp;amp;B code value which denotes the type of Organization Identification Number, e.g., Chamber of Commerce Number, Value Added Tax Number, Federal Taxpayer Identification Number, Companies Registry Office Number.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganizationName">
		<xs:complexContent>
			<xs:extension base="rptprod:SubjectName">
				<xs:sequence>
					<xs:element name="OrganizationPrimaryName" type="rptprod:OrganizationPrimaryNameType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
Records the single name by which the organization is primarily known / identified in different languages and/or writing scripts.
                     </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrganizationNameBaseType">
		<xs:sequence>
			<xs:element name="OrganizationName" type="rptprod:DNBStringType256">
				<xs:annotation>
					<xs:documentation>
Text recording a name of this organization in the specified language and/or writing script.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganizationPrimaryNameType">
		<xs:complexContent>
			<xs:extension base="rptprod:OrganizationNameBaseType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="PortfolioAssetContainerIDType">
		<xs:restriction base="xs:long"/>
	</xs:simpleType>
	<xs:simpleType name="PortfolioAssetIDType">
		<xs:restriction base="xs:long"/>
	</xs:simpleType>
	<xs:complexType name="Product">
		<xs:sequence>
			<xs:element name="DNBProductID" type="rptprod:ProductCode">
				<xs:annotation>
					<xs:documentation>
An alphanumeric string that uniquely identifies this product.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LanguageCode" type="rptprod:DNBCodeValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A D&amp;B code value that defines the language in which the requested product is fulfilled.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Organization" type="rptprod:Organization">
				<xs:annotation>
					<xs:documentation>
Records data about an organization, a legal or commercial entity established to provide products and/or services in the marketplace or to the community.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ObjectAttachment" type="rptprod:ObjectAttachmentForCompanyReport" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
Records or holds the file attached to the XML document and information pertaining to the file.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArchiveDetail" type="rptprod:ResponseArchiveDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records data about the archival details of the product requested.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CopyrightNoticeText" type="rptprod:StringBaseType128" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Text that specifies the underlying claim to copyright ownership of this product.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ProductCode">
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ProductResponseInquiryDetail">
		<xs:sequence>
			<xs:element name="DUNSNumber" type="rptprod:DUNSNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The D-U-N-S Number is D&amp;amp;B&amp;apos;s identification number, which provides unique identification of this organization, in accordance with the Data Universal Numbering System (D-U-N-S).
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryISOAlpha2Code" type="rptprod:CountryISOAlpha2Type">
				<xs:annotation>
					<xs:documentation>
The two-letter country code, defined in the ISO 3166-1 scheme published by International Organization for Standardization (ISO)identifying the country of the inquired subject.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrganizationIdentificationNumberDetail" type="rptprod:OrganizationIdentificationNumberTypeCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records the identifier issued by organizations to uniquely identify subjects. The issuing organization may be a Registration Authority, Government Department or Commercial Enterprise, e.g., Chamber of Commerce numbers, VAT numbers, etc.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProductSpecification">
		<xs:sequence>
			<xs:element name="DNBProductID" type="rptprod:ProductCode">
				<xs:annotation>
					<xs:documentation>
An alphanumeric string that uniquely identifies the product being requested.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DNBProductModuleID" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An alphanumeric string that uniquely identifies a section (i.e., module) of data within the requested product as defined by DNBProductID.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MergeModuleAttachmentsIndicator" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
When turned ON (set to TRUE), it indicates that the customer is requesting that the selected product modules be combined and delivered as a single attachement.

When turned OFF (set to FALSE), it indicates that the customer is requesting that the selected product modules be delivered as individual attachements; however as this is the assumed condition there is no requirement to create this tag to represent this fact.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductFormatPreferenceCode" type="rptprod:DNBCodeValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A D&amp;B code value that describes the defined structure in which the product is to be rendered, e.g., txt, xml, pdf.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CharacterSetPreferenceCode" type="rptprod:DNBCodeValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A D&amp;B code value denoting the set of graphic symbols (e.g., alphabet letter, pictograph) in which the product is to be rendered, e.g., Unicode.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LanguagePreferenceCode" type="rptprod:DNBCodeValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A D&amp;B code value that defines the language in which the customer wants this product to be rendered.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderReasonCode" type="rptprod:DNBCodeValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A D&amp;B code value that defines the grounds for the customer requesting the product, e.g., required to support a credit decision.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TradeUpIndicator" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
When turn ON (set to TRUE) this denotes that the customer has requested that D&amp;B return the data for the Headquarters when the requested organization is a Branch.
When turn OFF (set to FALSE) this denotes that the customer has not requested that D&amp;B return the data for the Headquarters when the requested organization is a Branch; however as this is the assumed condition there is no requirement to create this tag to represent this fact.
Note: There are D&amp;B WorldWide Network operations where the Headquarters information will be returned automatically, regardless of the customer request.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReturnOnlyInDateDataIndicator" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
When turned ON (set to TRUE), the product is to be supplied if and only if the data requested is classified by the data source as being &#8220;in-date&#8221;, i.e., the data is answered from file (AFF).
When turned OFF (set to FALSE), the product is to be supplied even if the data requested is not classified by the data source as being &#8220;in-date&#8221;, i.e., the data is answered from file (AFF).
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IncludeAttachmentIndicator" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>When turned ON (set to TRUE), the Content Object will be returned as an MTOM Attachment. When turned OFF (set to FALSE), the content object will be returned embedded within the XML / JSON Response.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegisteredDetail">
		<xs:annotation>
			<xs:documentation>
Records the constitutional status of a subject as defined under the laws of a country E.g.; Limited Company, Partnership, co-operative Society and the Stock Equity or share structure employed by a business according to the legal form and rules of incorporation. The owners of the stock or shares are the owners of the business.
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OrganizationIdentificationNumberDetail" type="rptprod:OrganizationIdentificationNumberSimpleType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An entry loop which can repeat multiple times to allow recording of the identifiers issued by an external official registry body, a government entity or a commercial enterprise  to uniquely identify an organization. Examples of an organization identification number are Chamber of Commerce numbers, Value Added Tax numbers and Tax Identification Numbers.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Request">
		<xs:sequence>
			<xs:element name="TransactionDetail" type="rptprod:RequestTransactionDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Records information necessary to process this request.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ServiceVersionNumber" type="rptprod:ServiceVersionNumber">
			<xs:annotation>
				<xs:documentation>
A number assigned by D&amp;B which either uniquely identifies or helps to identify the state of this software deliverable. These numbers are generally assigned in increasing order and correspond to new releases in the software. For example 2.0.
            </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RequestDocumentTypeDetail">
		<xs:sequence>
			<xs:element name="DocumentTypeCode" type="rptprod:DNBCodeValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A D&amp;amp;B code value which describes a type of document that the subject is required to publish or file with a registry or similar body, e.g., an annual return, a financial statement.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FilingDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>
The filing date of the document as recorded by the external official registry body.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentFormName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The name of the filing form used for the document,  e.g., 363a, 363s. The possible form names are defined by the external official registry body.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequestTransactionDetail">
		<xs:sequence>
			<xs:element name="ApplicationTransactionID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number assigned by the calling application to uniquely identify this request.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TransactionTimestamp" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The date and time when this request was created. When the request is from an intermediary, such as a workflow manager or service bus, this is the date and time when the message was sent to the D&amp;B function, i.e., the date and time when the xml document was created by the requesting intermediary.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubmittingOfficeID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number that identifies the system or the software application from where this request originated. / A number used to uniquely identfy the D&amp;amp;B business segment or delivery channel from where this request originated.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Response">
		<xs:sequence>
			<xs:element name="TransactionDetail" type="rptprod:ResponseTransactionDetail">
				<xs:annotation>
					<xs:documentation>
Records information necessary to process a particular request. Examples of a request is the ordering of a product.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransactionResult" type="rptprod:TransactionResult">
				<xs:annotation>
					<xs:documentation>
An aggregate that can repeat multiple times to record the different outcomes of the transaction.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ServiceVersionNumber" type="rptprod:ServiceVersionNumber" use="required">
			<xs:annotation>
				<xs:documentation>
A number assigned by D&amp;B which either uniquely identifies or helps to identify the state of this software deliverable. These numbers are generally assigned in increasing order and correspond to new developments in the software. E.g., 2.0.
            </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ResponseArchiveDetail">
		<xs:sequence>
			<xs:element name="PortfolioAssetID" type="rptprod:PortfolioAssetIDType">
				<xs:annotation>
					<xs:documentation>
A number used to uniquely identify this product in the location where it is stored.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PortfolioAssetContainerID" type="rptprod:PortfolioAssetContainerIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number used to uniquely identify the location where this product is stored.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResponseDocumentTypeDetail">
		<xs:sequence>
			<xs:element name="DocumentTypeText" type="rptprod:DNBDecodedStringType">
				<xs:annotation>
					<xs:documentation>
Text that describes a type of document that the subject is required to publish or file with a registry or similar body, e.g., an annual return, a financial statement.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FilingDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>
The filing date of the document as recorded by the external official registry body.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentFormName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The name of the filing form used for the document,  e.g., 363a, 363s. The possible form names are defined by the external official registry body.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResponseTransactionDetail">
		<xs:sequence>
			<xs:element name="ApplicationTransactionID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
A number assigned by the calling application to uniquely identify this request.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ServiceTransactionID">
				<xs:annotation>
					<xs:documentation>
A number assigned by the D&amp;B service to uniquely identify this transaction.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TransactionTimestamp" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>
The date and time when this request was submitted or the date and time when the requesting intermediary, such as a workflow manager or service bus, sent the message to the D&amp;B function, i.e., the date and time when the xml document was created by the requesting intermediary.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResultMessage">
		<xs:sequence>
			<xs:element name="ResultDescription">
				<xs:annotation>
					<xs:documentation>
Text that describes the additional information regarding the outcome of the transaction.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ServiceVersionNumber">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SeverityType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Error"/>
			<xs:enumeration value="Fatal"/>
			<xs:enumeration value="Information"/>
			<xs:enumeration value="Warning"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringBaseType128">
		<xs:restriction base="xs:string">
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringBaseType256">
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Subject">
		<xs:sequence>
			<xs:element name="SubjectHeader" type="rptprod:SubjectHeader">
				<xs:annotation>
					<xs:documentation>
Records high level information about the subject such as the primary language of the subject and the primary currency in which this subject trades. When the subject is an organizantion, this may also include details such as DUNS Number.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubjectHeader">
		<xs:annotation>
			<xs:documentation>
Records high level information about the subject such as the primary language of the subject and the primary currency in which this subject trades. When the subject is an organizantion, this may also include details such as DUNS Number.
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DUNSNumber" type="rptprod:DUNSNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
The D-U-N-S Number is D&amp;B&apos;s identification number, which provides unique identification of this organization, in accordance with the Data Universal Numbering System (D-U-N-S).
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryISOAlpha2Code" type="rptprod:CountryISOAlpha2Type">
				<xs:annotation>
					<xs:documentation>
The two-letter country code, defined in the ISO 3166-1 scheme published by International Organization for Standardization (ISO), identifying the country where the subject is located
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubjectName" abstract="true"/>
	<xs:complexType name="TransactionResult">
		<xs:sequence>
			<xs:element name="SeverityText" type="rptprod:SeverityType">
				<xs:annotation>
					<xs:documentation>
Text that records the criticality of the outcome, e.g., Information, Warning, Error, Fatal.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResultID">
				<xs:annotation>
					<xs:documentation>
An alphanumeric string that uniquely identifies the outcome of the transaction.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ResultText" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
Text that explains the outcome of the transaction.
               </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ResultMessage" type="rptprod:ResultMessage" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
An aggregate that can repeat multiple times to record textual data that expands on the ResultID and ResultText to provide additional information to the user regarding the status of the transaction. If the status implies that there is a problem this may also provide guidance to the user on how to address it.
               </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
